@import url(https://seele1306.github.io/Modular/src/main.min.css);

/* --- CUSTOMIZABLE --- */

/* Optional settings icons in Settings by saltssaumure */
@import url(https://minidiscordthemes.github.io/SettingsIcons/SettingsIcons.theme.css); /* comment out to disable */
/* Radial Status by coolesding */
@import url(https://raw.githubusercontent.com/coolesding/shiggycord/v2/Deploy/Radialstatus.css); /* comment out to disable */
/* Oneko instead of default DM button */
@import url(https://seele1306.github.io/Snippets/OnekoDM/import.css); /* comment out to disable */

:root {
	/* 
	* [[ BACKGROUND ]] 
	* Change to none to use solid color theme, or use one of the premade Nitro gradients, or make your own gradient or even add a background (must be an URL) */
	--modular-background: none !important; 
	--modular-background-blur-strength: 10px; /* in px, Default is 10px */
	--modular-background-brightness: 100%; /* Between 0 and 100% - Default is 100% */
	--modular-transparency: 25%; /* Between 0 and 50% - Default is 25% */

  	/* 
	* Available gradients: aurora, forest, hanami, lofi, mint-apple, mars, neon-nights, retro-raincloud, strawberry-lemonade, sepia,
  	* midnight-blurple, chroma-glow, citrus-sherbert, cotton-candy, crimson-moon, desert-khaki, dusk, retro-storm, sunrise, sunset, under-the-sea 
	*
	* Catppuccin colors are available for convenience, more information at https://github.com/catppuccin/catppuccin
	* To apply a color, use this format: var(--ctp-{scheme}-{color})
	* Available schemes (replace {scheme} with these): macchiato, macchiato, macchiato, macchiato
	* Available colors (replace {color} with these): rosewater, flamingo, pink, mauve, red, maroon, peach, yellow, green, teal, sky, sapphire, blue, lavender
	*/

	/* [[ OVERALL ACCENT ]] */
	--modular-hue: 232;
	--modular-saturation: 23%; /* Change the percentage to something else */
	--modular-lightness: 18%; /* Best between 0-30% for visibility */
	--modular-accent-color: var(--ctp-macchiato-mauve);

	/* [[ STATUS COLORS ]]  */ 
	--rs-online-color: var(--ctp-macchiato-green); 
	--rs-idle-color: var(--ctp-macchiato-yellow); 
  	--rs-dnd-color: var(--ctp-macchiato-red); 
	--rs-streaming-color: var(--ctp-macchiato-lavender);
	--rs-bot-color: var(--ctp-macchiato-blue); 

	/* [[ CHAT BUBBLE COLORS ]] */
	--chat-bubble-default: var(--background-modifier-accent);
	--chat-bubble-replying: var(--ctp-macchiato-sky);
	--chat-bubble-mentioned: var(--ctp-macchiato-peach);
	--chat-bubble-automod: var(--ctp-macchiato-red);

	/* [[ STAFF TAG COLORS ]] */
	--owner-color: var(--ctp-macchiato-pink);
	--admin-color: var(--ctp-macchiato-green);
	--staff-color: var(--ctp-macchiato-lavender);
	--mod-color: var(--ctp-macchiato-rosewater);
 
	/* [[ CLIENT BORDER RADIUS ]] */
	--modular-border-radius: 8px; /* Default is 8px */
	--modular-client-spacing: 12px; /* Default is 12px */
	--modular-client-radius: 4px; /* Default is 4px */

	/* [[ FONT CHANGE ]] */
	--font-main: "" ;
	--font-code: "" ;

	/* [[ USER PANEL SECTION BORDER ]] */
	--section-thickness: 0px; /* Default is 0px; 0px for no border */

	/* [[ GUILD LIST PARAMETERS ]] */
	--guild-item-radius: 4px; /* Default is 4px */
	--guild-item-spacing: 4px;  /* Default is 4px */

	/* [[ GENERAL LAYOUT ]] */
	--sidebar-orientation: column; /* column-reverse for user panel on top */
	--guild-orientation: row; /* row-reverse for guild bar on the right */
	--client-orientation: row; /* row-reverse for server list and user panel on the right */
	--memberlist-orientation: row; /* row-reverse for member list on the left */
	--friendlist-orientation: row; /* row-reverse for now playing tab on the left */
	--titlebar-name: "insert your name here or whatever quote you like I don't care";
}
