/* Color variables */
:root,
.theme-dark {
  /* RED */
  --red-100: var(--modular-red);
  --red-130: var(--modular-red);
  --red-160: var(--modular-red);
  --red-200: var(--modular-red);
  --red-230: var(--modular-red);
  --red-260: var(--modular-red);
  --red-300: var(--modular-red);
  --red-330: var(--modular-red);
  --red-345: var(--modular-red);
  --red-360: var(--modular-red);
  --red-400: var(--modular-red);
  --red-430: var(--modular-red);
  --red-460: var(--modular-red);
  --red-500: var(--modular-red);
  --red-530: var(--modular-red);
  --red-560: var(--modular-red);
  --red-600: var(--modular-red);
  --red-630: var(--modular-red);
  --red-645: var(--modular-red);
  --red-660: var(--modular-red);
  --red-700: var(--modular-red);
  --red-730: var(--modular-red);
  --red-760: var(--modular-red);
  --red-800: var(--modular-red);
  --red-830: var(--modular-red);
  --red-860: var(--modular-red);
  --red-900: var(--modular-red);

  /* GREEN */
  --green-100: var(--modular-green);
  --green-130: var(--modular-green);
  --green-160: var(--modular-green);
  --green-200: var(--modular-green);
  --green-230: var(--modular-green);
  --green-260: var(--modular-green);
  --green-300: var(--modular-green);
  --green-330: var(--modular-green);
  --green-345: var(--modular-green);
  --green-360: var(--modular-green);
  --green-400: var(--modular-green);
  --green-430: var(--modular-green);
  --green-460: var(--modular-green);
  --green-500: var(--modular-green);
  --green-530: var(--modular-green);
  --green-560: var(--modular-green);
  --green-600: var(--modular-green);
  --green-630: var(--modular-green);
  --green-645: var(--modular-green);
  --green-660: var(--modular-green);
  --green-700: var(--modular-green);
  --green-730: var(--modular-green);
  --green-760: var(--modular-green);
  --green-800: var(--modular-green);
  --green-830: var(--modular-green);
  --green-860: var(--modular-green);
  --green-900: var(--modular-green);

  /* YELLOW */
  --yellow-100: var(--modular-yellow);
  --yellow-130: var(--modular-yellow);
  --yellow-160: var(--modular-yellow);
  --yellow-200: var(--modular-yellow);
  --yellow-230: var(--modular-yellow);
  --yellow-260: var(--modular-yellow);
  --yellow-300: var(--modular-yellow);
  --yellow-330: var(--modular-yellow);
  --yellow-345: var(--modular-yellow);
  --yellow-360: var(--modular-yellow);
  --yellow-400: var(--modular-yellow);
  --yellow-430: var(--modular-yellow);
  --yellow-460: var(--modular-yellow);
  --yellow-500: var(--modular-yellow);
  --yellow-530: var(--modular-yellow);
  --yellow-560: var(--modular-yellow);
  --yellow-600: var(--modular-yellow);
  --yellow-630: var(--modular-yellow);
  --yellow-645: var(--modular-yellow);
  --yellow-660: var(--modular-yellow);
  --yellow-700: var(--modular-yellow);
  --yellow-730: var(--modular-yellow);
  --yellow-760: var(--modular-yellow);
  --yellow-800: var(--modular-yellow);
  --yellow-830: var(--modular-yellow);
  --yellow-860: var(--modular-yellow);
  --yellow-900: var(--modular-yellow);

  /* ORANGE */
  --orange-100: var(--modular-orange);
  --orange-130: var(--modular-orange);
  --orange-160: var(--modular-orange);
  --orange-200: var(--modular-orange);
  --orange-230: var(--modular-orange);
  --orange-260: var(--modular-orange);
  --orange-300: var(--modular-orange);
  --orange-330: var(--modular-orange);
  --orange-345: var(--modular-orange);
  --orange-360: var(--modular-orange);
  --orange-400: var(--modular-orange);
  --orange-430: var(--modular-orange);
  --orange-460: var(--modular-orange);
  --orange-500: var(--modular-orange);
  --orange-530: var(--modular-orange);
  --orange-560: var(--modular-orange);
  --orange-600: var(--modular-orange);
  --orange-630: var(--modular-orange);
  --orange-645: var(--modular-orange);
  --orange-660: var(--modular-orange);
  --orange-700: var(--modular-orange);
  --orange-730: var(--modular-orange);
  --orange-760: var(--modular-orange);
  --orange-800: var(--modular-orange);
  --orange-830: var(--modular-orange);
  --orange-860: var(--modular-orange);
  --orange-900: var(--modular-orange);

  /* TEAL */
  --teal-100: var(--modular-teal);
  --teal-130: var(--modular-teal);
  --teal-160: var(--modular-teal);
  --teal-200: var(--modular-teal);
  --teal-230: var(--modular-teal);
  --teal-260: var(--modular-teal);
  --teal-300: var(--modular-teal);
  --teal-330: var(--modular-teal);
  --teal-345: var(--modular-teal);
  --teal-360: var(--modular-teal);
  --teal-400: var(--modular-teal);
  --teal-430: var(--modular-teal);
  --teal-460: var(--modular-teal);
  --teal-500: var(--modular-teal);
  --teal-530: var(--modular-teal);
  --teal-560: var(--modular-teal);
  --teal-600: var(--modular-teal);
  --teal-630: var(--modular-teal);
  --teal-645: var(--modular-teal);
  --teal-660: var(--modular-teal);
  --teal-700: var(--modular-teal);
  --teal-730: var(--modular-teal);
  --teal-760: var(--modular-teal);
  --teal-800: var(--modular-teal);
  --teal-830: var(--modular-teal);
  --teal-860: var(--modular-teal);
  --teal-900: var(--modular-teal);

  /* BLUE */
  --blue-100: var(--modular-blue);
  --blue-130: var(--modular-blue);
  --blue-160: var(--modular-blue);
  --blue-200: var(--modular-blue);
  --blue-230: var(--modular-blue);
  --blue-260: var(--modular-blue);
  --blue-300: var(--modular-blue);
  --blue-330: var(--modular-blue);
  --blue-345: var(--modular-blue);
  --blue-360: var(--modular-blue);
  --blue-400: var(--modular-blue);
  --blue-430: var(--modular-blue);
  --blue-460: var(--modular-blue);
  --blue-500: var(--modular-blue);
  --blue-530: var(--modular-blue);
  --blue-560: var(--modular-blue);
  --blue-600: var(--modular-blue);
  --blue-630: var(--modular-blue);
  --blue-645: var(--modular-blue);
  --blue-660: var(--modular-blue);
  --blue-700: var(--modular-blue);
  --blue-730: var(--modular-blue);
  --blue-760: var(--modular-blue);
  --blue-800: var(--modular-blue);
  --blue-830: var(--modular-blue);
  --blue-860: var(--modular-blue);
  --blue-900: var(--modular-blue);

  /* New brand variables */
  --brand-100: color-mix(in srgb, #fff calc(97.6% - 32.5%), var(--brand-500));
  --brand-130: color-mix(in srgb, #fff calc(95.5% - 32.5%), var(--brand-500));
  --brand-160: color-mix(in srgb, #fff calc(92.9% - 32.5%), var(--brand-500));
  --brand-200: color-mix(in srgb, #fff calc(90% - 32.5%), var(--brand-500));
  --brand-230: color-mix(in srgb, #fff calc(87.1% - 32.5%), var(--brand-500));
  --brand-260: color-mix(in srgb, #fff calc(83.7% - 32.5%), var(--brand-500));
  --brand-300: color-mix(in srgb, #fff calc(78.8% - 32.5%), var(--brand-500));
  --brand-330: color-mix(in srgb, #fff calc(73.3% - 32.5%), var(--brand-500));
  --brand-345: color-mix(in srgb, #fff calc(67.5% - 32.5%), var(--brand-500));
  --brand-360: color-mix(in srgb, #fff calc(61.2% - 32.5%), var(--brand-500));
  --brand-400: color-mix(in srgb, #fff calc(52.9% - 32.5%), var(--brand-500));
  --brand-430: color-mix(in srgb, #fff calc(44.9% - 32.5%), var(--brand-500));
  --brand-460: color-mix(in srgb, #fff calc(38% - 32.5%), var(--brand-500));
  --brand-530: color-mix(in srgb, #000 calc(38% - 32.5%), var(--brand-500));
  --brand-560: color-mix(in srgb, #000 calc(44.9% - 32.5%), var(--brand-500));
  --brand-600: color-mix(in srgb, #000 calc(52.9% - 32.5%), var(--brand-500));
  --brand-630: color-mix(in srgb, #000 calc(61.2% - 32.5%), var(--brand-500));
  --brand-645: color-mix(in srgb, #000 calc(67.5% - 32.5%), var(--brand-500));
  --brand-660: color-mix(in srgb, #000 calc(73.3% - 32.5%), var(--brand-500));
  --brand-700: color-mix(in srgb, #000 calc(78.8% - 32.5%), var(--brand-500));
  --brand-730: color-mix(in srgb, #000 calc(83.7% - 32.5%), var(--brand-500));
  --brand-760: color-mix(in srgb, #000 calc(87.1% - 32.5%), var(--brand-500));
  --brand-800: color-mix(in srgb, #000 calc(90% - 32.5%), var(--brand-500));
  --brand-830: color-mix(in srgb, #000 calc(92.9% - 32.5%), var(--brand-500));
  --brand-860: color-mix(in srgb, #000 calc(95.5% - 32.5%), var(--brand-500));
  --brand-900: color-mix(in srgb, #000 calc(97.6% - 32.5%), var(--brand-500));

  --brand-05a: color-mix(in srgb, var(--brand-500) 5%, transparent);
  --brand-10a: color-mix(in srgb, var(--brand-500) 10%, transparent);
  --brand-15a: color-mix(in srgb, var(--brand-500) 15%, transparent);
  --brand-20a: color-mix(in srgb, var(--brand-500) 20%, transparent);
  --brand-25a: color-mix(in srgb, var(--brand-500) 25%, transparent);
  --brand-30a: color-mix(in srgb, var(--brand-500) 30%, transparent);
  --brand-35a: color-mix(in srgb, var(--brand-500) 35%, transparent);
  --brand-40a: color-mix(in srgb, var(--brand-500) 40%, transparent);
  --brand-45a: color-mix(in srgb, var(--brand-500) 45%, transparent);
  --brand-50a: color-mix(in srgb, var(--brand-500) 50%, transparent);
  --brand-55a: color-mix(in srgb, var(--brand-500) 55%, transparent);
  --brand-60a: color-mix(in srgb, var(--brand-500) 60%, transparent);
  --brand-65a: color-mix(in srgb, var(--brand-500) 65%, transparent);
  --brand-70a: color-mix(in srgb, var(--brand-500) 70%, transparent);
  --brand-75a: color-mix(in srgb, var(--brand-500) 75%, transparent);
  --brand-80a: color-mix(in srgb, var(--brand-500) 80%, transparent);
  --brand-85a: color-mix(in srgb, var(--brand-500) 85%, transparent);
  --brand-90a: color-mix(in srgb, var(--brand-500) 90%, transparent);
  --brand-95a: color-mix(in srgb, var(--brand-500) 95%, transparent);

  /* THESE SHOULD BE HIDDEN */
  /* General variables */
  --background-primary: var(--modular-bg0);
  --bg-base-primary: var(--modular-bg0);

  --background-secondary: var(--modular-bg1);
  --bg-base-secondary: var(--modular-bg1);
  --background-secondary-alt: var(--modular-bg1);

  --background-tertiary: var(--modular-bg2);
  --bg-base-tertiary: var(--modular-bg2);

  --background-floating: var(--modular-bg3);
  --brand-500: var(--modular-accent);

  --text-normal: var(--modular-text0);
  --text-muted: var(--modular-text2);

  --interactive-active: var(--modular-text1);
  --interactive-hover: var(--modular-text1);
  --interactive-normal: var(--modular-text0);
  --interactive-muted: var(--modular-text2);

  --header-primary: var(--modular-text0);
  --header-secondary: var(--modular-text2);

  --channels-default: var(--modular-text2);

  --background-modifier-accent: color-mix(
    in srgb,
    var(--modular-bg4) 40%,
    transparent
  );
  --background-modifier-hover: color-mix(
    in srgb,
    var(--modular-bg4) 70%,
    transparent
  );
  --background-modifier-selected: color-mix(
    in srgb,
    var(--modular-bg4) 100%,
    transparent
  );

  --mention-background: color-mix(in srgb, var(--brand-700) 50%, transparent);

  /* Chat bubbles */
  --chat-bubble-default: var(--modular-bg4);
  --chat-bubble-replying: var(--modular-blue);
  --chat-bubble-mentioned: var(--modular-yellow);
  --chat-bubble-automod: var(--modular-red);

  /* Chat bubbles requirements */
  --background-message-hover: none;
  --background-mentioned: none;
  --background-mentioned-hover: none;
  --background-message-highlight: none;
  --background-message-automod: none;
  --background-message-automod-hover: none;
  --info-warning-foreground: none;

  /* Scrollbars */
  --scrollbar-auto-thumb: var(--modular-accent);
  --scrollbar-auto-track: color-mix(
    in srgb,
    var(--modular-accent) 25%,
    transparent
  );
  --scrollbar-thin-thumb: var(--modular-accent);
  --scrollbar-thin-track: transparent;

  /* Role pill requirements */
  --profile-role-pill-background: none;

  /* Custom fonts */
  --font-primary: var(--font-main), gg sans;
  --font-display: var(--font-main), gg sans;
  --font-code: var(--font-code), monospace;

  /* Update versioning scheme */
  --modular-version: "v2.1.1";
}
