/* CHAT AREA */
:is(main,section)[class^=chatContent] .form-3gdLxP {
	padding: 0.25em;
}
.form-3gdLxP  {
	background: var(--background-primary-alt);
	border-radius: 0 0 var(--modular-border-radius) var(--modular-border-radius);
	margin-top: 0;
}
.form-3gdLxP .buttons-uaqb-5 button[style="padding: 0px 2px; height: 100%;"] img[src="https://discord.com/assets/4c5a77a89716352686f590a6f014770c.svg"] {
	content: url("https://cdn.discordapp.com/emojis/1024751291504791654.gif?size=48&name=shiggy%7E1&quality=lossless");
	padding: 0 2px;
	position: relative;
	top: 2px
}
:is(.form-3gdLxP, .searchBar-jGtisZ):is(:hover,:focus-within) {
  	background: color-mix(in srgb, var(--modular-accent-color) 50%, black);
	transition: all 100ms ease-in-out;
}
.sendIcon-1HcEzu path {
	fill: var(--modular-accent-color);
}
.form-3gdLxP .buttons-uaqb-5 {
    overflow: hidden;
    position: relative;
    justify-content: flex-end;
    transition: all 350ms;
}
.form-3gdLxP .buttons-uaqb-5>:is(button,div) {
	display: flex;
	justify-content: center;
}
.form-3gdLxP .buttons-uaqb-5:where(:not(:hover)){
    max-width: 32px;
}
.form-3gdLxP .buttons-uaqb-5::before {
    opacity: 0%;
    transition: opacity 150ms;
    position: absolute;
    bottom: 4px;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Crect width='352' height='42' x='80' y='96' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3Crect width='352' height='42' x='80' y='240' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3Crect width='352' height='42' x='80' y='384' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3C/svg%3E");
    display: block;
    width: 32px;
}
.form-3gdLxP .buttons-uaqb-5:where(:not(:hover))::before {
    opacity: 100%;
    transition: opacity 1000ms;
}
.form-3gdLxP .buttons-uaqb-5:hover {
    transition: all 150ms;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	height: unset;
	width: 200px;
}
.form-3gdLxP .buttons-uaqb-5 > :is(div,button) {
    transform: scaleX(0%) !important;
    opacity: 0%;
	display: flex;
	justify-content: center;
}
.form-3gdLxP .buttons-uaqb-5:hover > :is(div,button) {
    transform: scaleX(100%) !important;
    transition: opacity 300ms;
    opacity: 100%;
}
.buttons-uaqb-5 > :is(div,button):hover svg {
	color: var(--modular-accent-color);
}
.buttons-uaqb-5 > :is(div,button) svg {
    transition: all 0.3s;
}
.separator-3ng7S5 {
	grid-column: 4;
	margin-right: 8px;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}
.separator-3ng7S5 .innerButton-1aF_E_ {
	padding: 0;
	margin: 0;
}
.channelTextArea-1FufC0 .divider-2rZFJK {
	border-top: none;
}
.channelAttachmentArea-HwpkuQ {
  	background: color-mix(in srgb, var(--modular-accent-color) 50%, black);
	margin-left: 0.25em;
	padding: 0.5em;
	gap: 8px;
	width: fit-content;
}
.upload-vLbqu- {
	min-height: 150px;
	max-height: 150px;
	min-width: 150px;
	max-width: 150px;
}
.actionBar-1ozugS {
	transform: translate(-8px, 2px);
}
.actionBar-1ozugS .button-3bklZh {
  	background: color-mix(in srgb, var(--modular-accent-color) 50%, black);
}
/* ----- Aligned Chatbox ----- */
/* align edges of chatbox to sides */
:is(main,section)[class^=chatContent] > form { 
	padding: 0px;  
}
/* align chatbox to bottom */
:is(main,section)[class^=chatContent] > form > :first-child { 
	margin-bottom: 0px; 
}
/* center chatbox contents, no border radius */
:is(main,section)[class^=chatContent] > form > :first-child > * {
  	padding-top: 4px;
  	min-height: 49px;
  	border-radius: 0;
}
/* slowmode/typing indicator */
:is(main,section)[class^=chatContent] > form > :last-child[class^=typing] {
  	top: -32px;
  	right: 24px;
	padding: 4px 8px 4px 2px;
  	margin-left: auto;
  	width: fit-content;
	border-radius: var(--modular-border-radius) var(--modular-border-radius) 0 0;
  	background: color-mix(in srgb, var(--modular-accent-color) 50%, black);
}
/* jump to presz */
[class^=jumpToPresentBar] {
  	left: 0;
  	border-radius: 0px;
  	border-top-right-radius: var(--modular-border-radius);
  	opacity: 1;
	padding: 0;
  	background: color-mix(in srgb, var(--modular-accent-color) 50%, black);
  	right: unset;
}
[class^=jumpToPresentBar] > [class^=barButtonMain] {
  	flex: 0 0 auto;
}
main[class^=chatContent] [class^=attachedBars] {
	min-height: unset !important;
	position: relative;
	padding: 0 0 4px 0 !important;
	margin: -4px 20px 0 -4px !important;
	border-radius: 0 0 var(--modular-border-radius) 0 !important;
}
.separator-3ng7S5:before {
	border-left: 2.5px solid var(--modular-accent-color)
}
/* Positions both the *new messages* and *viewing old messages* bars on top of the channel text area. */
.barBase-3xxDXu {
    --bar-height: 24px;
    --bar-edges: 24px;
}
.messagesWrapper-RpOMA3:has(.newMessagesBar-1hF-9G):has(.jumpToPresentBar-1cEnH0) .barBase-3xxDXu {
    align-items: flex-start;
    height: var(--bar-height);
    overflow: hidden;
    width: calc(50% - var(--bar-edges));
}
.newMessagesBar-1hF-9G {
	margin-left: calc(var(--bar-edges)* -1);
    border-radius: 0 8px 0 0;
    inset: auto var(--bar-edges) 0;
  	background: color-mix(in srgb, var(--modular-accent-color) 50%, black);
}
.messagesWrapper-RpOMA3:has(.jumpToPresentBar-1cEnH0) .newMessagesBar-1hF-9G {
    left: auto;
}
.newMessagesBar-1hF-9G:hover .span-3lFnWr,
.jumpToPresentBar-1cEnH0:hover .barButtonMain-2GIx4o {
    animation: vertiscroll 0.5s linear forwards;
    display: block;
    height: auto;
    overflow: visible;
    white-space: normal;
}
@keyframes vertiscroll {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(calc(-100% + var(--bar-height)));
    }
}