/* [[ PROFILE PANEL IN DMS ]] */

.profilePanel_b433b4 {
  margin: calc(4px * var(--enable-client-border));
  padding: 4px;

  border: calc(2px * var(--enable-client-border)) solid
    var(--client-border-color);
  box-sizing: border-box;
  border-radius: calc(8px + 4px * var(--enable-client-border));

  /* Inner gradient background */
  & > .userPanelOuter_c69a7b {
    overflow: hidden;
    border-radius: calc(8px + 4px * var(--enable-client-border));
  }
}

.panelBanner_c3e427 {
  width: calc(100% - 8px - 2px * var(--enable-client-border) * 2);
  border-radius: calc(4px * var(--enable-client-border)) !important;
}

[class*="profilePanelConnections_"] {
  padding: 0 12px;
}

[class^="userPanelOverlayBackground__"] > [class*="container__"] > div {
  width: 100%;
}

:is(.mutualGuildsList_b433b4, .mutualFriendsList_b433b4) {
  margin: 4px 0;

  & > ul {
    margin: 8px 0;
  }

  & > button {
    background: transparent;
  }
}

[class*="connectionList_"] > div {
  padding: auto 8px;
  margin: 8px;
}

/* Notes section */
.textarea_dde0a8 {
  text-align: center;
}
