/* QUOTES */
[class*="markup-"] blockquote {
	padding: var(--quote-vertical-spacing) var(--quote-horizontal-spacing);
	background: color-mix(in srgb, var(--modular-accent-color) 25%, transparent);
	border-top-right-radius: var(--quote-border-radius);
	border-bottom-right-radius: var(--quote-border-radius)
}
.theme-dark[class*="markup-"] blockquote {
	color: var(--modular-accent-color);
	background-color: var(--modular-accent-color)
}
.theme-light[class*="markup-"] blockquote {
	color: var(--modular-accent-color)
}
[class*="blockquoteDivider-"] {
	background-color: var(--modular-accent-color)
}