/* [[ TOOLBAR HIDE ]] (( ADD-ON )) */
.toolbar-3_r2xA {
    overflow: hidden;
    justify-content: flex-end;
    transition: all 350ms;
}
.toolbar-3_r2xA:where(:not(:hover)){
    max-width: 32px;
}
.toolbar-3_r2xA::before {
    opacity: 0%;
    transition: opacity 150ms;
    position: absolute;
    bottom: 4px;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Crect width='352' height='42' x='80' y='96' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3Crect width='352' height='42' x='80' y='240' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3Crect width='352' height='42' x='80' y='384' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3C/svg%3E");
    display: block;
    width: 32px;
}
.toolbar-3_r2xA:where(:not(:hover))::before {
    opacity: 100%;
    transition: opacity 1000ms;
}
.toolbar-3_r2xA:hover {
    transition: all 150ms;
}
.toolbar-3_r2xA > div {
    transform: scaleX(0%) !important;
    opacity: 0%;
	display: flex;
	justify-content: center;
}
.toolbar-3_r2xA:hover > div {
    transform: scaleX(100%) !important;
    transition: opacity 300ms;
    opacity: 100%;
}
.toolbar-3_r2xA > div:hover svg {
	color: var(--modular-accent-color);
}
.toolbar-3_r2xA > div svg {
    transition: all 0.3s;
}