/* -------------------- [[ EXTRA IMPORTS GO HERE ]] -------------------- */
/* Colors */
@import url("https://raw.githubusercontent.com/SEELE1306/Modular/refs/heads/release/src/assets/new/root_210.css");

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

/* -------------------- [[ START OF MAIN CSS FILE ]] -------------------- */

:root {
  /* [[ START OF CUSTOMIZABLE PARAMETERS ]] */
  --font-main: "Inter";
  --font-code: "Roboto Mono";
  --modular-background-blur-strength: 5px;

  --modular-sidebar-orientation: column;
  --modular-guild-orientation: row;
  --modular-memberlist-orientation: row;
  --modular-friendlist-orientation: row;
  --modular-flavor: "Rosebox";
  --modular-version: "v2.1.2-20241231"; /* testing */
  --modular-spotify-bg-blur: 5px; /* higher px = stronger blur, 0 = no blur */
  --modular-spotify-darken: 0.25; /* 0 = album cover is not darkened, 1 = album cover is darkened fully (black) */

  --modular-red: #bf616a;
  --modular-yellow: #ebcb8b;
  --modular-green: #a3be8c;
  --modular-orange: #d08770;
  --modular-teal: #b48ead;
  --modular-blue: #88c0d0;

  --modular-bg0: #262626; /* Primary background color */
  --modular-bg1: #202020; /* Secondary background color */
  --modular-bg2: #151515; /* Tertiary background color */
  --modular-bg3: #323232; /* Quarterary background color */
  --modular-bg4: #393939; /* Modifier/hover/select background color */

  --modular-accent: #a57562; /* Accent color */

  --modular-text0: #d8c8c4; /* Normal text color */
  --modular-text1: #f6f1ef; /* Brighter text color */
  --modular-text2: #cab5b1; /* Darker text color */

  --modular-cb-width: fit-content; /* 100% for chat bubbles spanning the entire screen / fit-content for dynamic width, Default is fit-content */
}

/* [[ END OF CUSTOMIZABLE PARAMETERS ]] */

/* [[ ALL DISPLAY: NONE ELEMENTS ]] */
/* Unread labels */
[class*=unread_],
/* For Chat Bubbles */
.unreadMentionsBar_ef3116,
.replying__5126c::before,
.mentioned__5126c::before,
.automodMessage__5126c::before,
.content_f75fb0::before,
/* For Chat Area */
.form_f75fb0::before,
.form_f75fb0::after,
.chat_a44415::before,
/* Shorten right-click settings */
#user-settings-cog > .scroller_c1e9c4 > .item_c1e9c4, 
/* Notes in profile modal */
.aboutMeGuildIcon_b05b69,
/* Call icon */
.icon__235ca,
/* Unknown */
.children__9293f:after,
.iconContainerLeft_c1e9c4,
.bar__7aaec,
.attachment_fc8177,
.tabBody__133bf::before,
.wrapper__14245:after,
.option__56fec::before,
.option__56fec::after,
.wordmarkWindows__421ed path:not(:first-child),
.separator_aa63ab:before,
.emojiItemDisabled__843ea,
.content__65844 .iconContainer__2ea32,
.uploadInput__0923f,
.divider_b9fccc,
.divider_ae36e5,
.section_d7a21f > .buttonsContainer_b709ea,
.scroller__629e4 .sectionDivider__629e4,
.container_eff079:after,
.divider__8b90f,
.tabBar_d6f9e9,
.separator_c1e9c4,
.gradientContainer_bfe55a {
  display: none !important;
}

/* [[ SPOTIFY CONTROLS ]] */

#vc-spotify-player {
  background: transparent !important;
  position: relative;
  overflow: hidden;
  padding: 14px 12px;
  margin-bottom: 8px;
  
  border-radius: 8px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, var(--modular-spotify-darken)), rgba(0, 0, 0, var(--modular-spotify-darken))), var(--vc-spotify-track-image) center/cover no-repeat;
    clip-path: inset(0);
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, var(--modular-spotify-darken)), rgba(0, 0, 0, var(--modular-spotify-darken))), var(--vc-spotify-track-image) center/cover no-repeat;
    opacity: 0.5;
    filter: blur(var(--modular-spotify-bg-blur));
    transform: scale(20);
  }

  & > * {
    position: relative;
    z-index: 1;
  }

  & [class*="bar_"] {
    background: color-mix(in srgb, var(--modular-accent) 30%, transparent);
    height: 4px;

    &::after {
      content: "";
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: var(--vc-spotify-track-image) center/cover no-repeat;
      opacity: 0.5;
      filter: blur(calc(5 * var(--modular-spotify-bg-blur)));
      transform: scale(20);
    }
  }

  & [class*="barFill"] {
    background: var(--brand-300);
  }

  & :is(.vc-spotify-shuffle-off, .vc-spotify-repeat-off) {
    color: var(--brand-300) !important;
  }

  & .vc-spotify-button.vc-spotify-button {
    color: var(--brand-300);
    background: var(--background-modifier-accent);
    margin: 0 4px;
    scale: 0.85;

    &:hover {
      background: color-mix(in srgb, var(--modular-accent) 50%, transparent);
      color: var(--brand-300);
    }
  }

  &
    :is(
      .vc-spotify-shuffle-on,
      .vc-spotify-repeat-track,
      .vc-spotify-repeat-context
    ) {
    background: color-mix(
      in srgb,
      var(--modular-accent) 70%,
      transparent
    ) !important;
  }

  & .vc-spotify-button-row {
    margin-top: 15px;
  }

  & :is(.vc-spotify-time-right, .vc-spotify-time-left) {
    margin-top: 1px;
    font-weight: 600;
    letter-spacing: 0.05em;
  }

  &
    :is(
      .vc-spotify-comma,
      .vc-spotify-ellipoverflow,
      .vc-spotify-artist,
      .vc-spotify-album
    ) {
    margin-top: -2px;
    font-weight: 600;
  }

  & #vc-spotify-album-image {
    margin-top: -4px;
    border-radius: 8px;
  }

  & #vc-spotify-titles {
    margin-left: 0;
    padding-left: 0;
    flex: 1 auto;
  }
}

#vc-spotify-song-title {
  font-weight: 800;
}

#vc-spotify-info-wrapper {
  flex-direction: row-reverse;
}

/* Add border styling to Listening Along widget */
.listeningAlong_e0cf27 {
  margin-bottom: 4px;
  background: var(--background-primary);
  border-radius: 8px;
  border-bottom: none;
  
  padding: 5px 8px;
}

/* [[ VC CONTAINER + CONTROLS ]] */
.connection_e131a9,
.voiceUsers_e131a9 {
  padding: 8px 12px;
}

/* [[ QUOTES ]] */
[class*="markup_"] blockquote {
  padding: 4px 10px;
  background: color-mix(in srgb, var(--modular-accent) 25%, transparent);
  color: var(--modular-text0);
  border-radius: 0 4px 4px 0;
  max-width: fit-content;
}

[class*="blockquoteDivider_"] {
  background: var(--modular-accent);
}

/* [[ CHAT AREA ]] */
.themedBackground__74017 {
  background: var(--background-primary);
}

.messagesWrapper__36d07 > div {
  border-radius: 8px;
  background: var(--background-primary);
}

/* Align chat box to bottom */
.form_f75fb0 {
  margin-bottom: -24px;
  padding: 16px 0 0;

  /* Slowmode/typing indicators */
  & > :last-child[class^="typing"] {
    top: -24px;
    right: 24px;
    padding: 0px 16px 0px 8px;
    margin-left: auto;
    width: fit-content;
    border-radius: 6px;
    background: var(--brand-700);
  }
}

.separator_aa63ab {
  grid-column: 4;
  margin-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;

  & .innerButton_aa63ab {
    padding: 0;
    margin: 0;
  }
}

.channelTextArea_f75fb0 .divider__908e2 {
  border-top: none;
}

.channelAttachmentArea_b77158 {
  background: var(--background-tertiary);
  margin: 8px;
  padding: 8px;
  gap: 8px;
  border-radius: 8px;
  width: fit-content;
}

.upload_aa605f {
  min-height: 150px;
  max-height: 150px;
  min-width: 150px;
  max-width: 150px;
}

.actionBar_aa605f {
  transform: translate(0, -16px);

  & .button_f7ecac {
    background: var(--background-tertiary);
  }
}

/* jump to present */
.jumpToPresentBar__0f481 {
  padding: 0;
  left: 0;
  border-radius: 4px;
  margin: 4px 8px;
  width: fit-content !important;
  background: var(--brand-700) !important;
  right: unset;

  &:active {
    margin-bottom: 8px;
  }

  & > .barButtonMain__0f481 {
    flex: 0 0 auto;
  }

  &:hover .barButtonMain__0f481 {
    animation: vertiscroll 0.5s linear forwards;
    display: block;
    height: auto;
    overflow: visible;
    white-space: normal;
  }
}

.stackedBars__74017 {
  min-height: unset !important;
  position: relative;
  margin: 0px 24px 8px 0px;
  padding: 4px 0;
  border-radius: 8px !important;
}

.replyBar__841c8 {
  background: var(--background-tertiary);
}

.base_b88801 .typingDots_b88801 svg {
  margin-right: 4px;
}

/* [[ STAFF TAGS ]] */
[class*="botTag_"] {
  background: var(--brand-100);
  color: var(--brand-900);
  font-size: 0.2rem;
}

[class^="userTagNoNickname-"] > [class*="botTag"] {
  margin-bottom: 4px;
}

/* Fix bot tags */
.botText__82f07 {
  font-weight: bold;
}

.botTagVerified__82f07 > path {
  fill: var(--brand-900) !important;
}

/* [[ CHANNEL LIST ]] */
.selected__91a9d .layout__91a9d,
.channel__972a0.container-32HW5s > .interactiveSelected__972a0,
.navButtonActive__08434 {
  background: var(--background-modifier-selected);
}

:is(.containerDefault_c69b6d.selected_c69b6d, .modeUnreadImportant__2ea32)
  .icon__2ea32 {
  background: var(--brand-700);
}

.icon__2ea32 {
  width: 15px;
  height: 15px;
  margin: 2px 2px 0 0;
  border-radius: 4px;
  padding: 3px;
}

:is(.containerDefault_c69b6d.selected_c69b6d, .modeUnreadImportant__2ea32)
  .icon__2ea32 {
  color: var(--interactive-active);
}

.containerDefault_c69b6d:hover .icon__2ea32 {
  color: var(--interactive-active);
  background: color-mix(in srgb, var(--modular-accent) 50%, transparent);
}

/* [[ SHIKI CODEBLOCKS ]] */
[class*="markup_"] code {
  margin: 8px 0 8px 0;
}

[class*="markup_"] code.inline {
  border: none !important;
  font-weight: 600;
}

code:not(code.inline) {
  background: transparent;
}

.shiki-container {
  margin: 8px;
  border: unset;
  width: max-content;
}

/* Same button class */
.button_fb7f94 {
  border: none;
}

/* Badge container */
.container__8061a {
  border: none;
  padding: 1px 3px;
  background: var(--background-floating);
}

/* [[ MAIN BACKGROUND COMPONENTS ]] */

/* fix background selector */
.bg__960e4 {
  background: var(--background-primary);
}

.sidebar_c48ade,
.chat_f75fb0,
.container_c8ffbb {
  background: transparent;
}

.container_c48ade {
  background: var(--background-modifier-accent);
  margin: 16px;
  padding: 4px;
  box-sizing: border-box;
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  border-radius: 12px;
  flex-direction: var(--modular-guild-orientation);
  
}

.guilds_c48ade {
  border-radius: 8px;
  margin: 4px;
}

.wrapper_ef3116 {
  background: var(--background-primary);
  
}

/* [[ STATUS (ALTERNATIVE) ]] */
rect[fill="#23a55a"],
.status_a423bd[style="background-color: rgb(35, 165, 90);"] {
  fill: var(--modular-green) !important;
  background-color: var(--modular-green) !important;
}

rect[fill="#f0b232"],
.status_a423bd[style="background-color: rgb(240, 178, 50);"] {
  fill: var(--modular-yellow) !important;
  background-color: var(--modular-yellow) !important;
}

rect[fill="#f23f43"],
.status_a423bd[style="background-color: rgb(242, 63, 67);"] {
  fill: var(--modular-red) !important;
  background-color: var(--modular-red) !important;
}

rect[fill="#593695"] {
  fill: var(--modular-teal) !important;
}

/* [[ CHAT BUBBLES ]] */
/* ShowMeYourName plugin */
.vc-smyn-suffix {
  color: currentColor !important;
  opacity: 0.5;

  &::before {
    content: "| @" !important;
  }

  &::after {
    content: "" !important;
  }
}

/* Username */
.cozy_c19a55 .header_c19a55 {
  margin-bottom: 4px;
}

/* Fix avatars being all over the place */
.message__5126c.hasReply_c19a55 .avatar_c19a55 {
  top: 24px;
}

.message__5126c:not(.hasReply_c19a55) .avatar_c19a55 {
  top: 0;
}

/* Username */
.username_c19a55,
.base_b88801 .text_b88801 strong,
.name__841c8,
.mention.interactive,
[class^="repliedMessage_"] > .username_c19a55,
.member__5d473 .username_d272d6 {
  background: color-mix(in srgb, currentColor 20%, var(--background-floating));
  font-weight: bold;
  margin-right: 4px;
  padding: 0 6px;
  border-radius: 6px;
  display: inline-flex;

  &:hover {
    text-decoration: none;
    background: color-mix(in srgb, currentColor 30%, var(--background-floating));
  }
}

.username_c19a55::after {
  position: relative;
  margin: 0 0 0 8px;
  color: inherit;
}

/* Fix overflow on replied pings */
.repliedTextPreview_c19a55 {
  max-height: fit-content;
}

/* Timestamps */
@font-face {
  font-family: "Blank Dot";
  src: url("https://raw.githubusercontent.com/adobe-fonts/adobe-blank/master/AdobeBlank.ttf.woff");
  unicode-range: U+2022;
}

[class*="timestampInline_"],
.vc-reply-timestamp {
  font-family: "Blank Dot", var(--font-primary);
  position: relative;
  color: var(--primary-100) !important;
  letter-spacing: 0.05em;
  font-size: 10px !important;
  margin: 0 4px;
  height: 16px;
  border-radius: 4px;
  top: -2px;
  max-width: fit-content;
  line-height: 1rem !important;

  &:not(:has(time)) {
    background: var(--brand-600);
    padding: 0 4px 0 2px;
  }

  &:has(time) {
    background: var(--brand-600);
    padding: 0 4px;
  }
}

/* Align timestamps in replies */
.vc-reply-timestamp {
  text-align: center;
  margin-right: 8px;
  margin-left: 0;
  top: 0;
}

.contents_c19a55 [class^="botTagCozy_"] {
  border-radius: 4px;
  height: 16px;
  top: 2px;
}

/* Start of Chat Bubbles */
.mediaAttachmentsContainer__242e2 {
  margin-bottom: 0 !important;
}

.altText__0f481 {
  margin: 8px 0 -4px;
}

/* revert back to class selectors + add borders */
.markup__75297.messageContent_c19a55 a {
  background: var(--background-modifier-accent);
  color: var(--text-link);
  font-weight: 600;
  padding: 0 4px;
  border-radius: 4px;
}

/* Message embeds (Vencord plugin) */
.grid__623de {
  padding: 4px 8px 8px 6px;

  & .embedAuthor__623de {
    & span {
      font-weight: bold;
    }
  }

  & .message__02a39 {
    padding: 8px 0;

    & .avatar_c19a55 {
      margin: 0;
    }
  }
}

.groupStart__5126c.cozyMessage__5126c
  > .contents_c19a55:hover
  .markup__75297.messageContent_c19a55
  a,
.cozyMessage__5126c:not(.groupStart__5126c)
  > .contents_c19a55:hover
  > .markup__75297:not(:empty, .searchResultsWrap_a9e706 *)
  a {
  background: var(--background-modifier-hover);
  text-decoration: none;
}

.groupStart__5126c.cozyMessage__5126c > .contents_c19a55,
.cozyMessage__5126c:not(.groupStart__5126c)
  > .contents_c19a55
  > .markup__75297:not(:empty, .searchResultsWrap_a9e706 *),
.container_b7e1cb > :not(.reactions__23977, .searchResultsWrap_a9e706 *) {
  margin: 0;
  padding: 8px;
  border-radius: 8px;
  background: color-mix(in srgb, var(--chat-bubble-default) 25%, transparent);
  max-width: var(--modular-cb-width, max-content);
  min-width: var(--modular-cb-width, max-content);
  box-sizing: border-box;

  &:hover {
    background: color-mix(in srgb, var(--chat-bubble-default) 50%, transparent);
  }
}

/* Overwrite previous margin settings */
.groupStart__5126c.cozyMessage__5126c > .contents_c19a55,
.cozyMessage__5126c:not(.groupStart__5126c)
  > .contents_c19a55
  > .markup__75297:not(:empty, .searchResultsWrap_a9e706 *) {
  margin: 2px 0;
}

.container_b7e1cb > .embedSpotify__623de {
  height: fit-content;
  padding: 0;
  box-sizing: content-box;
}
*/

/* Fix overlapping of reactions */
.reactions__23977 {
  margin-top: 4px;
  margin-left: 0;
}

.altText__0f481 {
  margin: 8px 0 -4px;
}

.groupStart__5126c.cozyMessage__5126c.replying__5126c > .contents_c19a55,
.cozyMessage__5126c.replying__5126c:not(.groupStart__5126c)
  > .contents_c19a55
  > .markup__75297:not(:empty, .searchResultsWrap_a9e706 *),
.replying__5126c
  .container_b7e1cb
  > :not(.reactions__23977, .searchResultsWrap_a9e706 *) {
  background: color-mix(in srgb, var(--chat-bubble-replying) 25%, transparent);

  &:hover {
    background: color-mix(in srgb, var(--chat-bubble-replying) 50%, transparent);
  }
}

.groupStart__5126c.cozyMessage__5126c.mentioned__5126c > .contents_c19a55,
.cozyMessage__5126c.mentioned__5126c:not(.groupStart__5126c)
  > .contents_c19a55
  > .markup__75297:not(:empty, .searchResultsWrap_a9e706 *),
.mentioned__5126c
  .container_b7e1cb
  > :not(.reactions__23977, .searchResultsWrap_a9e706 *) {
  background: color-mix(in srgb, var(--chat-bubble-mentioned) 25%, transparent);

  &:hover {
    background: color-mix(in srgb, var(--chat-bubble-mentioned) 50%, transparent);
  }
}

.groupStart__5126c.cozyMessage__5126c.automodMessage__5126c > .contents_c19a55,
.cozyMessage__5126c.automodMessage__5126c:not(.groupStart__5126c)
  > .contents_c19a55
  > .markup__75297:not(:empty, .searchResultsWrap_a9e706 *),
.automodMessage__5126c
  .container_b7e1cb
  > :not(.reactions__23977, .searchResultsWrap_a9e706 *) {
  background: color-mix(in srgb, var(--chat-bubble-automod) 25%, transparent);
  border-radius: 8px;

  &:hover {
    background: color-mix(in srgb, var(--chat-bubble-automod) 50%, transparent);
  }
}

/* [[ EMBEDS ]] */
.embedFull__623de {
  overflow: hidden;
  border-left: none;
  z-index: 0;
  background: inherit;
  margin-top: 8px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    border-right: 100vw solid transparent;
    border-color: inherit;
    opacity: 0.5;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #00000099 !important;
    opacity: 0.5;
    z-index: -1;
    background: inherit;
  }
}

/* [[ PLATFORM INDICATORS ]] */
:is(.membersWrap_c8ffbb, .privateChannels__35e86) .vc-platform-indicator > svg {
  margin: 0 2px;
}

/* Fix rewrite of platform indicators */
.vc-platform-indicator {
  & > svg {
    width: 14px !important;
    height: 14px !important;
    margin-top: 2px;

    &[fill="#23a55a"] {
      fill: var(--modular-green);
    }

    &[fill="#f0b232"] {
      fill: var(--modular-yellow);
    }

    &[fill="#f23f43"] {
      fill: var(--modular-red);
    }

    &[data-tag="bot"] {
      fill: var(--modular-blue);
    }
  }
}

/* [[ TOOLTIPS ]] */
.reactionTooltip-3IOBwg {
  background: var(--background-floating) !important;
}

.theme-dark .tooltip__382e7,
.toolbar_bba883 {
  background: var(--background-floating);
}

/* normal tooltips */
.theme-dark [class*="tooltipTop"] .tooltipPointer__382e7 {
  border-top-color: var(--modular-accent);
  scale: 1.5;
  margin-top: 4px;
}

.theme-dark [class*="tooltipBottom"] .tooltipPointer__382e7 {
  border-top-color: var(--modular-accent);
  scale: 1.5;
  margin-bottom: 4px;
}

/* guild tooltip */
.theme-dark [class*="tooltipRight"] .tooltipPointer__382e7 {
  border-top-color: var(--modular-accent);
  scale: 1.5;
  left: -14px;
}

.theme-dark [class*="tooltipLeft"] .tooltipPointer__382e7 {
  border-top-color: var(--modular-accent);
  scale: 1.5;
  margin-left: 5px;
}

.tooltipContent__382e7 {
  padding: 4px 12px;
  margin-bottom: 4px;
}

/* text options tooltip */
.toolbar_bba883:before {
  border-top-color: var(--modular-accent);
}

/* [[ MEMBERS LIST ]] */
.members_c8ffbb {
  background: var(--background-primary);
  
  margin: 4px;
  border-radius: 8px;
}

.memberInner__5d473 {
  border-radius: 8px;
}

.vc-membercount-member-list {
  margin: 8px 0 8px 8px !important;
  padding: 8px;
  align-items: center;
  border-radius: 8px;
  background: var(--background-floating);

  & span {
    font-weight: bold;
  }
}

.content_f75fb0.container__0b563 {
  padding: 8px;
  flex-direction: column;
  margin: 4px;
  border-radius: 8px;
  
  background: var(--background-primary) !important;
}

.scrollerContainer_c6b11b {
  background: transparent !important;
}

/* [[ INBOX TAB ]] */
[class*="messagesPopoutWrap_"],
[class*="recentMentionsPopout_"] {
  height: 80vh;
}

[class*="recentMentionsPopout_"] .channelHeader__35a7e {
  margin: 0 0 4px 0;
  padding: 0 8px 0 20px;
}

.container__95796 .channelHeader__35a7e {
  margin-left: 16px;
  margin-bottom: 4px;
  border-radius: 8px;
}

/* [[ TITLEBAR ]] */

.wordmarkWindows__421ed {
  display: flex;
  align-items: center;
  order: 1;
  gap: 8px;
  margin-right: auto;
  margin-left: 4px;
  color: var(--header-primary);

  &::after {
    content: "Modular " var(--modular-version) " - " var(--modular-flavor);
    display: flex;
    width: fit-content;
    font-size: 14px;
    font-family: var(--font-display);
    font-weight: 600;
    background: var(--brand-700);
    border-radius: 4px;
    padding: 3px 6px;
  }

  & > svg {
    background: var(--modular-accent);
    padding: 4px;
    border-radius: 50%;
    width: 18px;
    height: 18px;

    & > g {
      transform: translateY(-75%);
    }
  }

  & path:first-child {
    d: path(
      "M23.0212 1.67671C21.3107 0.879656 19.5079 0.318797 17.6584 0C17.4062 0.461742 17.1749 0.934541 16.9708 1.4184C15.003 1.12145 12.9974 1.12145 11.0283 1.4184C10.819 0.934541 10.589 0.461744 10.3368 0.00546311C8.48074 0.324393 6.67795 0.885118 4.96746 1.68231C1.56727 6.77853 0.649666 11.7538 1.11108 16.652C3.10102 18.1418 5.3262 19.2743 7.69177 20C8.22338 19.2743 8.69519 18.4993 9.09812 17.691C8.32996 17.3997 7.58522 17.0424 6.87684 16.6135C7.06531 16.4762 7.24726 16.3387 7.42403 16.1847C11.5911 18.1749 16.408 18.1749 20.5763 16.1847C20.7531 16.3332 20.9351 16.4762 21.1171 16.6135C20.41 17.0369 19.6639 17.3997 18.897 17.691C19.3052 18.4993 19.7718 19.2689 20.3021 19.9945C22.6677 19.2689 24.8929 18.1364 26.8828 16.6466H26.8893C27.43 10.9731 25.9665 6.04728 23.0212 1.67671ZM9.68041 13.6383C8.39754 13.6383 7.34085 12.4453 7.34085 10.994C7.34085 9.54272 8.37155 8.34973 9.68041 8.34973C10.9893 8.34973 12.0395 9.54272 12.0187 10.994C12.0187 12.4453 10.9828 13.6383 9.68041 13.6383ZM18.3161 13.6383C17.0332 13.6383 15.9765 12.4453 15.9765 10.994C15.9765 9.54272 17.0124 8.34973 18.3161 8.34973C19.6184 8.34973 20.6751 9.54272 20.6543 10.994C20.6543 12.4453 19.6184 13.6383 18.3161 13.6383Z"
    ) !important;
    scale: 2;
  }
}

.typeWindows__421ed {
  margin-top: 0;
  padding-right: 8px;
  height: fit-content;
  background: var(--background-floating);

  & > * {
    position: relative;
  }
}

.winButton__421ed {
  top: 0 !important;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin: 8px;
  background: var(--brand-700);

  &:hover {
    background: var(--brand-500);
  }
}

/* [[ DAY AND UNREAD INDICATORS ]] */
.isUnread__908e2 .content__908e2 {
  background: var(--modular-red);
  border: none;
  padding: 2px 8px;
  text-align: center;
  color: var(--text-normal);
}

.content__908e2 {
  background: var(--modular-red);
  padding: 2px 8px;
  text-align: center;
  color: var(--text-normal);
}

/* [[ DMS SEARCH BAR ]] */

.searchBar__35e86 {
  background: var(--background-primary);

  
  margin: 4px;
  border-radius: 8px;
  box-shadow: none;

  & .searchBarComponent__35e86 {
    text-align: center;
    background: transparent;
    font-size: 16px;
    font-weight: 700;
  }

  &:hover {
    background: var(--background-modifier-hover);

    & .searchBarComponent__35e86 {
      color: var(--interactive-hover);
    }
  }
}

/* [[ USER PANEL ]] */
[class^="nameTag_"][class*="canCopy_"] {
  margin-left: 6px;
}

.container__37e49 {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 0px;
  padding: 0;
  margin: 0;
  border-radius: 8px;
  
  overflow: hidden;
  background: var(--background-primary) !important;

  & > .avatarWrapper__37e49 {
    width: 100%;
    height: 50px;
    padding: 0 16px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 0;
  }

  & > .flex__7c0ba {
    width: 100%;
    justify-content: center;
    gap: 0px;

    & > button {
      height: 40px;
      width: 100%;
      border-radius: 0;
      z-index: 0;
    }
  }
}

[class^="actionButtons_"] {
  display: flexbox;
  order: -1;
  box-sizing: border-box;
  gap: 0;
  padding-top: 0;

  & [class^="button_"][class*="buttonColor_"] {
    height: 40px;
    background: transparent;

    &:hover {
      background: var(--brand-700) !important;
    }
  }
}

.panels_c48ade {
  background: transparent !important;
  margin: 4px;
  position: relative;
  transition: background 250ms ease-in-out;
}

/* [[ GUILD BOOSTS ]] */
.textArea_eff079 {
  padding: 0 8px;
}

.progressBar_eff079 {
  height: 40px;
  border-radius: 8px;
  background: color-mix(in srgb, var(--modular-accent) 50%, transparent);
}

.containerWithMargin_eff079 {
  position: relative;
  top: 25px;
  margin: 0;
  padding: 0;
  width: 105%;
}

.tadaIcon_eff079 {
  right: 98%;
  top: 6px;
  translate: none;
  font-size: 36px;
  opacity: 0.5;
}

.progressBarContainer_eff079 {
  top: -40px;
  z-index: -1;
  height: 40px;
  border-radius: 8px;
  background: var(--background-tertiary) !important;
}

.container_eff079 {
  position: relative;
  top: 25px;
  margin: 0;
  padding: 0;
  width: 105%;

  &:hover {
    /* Remove animation for performance */
    & .progressBar_eff079 {
      background: color-mix(in srgb, var(--modular-accent) 75%, transparent);
    }
  }
}

/* ------------------------------------------------ [[ UNSORTED ]] -------------------------------------- */

.chatContent_f75fb0 {
  box-sizing: border-box;
  overflow: hidden;
  background: transparent;

  
  margin: 4px;
  border-radius: 8px;
}

.sidebar_c48ade {
  display: flex;
  flex-direction: var(--modular-sidebar-orientation);
  max-width: 240px;
}

.pageBody__41ed7 {
  padding: 8px;
  margin: 4px;
}

.container__2637a {
  overflow: hidden;
  padding: 8px;
  margin: 4px;
  border-radius: 8px;
  background: var(--background-primary) !important;
}

.resizeHandle__01ae2 {
  height: 99%;
  background: var(--background-tertiary-alt) !important;
  margin-top: 0.4em;
}

.container_c8ffbb {
  background: transparent;
  padding: 0;
}

.container__34c2c {
  background: var(--background-tertiary);
  margin: 4px;
}

.scroller__99e7c {
  padding: 4px 0;
  margin: 4px;
  border-radius: 8px;
  background: var(--background-primary) !important;

  
}

.fieldList__1fed1 {
  background: transparent;
}

.userInfo__1fed1 .button__67645 {
  background: var(--channel-icon);
  margin-right: 12px;
}

.actionButtons_e131a9 .lookFilled__201d5.colorBrand__201d5 {
  border-radius: unset;
  background: transparent;
}

.constrainedRow__1fed1 .button.button__67645 {
  background: var(--button-secondary-background);
  padding: 4px 8px;
  margin: 0 8px;
}

[class*="container_"] > [class*="wrapper_"][class*="userSelectNone_"] {
  padding: 16px;
  margin: 8px 0 8px 0;
  background: var(--background-tertiary) !important;
}

div[class|="message"] div[class|="markup"] ol {
  margin-left: unset;
  list-style-position: inside !important;
}

.peopleColumn__133bf {
  border-radius: 8px;
  padding: 4px;
  margin: 4px;
  background: var(--background-primary);

  
}

.buttonsContainer__02a39 > div {
  margin: 4px;
  font-weight: 800;
}

.privateChannels__35e86 {
  background: transparent;
}

.children__9293f:after,
.form_f75fb0:before {
  content: none;
}

.contentWrapper__08434 {
  background: var(--background-tertiary);
}

.wrapper__14245 {
  background: var(--background-modifier-selected);
  margin: 8px 0;
}

.container_fea832 {
  background: var(--background-modifier-selected);
}

.actionButton_f8fa06 {
  background: var(--background-modifier-selected);
}

.searchBar__5ec2f {
  background: var(--background-modifier-selected);
}

.formTitle-2YQyhj {
  color: var(--header-primary);
  font-size: 16px;
}

.rowContainer-3t7486 {
  background: var(--channel-icon);
}

.header_f37cb1 {
  padding: 8px;
  margin: 4px 4px 0;
  background: var(--brand-700);
  border-radius: 8px;
  box-shadow: var(--elevation-high);
}

.embedSpotify__623de {
  padding: 4px 0;
}

.nowPlayingColumn__133bf {
  margin: 4px;
  border-radius: 8px;
  background: var(--background-primary);
  
  box-sizing: border-box;
  overflow: hidden;
}

/* [[ FORUM ]] */
.container_faa96b,
.mainCard_f369db {
  background: var(--background-tertiary);
}

.theme-dark .outer_bf1984.interactive_bf1984:hover {
  background: var(--background-modifier-selected);
}

.wrapper__00943,
.scroller__7d20c {
  border: unset;
}

.wrapper__00943 {
  background: var(--background-tertiary);
}

.theme-dark .inset_bf1984 {
  background: transparent;
}

.section__00943 {
  background: var(--background-modifier-accent);
}

.scroller__7d20c {
  margin-left: 0;
}

.theme-dark .pageWrapper_a3a4ce {
  margin: 4px 0 4px 12px;
  background: var(--background-tertiary);
}

.title__1472a,
.title_ace4f5,
.label_b717a1,
.legend_b717a1 {
  font-size: 16px;
}

.content_f75fb0 {
  flex-direction: var(--modular-memberlist-orientation);
}

.tabBody__133bf {
  flex-direction: var(--modular-friendlist-orientation);
}

.linkButtonIcon__972a0 {
  color: var(--interactive-active);
}

.placeholder__1b31f {
  color: var(--text-muted);
}

.theme-light .container_c2efea {
  background: transparent;
}

.defaultColor__77578.text-lg-semibold__84aef {
  margin-right: 0 !important;
}

[class^="accountProfilePopoutWrapper_"] {
  left: 0;

  & [class*="userPopout"] {
    margin: 0;
    width: fit-content;
  }
}

.footer__49fc1 > button:last-child {
  margin-right: 16px;
}

.container_dc2e0e {
  box-sizing: border-box;
  overflow: hidden;
  background: var(--background-tertiary);
  margin: 4px;
}

.container__5dbf8,
.container__8e680,
.container__5b321 {
  background: var(--background-tertiary-alt);
}

.welcomeCTA_f5d1e2 button {
  margin-top: 8px;
  background: var(--background-modifier-accent) !important;

  &:hover {
    background: var(--background-modifier-hover) !important;
  }
}

.container__133bf {
  background: transparent;
}

.button_bba883:hover {
  background: var(--background-modifier-hover);
}

.navButton__08434 {
  color: var(--interactive-muted);
}

.navButton__08434:hover,
.navButtonActive__08434 {
  color: var(--interactive-active);
}

.iconWrapper__9293f {
  margin: 0 5px;
}

ul.resultsGroup__56fec {
  background: var(--background-primary);
}

[class*="option_"]:hover {
  background: var(--background-modifier-hover);
}

.message__02a39 {
  padding: 16px 0;
}

.channelNameContainer_c68065 {
  display: flex;
  justify-content: center;
  background: var(--background-modifier-selected);
  padding: 4px;
  border-radius: 8px;
}

.searchHeader_f3b986 {
  background: var(--background-tertiary);
  border-radius: unset;
}

.searchHeaderTabList_f3b986.side_b3f026 {
  & .item_b3f026 {
    background: var(--background-modifier-accent);

    &:hover {
      background: var(--background-modifier-hover) !important;
    }
  }

  & .selected_b3f026.item_b3f026 {
    background: var(--background-modifier-selected);
    font-weight: 800;
  }
}

[class*="searchResult_"] {
  background: var(--background-modifier-accent);
  border-bottom: none !important;
}

.searchResult__02a39:hover {
  background: var(--background-modifier-hover);
}

button[class*="emojiButtonNormal"] > div > div {
  filter: scale(1) opacity(25%) !important;
}

h2.container_cc72c1 {
  margin: 8px 0 8px 8px;
  height: 24px;
  top: -2px;
}

.privateChannelRecipientsInviteButtonIcon__99e7c {
  top: -2px;
}

svg[class*="addButtonIcon_"] {
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
}

[class*="children_"] > button[class*="addButton_"] {
  border-radius: 50%;
  background: var(--background-modifier-accent);
  top: -4px;
  margin: 0 0 0 8px;
  width: 20px;
  height: 20px;
}

.guildTitle_d5cd2d {
  font-size: 14px;
}

.collapseBtn_a4a127 {
  background: var(--background-primary);
}

.container__91a9d {
  margin: 4px 0 0 auto;
  padding: 0;
  background: transparent;
}

.popoutContainer__8641f {
  background: var(--background-primary);
}

.theme-dark .queryContainer__55c99 {
  background: var(--background-primary) !important;
  border-bottom: none !important;
}

/* Fix color consistency issues */
.iconWrapper__9293f > svg {
  padding: 2px;
}

.name__76f04 {
  color: var(--text-muted);
}

[class^="popout-"] [class^="row-"]:hover :is(.name__76f04, .timestamp__76f04) {
  color: var(--interactive-hover);
}

.button_bba883:hover .icon_bba883,
.icon_bba883:hover,
.iconWrapper__9293f[class*="clickable_"] [class*="icon_"]:hover {
  color: var(--interactive-hover) !important;
}

.section__38f83 {
  background: var(--background-primary);
}

.messagesPopout__45690 {
  background: var(--background-tertiary);
}

.connectedAccountContainer_e6abe8 {
  border-width: 2px;

  &:has(.connectedAccountOpenIcon_e6abe8:hover) {
    background: var(--profile-body-divider-color);
  }
}

.flowerStarContainer__3e3b0.connectedAccountVerifiedIcon_e6abe8 > svg > path {
  fill: var(--profile-body-divider-color);
  filter: brightness(1) contrast(2);
}

.title_c4a579,
.title__76f04,
.activity__20c1e .overflow__82b15,
span[class*="headerLabel_"],
[class*="pageBody_"] > div > h2 {
  font-size: 14px;
  color: var(--header-primary) !important;
  display: block;
  text-align: center;
}

.eyebrow_cf4812 {
  font-size: 12px;
  font-weight: 800;
  color: var(--text-muted) !important;
}

.item_b3f026.themed_b3f026 {
  font-size: 14px;
}

.content__99f8c .wrapper__2ea32 {
  align-items: center;
}

.content__99f8c .children__2ea32 {
  padding-top: 0;
}

.mention,
.wrapper_d4fa29 {
  padding: 0 4px;
}

.vc-rdb-view .wrapper_f7ecac {
  scale: 0.825;
}

.listItem__650eb:first-of-type {
  margin: 8px 0;
}

/* [[ ADDED IN v2.0.0 ]] */
.container__55c99 {
  position: relative;
  top: 12px;
}

.wrapper_d4fa29 {
  color: var(--brand-260);
  background: color-mix(in srgb, var(--modular-accent) 50%, transparent);
}

.container__87bf1.checked__87bf1 {
  background: var(--brand-400) !important;
}

path[fill="rgba(35, 165, 90, 1)"] {
  fill: var(--brand-400) !important;
}

.premiumIconWrapper_c3e427 {
  right: 16px;
  top: 12px;
}

.bar_a562c8[style="background: var(--green-360);"] {
  background: var(--primary-500) !important;
}

.resultsGroup__56fec .header__56fec {
  font-size: 14px;
}

.content_dc3a33 a {
  color: var(--brand-400);
}

.chatTarget__01ae2,
.root__49fc1:has(.userProfileModalOuter_c69a7b),
:is(.replying__5126c, .mentioned__5126c):hover {
  background: unset !important;
}

.wrapper__48b20 {
  height: calc(100% - 16px);
  width: calc(100% - 16px);
}

.barBase__0f481 {
  width: fit-content;
}

.theme-dark .searchFilter_bd8186 {
  background: var(--modular-accent);
}

/* Fix auto complete sections overflow */
.outerWrapper_d1405b,
.autocompleteAttached__6b0e0 {
  margin: 8px 20px auto 8px;
  padding: 4px;
  border-radius: 8px !important;
}

/* Match the unread pill with the brand color */
:is(.pill_c9fddf, .pill_e5445c) > .item__58105 {
  background: var(--brand-300);
}

.imageWrapper__178ee {
  border-radius: 4px;
}

.userProfileModalInner_c69a7b {
  max-height: 800px !important;
}

button[class*="lookOutlined__"] {
  border: none;
  background: var(--background-modifier-accent);
  border-radius: 4px;

  &:hover {
    background: var(--background-modifier-hover);
  }
}

.badgeList_ab525a {
  margin-right: 10px;
  border-radius: 8px;
}

/* VC container */
.container_e131a9 {
  margin-bottom: 8px;
  padding: 0;
  background: transparent;
  border-radius: 8px;
  border-bottom: none;
  

  & span {
    font-family: var(--font-primary) !important;
    font-weight: bold;
  }
}

/* Read all notifications button */
.vc-ranb-button {
  margin: 12px 6px;
  padding: 0;
  width: calc(100% - 12px);
  background: var(--background-modifier-accent);

  &:hover {
    background: var(--background-modifier-hover);
  }
}

/* Server banner */
.animatedContainer_f37cb1 {
  border-radius: 8px;
}

/* Show all voice channels */
.voiceChannelsButton__29444 {
  transition: all 150ms ease-in-out;
  border: none;
  background: var(--background-modifier-accent);

  &:hover {
    background: var(--background-modifier-hover);
  }
}

/* Browse channels */
.containerDefault_c69b6d.wrapper__2ea32 .link__2ea32 {
  text-align: center;
  background: var(--background-modifier-accent);

  & > .content__65844 {
    text-transform: uppercase;

    & > .name__2ea32 {
      font-weight: bold;
      font-size: 12px;
    }
  }
}

.link__2ea32.basicChannelRowLink__2ea32 {
  padding: 2px;
  min-height: 24px;
}

/* Channel categories */
h3.container_cc72c1,
h2.container_cc72c1 {
  background: var(--background-modifier-accent);
  border-radius: 4px;
  padding: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-left: 8px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

/* Member role categories */
.membersGroup_c8ffbb.container_cc72c1 {
  height: 24px;
  margin: 8px 0 8px 8px;
  border-radius: 4px;
  font-size: 12px;
}

/* Test divider color */
.divider__5126c {
  --divider-color: var(--modular-red);
}

.main_c08b38 /* Server welcome screen */,
.container_f369db /* Forum page */,
.container__55c99 /* Search results wrap */,
.notice_c5cd6a /* Notice */,
.wrapper_cb9592.video_cb9592 /* Video call container */,
.list_f391e3 /* Message request screen */ {
  border-radius: 8px !important;
  margin: 4px;
  padding: 8px;
  max-height: calc(100% - 24px);
  background: var(--background-primary);
}

.notice_c5cd6a {
  background: transparent;
  border-bottom: none;
}

/* DM Pin container (Plugin) */
.vc-pindms-section-container {
  font-weight: bold;
  border-radius: 4px;
  background: var(--background-modifier-accent);
  margin: 8px 0 8px 8px;
  padding: 4px 8px;
  text-align: center;
  height: fit-content;
}

/* Fix server invite splash background */
.inviteSplash_d5f3cd {
  margin: -4px -4px 12px -4px;
  border-radius: 8px;
}

/* Activity panel */
.theme-dark .activityPanel_c48ade {
  background: var(--background-primary);
  border-radius: 8px !important;
  
  margin-bottom: 4px;
  padding: 5px;
}

/* VC Container background */
.wrapper_e131a9 {
  background: var(--background-primary);
  border-radius: 8px;
}

/* Fix clamping issue on the new profile popout */
.descriptionClamp_f5f93a {
  display: contents;
}

/* Chat area fix */

/* Move the attachment action bar */
.wrapper_f7ecac {
  border-radius: 8px;
  right: 8px;
  top: 16px;
}

.uploadContainer_aa605f {
  align-items: center;
}

/* Reactions styling */
.reaction__23977 {
  background: var(--background-modifier-accent);
  border: none;

  &:hover {
    background: var(--background-modifier-hover);
  }
}

/* Buttons restyle */
.button__7ba6e {
  border: none;
  border-radius: 8px;
  background: var(--background-modifier-accent);

  &:hover {
    background: var(--background-modifier-hover);
  }
}

/* Fix avatar decoration position */
.avatarDecoration_c19a55 {
  top: 0;
}

.message__5126c.hasReply_c19a55 .avatarDecoration_c19a55 {
  top: 24px;
}

/* NEW PROFILE */
/* Profile popouts */

/* Limit user popout height */
.userPopoutInner_c69a7b {
  max-height: 500px;
}

/* Center name */
.usernameRow__63ed3 {
  margin-top: 9px;
  margin-bottom: 6px;
}

/* Badges */
.container__8061a,
.pronounsTooltip__63ed3 > div,
.userTagUsername__63ed3 {
  border: none;
  background: var(--background-floating);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.custom-profile-theme
  :is(
    .container__8061a,
    .pronounsTooltip__63ed3 > div,
    .userTagUsername__63ed3
  ) {
  background: color-mix(in srgb, var(--profile-gradient-primary-color) 50%, transparent);
}

/* Remove the dot spacers in elements */
.dotSpacer__63ed3,
.spacer__530ce {
  display: none;
}

/* Note icon appears permanently */
:where(.button_fb7f94).hover_fb7f94 {
  opacity: 1;
}

/* Popout body */
.userPopoutInner_c69a7b > .body__5be3e {
  background: var(--background-modifier-accent);
  margin: 12px;
  padding-bottom: 12px;
  border-radius: 6px;
}

.custom-profile-theme .userPopoutInner_c69a7b > .body__5be3e {
  background: var(--profile-body-background-color);
}

/* Send message container */
.footer__5be3e {
  margin-top: -6px;
  padding: 0 12px 6px;
}

.custom-profile-theme .inner_a99829 {
  background: var(--profile-body-background-color);
}

/* Match Status Bubble color with Profile Primary Color */
.custom-profile-theme [class^="statusBubble_"] {
  background-color: var(--profile-gradient-primary-color);
}

.custom-profile-theme [class^="statusBubbleOuter_"] {
  --border-faint: var(--profile-gradient-secondary-color);

  &::before {
    background-color: var(--profile-gradient-primary-color);
  }

  &::after {
    background-color: var(--profile-gradient-primary-color);
  }
}

/* Edit profile button */
.custom-profile-theme .color_f9d37d {
  background: var(--profile-body-background-color);
  color: var(--header-primary);
  border-radius: 6px;

  &:hover {
    background: color-mix(
      in srgb,
      var(--profile-gradient-secondary-color) 50%,
      transparent
    );
  }
}

.descriptionClamp_f5f93a > .markup__75297 {
  background: color-mix(in srgb, var(--profile-gradient-primary-color) 50%, transparent);
  padding: 6px;
  border-radius: 6px;
}

/* Divider for days and unread messages */
.divider__908e2 {
  border-top-color: var(--modular-red);
}

/* Hide clipping of the text toolboxes */
.buttonContainer_c19a55 .inner_a3b500 {
  overflow: hidden;
}

/* Streamline all menus */
.menu_c1e9c4,
.item_c1e9c4 {
  border-radius: 6px;
}

/* Restyle search bar */
.searchBar__97492 {
  background: var(--background-floating);
  border-radius: 6px;
}

/* Fix channel categories */
.wrapperCommon__29444 {
  margin: 0 0 4px 8px;
  padding: 0;
  background: var(--background-modifier-accent);
  border-radius: 4px;
  text-align: center;
}

/* Fix channel list arrow */
.icon__29444 {
  top: 4px;
  width: 16px;
  height: 16px;
}

.childWrapperNoHoverBg__6e9f8 /* Favorites button */,
.circleIconButton__5bc7e /* Add server and discover button */ {
  background: var(--background-modifier-accent);
}

/* New channel app launcher button */
.channelAppLauncher_e6e74f button {
    background: var(--background-primary);
}

/* Members list */
.membersGroup_c8ffbb {
  margin: 8px 0px 8px 8px;
  height: 24px;
  padding: 4px;
  background: var(--background-modifier-accent);
  border-radius: 4px;
  text-align: center;
}

/* Activity tab at the top of members list */
.header__095fe {
  position: relative;
  left: 4px;
}

/* Fix threads orientation */
.chatLayerWrapper__01ae2 {
  flex-direction: row-reverse;
}

/* Nitro store */
.applicationStore_f07d62 {
  margin: 4px;
  border-radius: 8px;
}

/* v2.1.2 fixes */
/* Server discovery footer */
.footer__214dc {
  background: none;
}

/* Removing elements */
/* Bottom gradient (server discovery) */
.gradient_f8ec41 {
  display: none;
} 

/* Fix new messages bar */
.newMessagesBar__0f481 {
  height: 32px;
  margin-top: 8px;
  border-radius: 4px;
  background: var(--brand-700) !important;
  justify-self: center;
  align-self: center;
}

/* Reactions */
.container_cc2dff {
  border-radius: 8px;
}

.theme-dark .reactorDefault_cc2dff {
  box-shadow: none;
}

.reactor_cc2dff {
  height: 40px;
  background: var(--background-secondary);
  margin: 8px;
  border-radius: 8px;
  padding-left: 8px;
}

/* DM panel */
.outer_c0bea0 {
  border-radius: 8px;
  margin: 4px;
  max-height: calc(100% - 8px);

  & > .inner_c0bea0 {
    border-radius: 8px;
  }
}

/* Place search bar separate from other elements in the toolbar */
.search__49676 {
  order: -1;
}

/* Prevent channel name from overlapping with arrow */
.mainContent__29444 {
  margin-left: 20px;
}

/* Fixing role pills */
.role_dfa8b6.pill_dfa8b6 {
  padding: 4px 0;
  border: none;
  border-radius: 6px;

  & .roleName_dfa8b6 {
    padding: 6px;
    margin-left: -6px;
  }
}

/* Fix embeds to only fit video box */
.container_b7e1cb:has(.embedWrapper_b7e1cb) {
  max-width: fit-content;
}

/* Hide stuff on user popout selections */
.accountProfilePopoutWrapper__37e49 {
  & .outer_c0bea0 {
    max-width: 80%;
  }

  & .inner_c0bea0 {
  background: var(--background-primary);

    & .header__5be3e {
      display: none;
    }

    & > .body_af7fb7 {
      padding: 4px !important;

      & > *:not(.menus_af7fb7) {
      display: none;
      }

      & > .menus_af7fb7 {
      margin: 4px -4px 4px 4px;
      gap: 8px;

        & > .menuOverlay_af7fb7:nth-child(1) > div > *:not(:nth-child(1)) {
          display: none;
        }
      }
    }
  }
}

/* Fix the chat bar jumping up bug */
.channelTextArea_f75fb0,
.channelAppLauncher_e6e74f {
    margin-bottom: 0;
}

/* Blocked messages */
.blockedSystemMessage__7a70a {
  background: color-mix(in srgb, var(--chat-bubble-automod) 25%, transparent);
  margin: 0;
  padding: 8px;
  border-radius: 8px;
  max-width: var(--modular-cb-width, max-content);
  min-width: var(--modular-cb-width, max-content);

  & .blockedIcon__7a70a {
    background: color-mix(in srgb, var(--chat-bubble-automod) 25%, transparent);
    position: relative;
    padding: 6px;
    top: -8px;
    border-radius: 50%;
  }
}

/* Stage container */
.container__722ff {
  margin: 4px;
  padding: 8px;
  border-radius: 8px;
  max-height: calc(100% - 24px);
  max-width: calc(100% - 24px);
}

/* Call container */
.callContainer_cb9592 {
  border-radius: 8px !important;
  background: var(--background-secondary);
}

/* Call toolbar */
.container__9293f {
  display: flex;
  background: var(--background-primary) !important;
  max-width: calc(100% - 8px);
  margin: 4px;
  border-radius: 8px;
}

/* Call chat container */
.channelChatWrapper_cb9592 {
  margin: 8px;
  padding: 8px;
  border-radius: 8px;
}

.container__01ae2 {
  background: var(--background-secondary);
  border-radius: 8px;
  margin: 12px;
  padding: 12px;
}