/* -------------------- [[ EXTRA IMPORTS GO HERE ]] -------------------- */
@import url(https://raw.githubusercontent.com/SEELE1306/Modular/release/src/comp/Root.css); /* Color variables + add-ons */

/* -------------------- [[ START OF MAIN CSS FILE ]] -------------------- */

:root {
  /* [[ START OF CUSTOMIZABLE PARAMETERS ]] */
  --modular-background: none !important;
  --modular-hue: 232;
  --modular-saturation: 23%;
  --brand-experiment: #c6a0f6;
  --online-color: #a6e3a1;
  --idle-color: #f9e2af;
  --dnd-color: #f38ba8;
  --streaming-color: #b4befe;
  --bot-color: #89b4fa;
  --chat-bubble-default: var(--brand-experiment);
  --chat-bubble-replying: #91d7e3;
  --chat-bubble-mentioned: #f5a97f;
  --chat-bubble-automod: #ed8796;
  --font-main: "";
  --font-code: "";
  --modular-background-blur-strength: 10px;
  --modular-background-brightness: 100%;
  --modular-transparency: 25%;
  --enable-client-border: 1;
  --enable-chat-bubble-border: 0;
  --client-border-style: solid;
  --client-border-color: var(--brand-experiment);
  --sidebar-orientation: column;
  --guild-orientation: row;
  --client-orientation: row;
  --memberlist-orientation: row;
  --friendlist-orientation: row;
  --titlebar-name: "Your name here";
  --blur-amount: 2px; /* higher px = stronger blur, 0 = no blur */
  --darken-percent: 0.5; /* 0 = album cover is not darkened, 1 = album cover is darkened fully (black) */
}

/* [[ END OF CUSTOMIZABLE PARAMETERS ]] */

/* [[ ALL DISPLAY: NONE ELEMENTS ]] */
span[class*=dot_][class*=maskSecondary_],
[class*=unread_],
[class^="threadSuggestionBar"],
.unreadMentionsBar__8cd45,
.replying__38514::before,
.mentioned_fa6fd2::before,
.children_cde9af:after,
.form_d8a4a1::before,
.form_d8a4a1::after,
.section__62b44:has(.roles__74a2b:empty),
.lastSection__62986,
.content__01e65::before,
.chat__4eed1::before,
[class*=userPanelInner_]::before,
.iconContainerLeft__80d26,
.bar__004d9,
.attachment_d24cc3,
.avatar_eb6eba,
.blob__8d5bd,
.tabBody_a90ea8::before,
.wrapper__91b2c:after,
.option__91497::before,
.option__91497::after,
.wordmarkWindows_ffbc5e path:not(:first-child),
#user-settings-cog>.scroller__8f066>.item__183e8,
.separator__666aa:before,
.emojiItemDisabled__843ea,
[class*=automodMessage_]:before,
.content__6bf34 .iconContainer__6a580,
.uploadInput_aa27e8,
/* User options */
[class^=userPopoutInner_]:has(#account)>*:not(:has(#account)),
[class^=userPopoutOverlayBackground_]:has(#account)>*:not(#account),
.lockIcon_f844b1,
.separator__68570,
.userInfoSection_e816c1 .eyebrow_b3f8ba:last-child,
/* Notes in profile modal */
.aboutMeGuildIcon_b05b69,
/* Profile guild icon */
.divider__7116f,
.divider_d6f39c,
.section__62b44 > .buttonsContainer__83ada,
/* Profile modal border */
/* Dividers in the profile */
.scroller__1f498 .sectionDivider__9dbcb,
.container_bc43c1:after,
.divider__8b90f,
.tabBar__22a9a,
.separator__174fc,
:is(.userPopoutInner_ac0960, .profilePanel_e2cafe) [class*="divider_"],
.vc-membercount-member-list :is(.vc-membercount-online-dot, .vc-membercount-total-dot) {
  display: none !important;
}

/* Recover the old scrollbar from pre Chromium v119 */
* {
  scrollbar-width: unset !important;
  scrollbar-color: unset !important;
}

/* [[ SPOTIFY CONTROLS ]] */

#vc-spotify-player {
  background: transparent !important;
  position: relative;
  overflow: hidden;
  padding: 14px 12px;
  margin-bottom: 8px;
  border: calc(2px * var(--enable-client-border)) solid
    var(--client-border-color);
  border-radius: calc(8px + 2px * 2 * var(--enable-client-border));

  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
        rgba(0, 0, 0, var(--darken-percent)),
        rgba(0, 0, 0, var(--darken-percent))
      ),
      var(--vc-spotify-track-image) center/cover no-repeat;
    clip-path: inset(0);
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
        rgba(0, 0, 0, var(--darken-percent)),
        rgba(0, 0, 0, var(--darken-percent))
      ),
      var(--vc-spotify-track-image) center/cover no-repeat;
    opacity: 0.5;
    filter: blur(50px);
    transform: scale(20);
  }

  & > * {
    position: relative;
    z-index: 1;
  }

  & [class*="bar_"] {
    background: color-mix(in srgb, var(--brand-500) 30%, transparent);
    height: 4px;

    &::after {
      content: "";
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: var(--vc-spotify-track-image) center/cover no-repeat;
      opacity: 0.5;
      filter: blur(50px);
      transform: scale(20);
    }
  }

  & [class*="barFill"] {
    background: var(--brand-300);
  }

  & :is(.vc-spotify-shuffle-off, .vc-spotify-repeat-off) {
    color: var(--brand-300) !important;
  }

  & .vc-spotify-button.vc-spotify-button {
    color: var(--brand-300);
    background: var(--background-modifier-accent);
    margin: 0 4px;
    scale: 0.85;

    &:hover {
      background: color-mix(in srgb, var(--brand-500) 50%, transparent);
      color: var(--brand-300);
    }
  }

  &
    :is(
      .vc-spotify-shuffle-on,
      .vc-spotify-repeat-track,
      .vc-spotify-repeat-context
    ) {
    background: color-mix(
      in srgb,
      var(--brand-500) 70%,
      transparent
    ) !important;
  }

  & .vc-spotify-button-row {
    margin-top: 15px;
  }

  & :is(.vc-spotify-time-right, .vc-spotify-time-left) {
    margin-top: 1px;
    font-weight: 600;
    letter-spacing: 0.05em;
  }

  &
    :is(
      .vc-spotify-comma,
      .vc-spotify-ellipoverflow,
      .vc-spotify-artist,
      .vc-spotify-album
    ) {
    margin-top: -2px;
    font-weight: 600;
  }

  & #vc-spotify-album-image {
    margin-top: -4px;
    border-radius: 8px;
  }

  & #vc-spotify-titles {
    margin-left: 0;
    padding-left: 0;
    flex: 1 auto;
  }
}

#vc-spotify-song-title {
  font-weight: 800;
}

#vc-spotify-info-wrapper {
  flex-direction: row-reverse;
}

/* Add border styling to Listening Along widget */
.listeningAlong_a3b241 {
  margin-bottom: calc(4px + 4px * var(--enable-client-border));
  background: var(--background-primary-alt);
  border-radius: calc(8px + 2px * 2 * var(--enable-client-border));
  border-bottom: none;
  border: calc(2px * var(--enable-client-border)) solid
    var(--client-border-color);
  padding: 5px 8px;
}

/* [[ VC CONTAINER + CONTROLS ]] */
.connection__38593,
.voiceUsers__665a5 {
  padding: 8px 12px;
}

/* [[ QUOTES ]] */
[class*="markup_"] blockquote {
  padding: 4px 10px;
  background: color-mix(in srgb, var(--brand-500) 25%, transparent);
  color: var(--brand-300);
  border-radius: 0 4px 4px 0;
}

[class*="blockquoteDivider_"] {
  background: var(--brand-300);
}

/* [[ CHAT AREA ]] */
.themedBackground__3a4c0 {
  background: var(--background-primary);
}

.form_d8a4a1 {
  margin-top: 0;
  padding: 0;

  /* Align chat box to bottom */
  & > .channelTextAreaContainer__37a67 {
    margin-bottom: 0px;

    & > .channelTextArea_c2094b {
      margin-bottom: 0px;

      & > .scrollableContainer_ff917f {
        margin: 0 8px 8px 8px;
      }
    }

    /* center chatbox contents, no border radius */
    & > * {
      min-height: 49px;
      border-radius: 0;
      padding-top: 4px;
    }

    & > .content__98536 > img {
      margin-bottom: 8px;
    }
  }

  /* Slowmode/typing indicators */
  & > :last-child[class^="typing"] {
    top: -32px;
    right: 24px;
    padding: 0px 16px 0px 8px;
    margin-left: auto;
    width: fit-content;
    border-radius: 4px;
    background: var(--background-tertiary);
  }

  & .buttons__7ecff {
    overflow: hidden;
    position: relative;
    justify-content: flex-end;
    transition: all 350ms;
    margin-right: 4px;

    &::before {
      opacity: 0%;
      transition: opacity 150ms;
      position: absolute;
      bottom: 4px;
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Crect width='352' height='42' x='80' y='96' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3Crect width='352' height='42' x='80' y='240' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3Crect width='352' height='42' x='80' y='384' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3C/svg%3E");
      display: block;
      width: 32px;
    }

    &:hover {
      transition: all 150ms;
      width: 50%;

      & > :is(button, div) {
        transform: scaleX(100%) !important;
        transition: opacity 300ms;
        opacity: 100%;
      }
    }

    & > :is(button, div) {
      display: flex;
      justify-content: center;
      transform: scaleX(0%) !important;
      opacity: 0%;

      & svg {
        border-radius: 4px;
      }

      &:hover svg {
        color: var(--interactive-hover);
      }
    }

    &:where(:not(:hover)) {
      max-width: 32px;
    }

    &:where(:not(:hover))::before {
      opacity: 100%;
      transition: opacity 1000ms;
    }
  }
}

.separator__666aa {
  grid-column: 4;
  margin-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;

  & .innerButton__9efb8 {
    padding: 0;
    margin: 0;
  }
}

.channelTextArea_c2094b .divider__855e3 {
  border-top: none;
}

.channelAttachmentArea__5e46a {
  background: var(--background-tertiary);
  margin: 4px 8px;
  padding: 8px;
  gap: 8px;
  border-radius: 8px;
  width: fit-content;
}

.upload_c98ecb {
  min-height: 150px;
  max-height: 150px;
  min-width: 150px;
  max-width: 150px;
}

.actionBar_a15295 {
  transform: translate(0, -16px);

  & .button_d4bf9b {
    background: var(--background-tertiary);
  }
}

/* jump to present */
.jumpToPresentBar__69174 {
  padding: 0;
  left: 0;
  border-radius: 4px;
  margin: 8px;
  width: fit-content !important;
  background: var(--background-tertiary);
  right: unset;

  &:active {
    margin-bottom: 8px;
  }

  & > .barButtonMain__984b4 {
    flex: 0 0 auto;
  }

  &:hover .barButtonMain__984b4 {
    animation: vertiscroll 0.5s linear forwards;
    display: block;
    height: auto;
    overflow: visible;
    white-space: normal;
  }
}

.attachedBars_c1606a {
  min-height: unset !important;
  position: relative;
  margin: 0px 24px 4px 4px;
  padding: 4px 0;
  border-radius: 4px !important;
  background: var(--background-tertiary);
}

.replyBar_ed6afc {
  background: var(--background-tertiary);
}

/* Positions both the *new messages* and *viewing old messages* bars on top of the channel text area. */
.barBase__8839d {
  --bar-height: 24px;
  --bar-edges: 24px;
}

.messagesWrapper_add28b:has(.newMessagesBar__8b272):has(
    .jumpToPresentBar__69174
  )
  .barBase__8839d {
  align-items: flex-start;
  height: var(--bar-height);
  overflow: hidden;
  width: calc(50% - var(--bar-edges));
}

.messagesWrapper_add28b:has(.jumpToPresentBar__69174) .newMessagesBar__8b272 {
  left: auto;
}

.base__06abc .typingDots__0448d svg {
  margin-right: 4px;
}

.newMessagesBar__8b272 {
  height: 24px;
  margin-bottom: 8px;
  margin-left: calc(var(--bar-edges) * -1 + 8px);
  border-radius: 4px;
  inset: auto var(--bar-edges) 0;
  background: var(--background-tertiary);

  &:hover .span_b2761b {
    animation: vertiscroll 0.5s linear forwards;
    display: block;
    height: auto;
    overflow: visible;
    white-space: normal;
  }
}

@keyframes vertiscroll {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(calc(-100% + var(--bar-height)));
  }
}

/* [[ STAFF TAGS ]] */
[class*="botTag_"] {
  background: var(--brand-100);
  color: var(--brand-900);
}

[class^="userTagNoNickname-"] > [class*="botTag"] {
  margin-bottom: 4px;
}

/* Fix bot tags */
.botText_daff56 {
  font-weight: bold;
}

.botTagVerified__3e0e4 > path {
  fill: var(--brand-900) !important;
}

/* [[ CHANNEL LIST ]] */
:is(.containerDefault_ae2ea4.selected__11b62, .modeUnreadImportant__35358)
  .icon__67ab4,
.selected__7f4cb .layout_bb8e67,
.channel__0aef5.container-32HW5s > .interactiveSelected__689f0,
.navButtonActive__0c878 {
  background: color-mix(in srgb, var(--brand-500) 50%, transparent);
}

.icon__67ab4 {
  width: 15px;
  height: 15px;
  margin: 2px 2px 0 0;
  border-radius: 4px;
  padding: 3px;
}

:is(.containerDefault_ae2ea4.selected__11b62, .modeUnreadImportant__35358)
  .icon__67ab4 {
  color: var(--interactive-active);
}

.containerDefault_ae2ea4:hover .icon__67ab4 {
  color: var(--interactive-active);
  background: color-mix(in srgb, var(--brand-500) 50%, transparent);
}

/* [[ SHIKI CODEBLOCKS ]] */
[class*="markup_"] code {
  margin: 8px 0 8px 0;
}

[class*="markup_"] code.inline {
  border: none !important;
  font-weight: 600;
}

code:not(code.inline) {
  background: transparent;
}

.shiki-container {
  margin: 8px;
  border: unset;
  width: max-content;
}

/* [[ ROLE PILLS ]] */
[class*="roles_"] {
  justify-content: center;
}

.rolePill_f50ff5 {
  padding: 0;
  overflow: hidden;
  position: relative;
  border-radius: 8px;

  & .roleRemoveButton__20c70 {
    position: unset;
    height: 100%;

    & .roleCircle__61ad8 {
      border-radius: unset;
      margin: unset;
      position: absolute;
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
      text-align: center;
    }

    & .roleRemoveIcon_c3913a {
      background: var(--profile-role-pill-background-color);
      padding: 2px;
      border-radius: 50%;
      margin: -6px 0 0 -6px;

      & path {
        fill: #fff;
      }
    }

    & + .roleName__851c9 {
      margin-left: 4px;
    }
  }

  & .roleIcon_aa2eb3 {
    margin-left: 4px;
    min-width: 16px;
    z-index: 1;
  }

  & .roleName__851c9 {
    padding: 4px;
    text-rendering: optimizeLegibility;

    & div {
      font-weight: 600;
    }
  }
}

/* [[ MAIN BACKGROUND COMPONENTS ]] */

/* fix background selector */
.bg__12180 {
  background: var(--modular-background) center/cover no-repeat !important;
  filter: brightness(var(--modular-background-brightness));
}

.sidebar_e031be,
.chat__52833,
.container_f79ab4 {
  background: transparent;
}

.container_d1f8f5 {
  backdrop-filter: blur(var(--modular-background-blur-strength));
  background: var(--background-primary-alt);
  margin: 16px;
  padding: 4px;
  box-sizing: border-box;
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  border-radius: calc(12px + 2px * 2 * var(--enable-client-border));
  flex-direction: var(--guild-orientation);
  border: calc(2px * var(--enable-client-border)) solid
    var(--client-border-color);
}

.guilds__2b93a {
  border-radius: calc(8px + 2px * 2 * var(--enable-client-border));
  margin: 4px;
}

.wrapper__216eb {
  background: var(--background-primary-alt);

  border: calc(2px * var(--enable-client-border)) solid
    var(--client-border-color);
}

/* [[ RADIAL STATUS ]] */
.contents_d3ae0d [class^="avatar__"] {
  margin-top: -8px;
}

.contents_d3ae0d .avatarDecoration__8a0c2 {
  margin-top: -12px;
}

/* [[ STATUS (ALTERNATIVE) ]] */
rect[fill="#23a55a"],
.status__1c26d[style="background-color: rgb(35, 165, 90);"] {
  fill: var(--online-color) !important;
  background-color: var(--online-color) !important;
}

rect[fill="#f0b232"],
.status__1c26d[style="background-color: rgb(240, 178, 50);"] {
  fill: var(--idle-color) !important;
  background-color: var(--idle-color) !important;
}

rect[fill="#f23f43"],
.status__1c26d[style="background-color: rgb(242, 63, 67);"] {
  fill: var(--dnd-color) !important;
  background-color: var(--dnd-color) !important;
}

rect[fill="#593695"] {
  fill: var(--streaming-color) !important;
}

/* [[ CHAT BUBBLES ]] */
.channelTextArea_c2094b {
  background: transparent;
}

/* ShowMeYourName plugin */
.vc-smyn-suffix {
  color: currentColor !important;
  opacity: 0.5;

  &::before {
    content: "| @" !important;
  }

  &::after {
    content: "" !important;
  }
}

/* Username */
.cozy_f5c119 .header__6a14d {
  margin-bottom: 4px;
}

.username__0b0e7,
.base__06abc .text_eb454c strong,
.name__084dd,
.mention.interactive,
[class^="repliedMessage_"] > .username__0b0e7,
.member_aa4760 .username_d272d6 {
  filter: brightness(1.2);
  background: color-mix(in srgb, currentColor 20%, transparent);
  border: calc(1px * var(--enable-chat-bubble-border)) solid;
  font-weight: bold;
  margin-right: 4px;
  padding: 0 6px;
  border-radius: 6px;
  display: inline-flex;

  &:hover {
    text-decoration: none;
    background: color-mix(in srgb, currentColor 40%, transparent);
  }
}

.username__0b0e7::after {
  position: relative;
  margin: 0 0 0 8px;
  color: inherit;
}

/* Fix overflow on replied pings */
.repliedTextPreview__1a8a4 {
  max-height: fit-content;
}

/* Timestamps */
@font-face {
  font-family: "Blank Dot";
  src: url("https://raw.githubusercontent.com/adobe-fonts/adobe-blank/master/AdobeBlank.ttf.woff");
  unicode-range: U+2022;
}

[class*="timestampInline_"],
.vc-reply-timestamp {
  font-family: "Blank Dot", var(--font-primary);
  position: relative;
  color: var(--primary-100) !important;
  letter-spacing: 0.05em;
  font-size: 10px !important;
  margin: 0 4px;
  height: 16px;
  border-radius: 4px;
  top: -2px;
  max-width: fit-content;
  line-height: 1rem !important;

  &:not(:has(time)) {
    background: var(--brand-600);
    padding: 0 4px 0 2px;
    border: calc(1px * var(--enable-chat-bubble-border)) solid var(--brand-300);
  }

  &:has(time) {
    background: var(--brand-600);
    padding: 0 4px;
    border: calc(1px * var(--enable-chat-bubble-border)) solid var(--brand-300);
  }
}

/* Align timestamps in replies */
.vc-reply-timestamp {
  text-align: center;
  margin-right: 8px;
  margin-left: 0;
  top: 0;
}

.contents_d3ae0d [class^="botTagCozy_"] {
  border: calc(1px * var(--enable-chat-bubble-border)) solid var(--brand-300);
  border-radius: 6px;
  height: 16px;
  top: 2px;
}

/* Start of Chat Bubbles */
.mediaAttachmentsContainer__242e2 {
  margin-bottom: 0 !important;
}

.altText_a57338 {
  margin: 8px 0 -4px;
}

/* revert back to class selectors + add borders */
.markup_a7e664.messageContent_abea64 a {
  background: var(--background-modifier-accent);
  color: var(--text-link);
  font-weight: 600;
  padding: 0 4px;
  border-radius: 4px;
}

/* Message embeds (Vencord plugin) */
.grid__35551 {
  padding: 4px 8px 8px 6px;

  & .embedAuthor__3e899 {
    & span {
      font-weight: bold;
    }
  }

  & .message__7e601 {
    padding: 8px 0;

    & .avatar__08316 {
      margin: 0;
    }
  }
}

.groupStart__7b93c.cozyMessage__9f4fd
  > .contents_d3ae0d:hover
  .markup_a7e664.messageContent_abea64
  a,
.cozyMessage__9f4fd:not(.groupStart__7b93c)
  > .contents_d3ae0d:hover
  > .markup_a7e664:not(:empty, .searchResultsWrap__2e184 *)
  a {
  background: var(--background-modifier-hover);
  text-decoration: none;
}

.groupStart__7b93c.cozyMessage__9f4fd > .contents_d3ae0d,
.cozyMessage__9f4fd:not(.groupStart__7b93c)
  > .contents_d3ae0d
  > .markup_a7e664:not(:empty, .searchResultsWrap__2e184 *),
.container__62863 > :not(.reactions_da5b2a, .searchResultsWrap__2e184 *) {
  margin: 0;
  padding: 8px;
  border-radius: 8px;
  background: color-mix(in srgb, var(--chat-bubble-default) 25%, transparent);
  max-width: max-content;
  box-sizing: border-box;
  border: calc(1px * var(--enable-chat-bubble-border)) solid
    var(--chat-bubble-default);

  &:hover {
    background: color-mix(in srgb, var(--chat-bubble-default) 50%, transparent);
  }
}

/* Overwrite previous margin settings */
.groupStart__7b93c.cozyMessage__9f4fd > .contents_d3ae0d,
.cozyMessage__9f4fd:not(.groupStart__7b93c)
  > .contents_d3ae0d
  > .markup_a7e664:not(:empty, .searchResultsWrap__2e184 *) {
  margin: calc(2px + 1px * var(--enable-chat-bubble-border)) 0;
}

.container__62863 > .embedSpotify__13fe9 {
  height: fit-content;
  padding: 0;
  box-sizing: content-box;
}

/* Fix overlapping of reactions */
.reactions_da5b2a {
  margin-top: calc(4px + 2px * var(--enable-chat-bubble-border));
  margin-left: calc(0px - 2px * var(--enable-chat-bubble-border));
}

.altText_a57338 {
  margin: 8px 0 -4px;
}

.groupStart__7b93c.cozyMessage__9f4fd.replying__38514 > .contents_d3ae0d,
.cozyMessage__9f4fd.replying__38514:not(.groupStart__7b93c)
  > .contents_d3ae0d
  > .markup_a7e664:not(:empty, .searchResultsWrap__2e184 *),
.replying__38514
  .container__62863
  > :not(.reactions_da5b2a, .searchResultsWrap__2e184 *) {
  background: color-mix(in srgb, var(--chat-bubble-replying) 25%, transparent);
  border-radius: 8px;
  max-width: max-content;
  border: calc(1px * var(--enable-chat-bubble-border)) solid
    var(--chat-bubble-replying);

  &:hover {
    background: color-mix(
      in srgb,
      var(--chat-bubble-replying) 50%,
      transparent
    );
  }
}

.groupStart__7b93c.cozyMessage__9f4fd.mentioned_fa6fd2 > .contents_d3ae0d,
.cozyMessage__9f4fd.mentioned_fa6fd2:not(.groupStart__7b93c)
  > .contents_d3ae0d
  > .markup_a7e664:not(:empty, .searchResultsWrap__2e184 *),
.mentioned_fa6fd2
  .container__62863
  > :not(.reactions_da5b2a, .searchResultsWrap__2e184 *) {
  background: color-mix(in srgb, var(--chat-bubble-mentioned) 25%, transparent);
  border-radius: 8px;
  border: calc(1px * var(--enable-chat-bubble-border)) solid
    var(--chat-bubble-mentioned);

  &:hover {
    background: color-mix(
      in srgb,
      var(--chat-bubble-mentioned) 50%,
      transparent
    );
  }
}

.groupStart__7b93c.cozyMessage__9f4fd.automodMessage__43f24 > .contents_d3ae0d,
.cozyMessage__9f4fd.automodMessage__43f24:not(.groupStart__7b93c)
  > .contents_d3ae0d
  > .markup_a7e664:not(:empty, .searchResultsWrap__2e184 *),
.automodMessage__43f24
  .container__62863
  > :not(.reactions_da5b2a, .searchResultsWrap__2e184 *) {
  background: color-mix(in srgb, var(--chat-bubble-automod) 25%, transparent);
  border-radius: 8px;
  border: calc(1px * var(--enable-chat-bubble-border)) solid
    var(--chat-bubble-automod);

  &:hover {
    background: color-mix(in srgb, var(--chat-bubble-automod) 50%, transparent);
  }
}

/* [[ PROFILES ]] */
/* Limit height of user popouts */
.userPopoutOuter_d67f56 {
  border-radius: 8px;
}

[class^="userPopoutInner_"] {
  max-height: calc(75vh - 28px);
}

/* General layout, center items */
.mainContainer_c5e1e2.profileMutuals__95dc2 {
  padding-bottom: 8px;
}

.section__62b44 {
  margin: 8px 0;
  padding: 8px;
}

.section__62b44 > div:not(.activity__20c1e, .roles__74a2b),
.memberSinceWrapper_f76b59,
.mainContainer_c5e1e2.profileMutuals__95dc2,
.userInfoText_b87307,
.container__9f51c,
.nameTag_fdddf8,
.popularApplicationCommandsList__0eb68,
.section__62b44:has(.vc-user-connection) > .eyebrow_b3f8ba {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.section__62b44:not(:has(.buttonsContainer__83ada)),
.mutualGuildsList__5e9f3,
.mutualFriendsList__02caf,
.userInfoText_b87307.aboutMeGuildIcon_b05b69,
.mainContainer_c5e1e2.profileMutuals__95dc2,
.userInfoSection_e816c1 {
  background: var(--profile-body-background-color);
  border-radius: 8px;
}

/* Custom status */
.section__62b44.customStatusSection_c9f9ba {
  margin: 8px 12px;
}

.customStatus__6a31a,
.customStatus_fe94ef {
  &::before {
    content: "Current status";
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    color: var(--text-muted);
    display: block;
  }

  & .customStatusEmoji__81bd9 {
    margin: 4px -12px 8px;
    position: relative;
    left: 50%;
    float: none;
    border-radius: 4px;

    &.customStatusSoloEmoji_aab12e {
      position: relative;
      left: 42.5%;
    }
  }
}

/* Activity user popout */
.activityUserPopoutV2__89098 {
  padding: 0 8px;
}

/* Spotify song text and time left align */
.contentImagesUserPopoutV2_cbfb04,
.textLeft__05c15 {
  text-align: left;
}

/* Mutual servers/friends */
.profileMutuals__95dc2 {
  padding-top: 8px;
}

/* Pronouns */
.pronouns__8aa38,
.pronouns__3d468 {
  color: var(--text-normal);
  font-size: 16px;
  font-weight: bold;
  padding: 4px 6px;
  margin: 4px 0 0 0;
  border-radius: 8px;
  max-width: 90%;
  overflow: hidden;
  background: linear-gradient(
    45deg,
    var(--profile-gradient-primary-color),
    var(--profile-gradient-secondary-color)
  );
  background-size: 200% 200%;
}

.scrollerSeparator_d8843a {
  box-shadow: none;
}

/* profile section width fix */
.section__62b44.usernameSection_dd6196 {
  margin: 8px 12px;
  padding: 8px;

  & > div {
    width: 100%;
  }
}

/* remove border in modal connections */
.userInfoSection_e816c1 + .userInfoSection_e816c1 {
  border-top: none;
}

/* fix badge list height */
.profileBadges__1f2ab.container_ed2af4 {
  min-height: fit-content;
  margin-right: 10px;
}

/* Profile fixes */
[style^="-webkit-line-clamp: 6"] {
  display: block;
}

[class^="userProfileModalOverlayBackground__"] > [class^="body_"] {
  flex: 0 1 50%;
}

:is(.userPopoutInner_ac0960, .userInfoText_b87307) .blockquoteContainer__66aaa {
  justify-content: center;
}

/* User modal tab */
.tabBarContainer_b283be {
  margin: 16px 0 0;
  border: none;
}

.tabBar__35f81 {
  flex-flow: row wrap;
  gap: 8px;
  justify-content: center;
  margin-bottom: 8px;
}

/* User modal tab buttons */
.tabBarItem_ce14f3 {
  border: none;
  background: color-mix(
    in srgb,
    var(--profile-body-background-color) 40%,
    transparent
  );
  padding: 2px 0;
  width: 31%;
  height: fit-content;
  border-radius: 8px;
  text-align: center;

  &:hover {
    background: color-mix(
      in srgb,
      var(--profile-body-background-color) 70%,
      transparent
    ) !important;
  }

  &.selected_a523ff {
    background: color-mix(
      in srgb,
      var(--profile-body-background-color) 100%,
      transparent
    );
  }
}

/* User modal name container */
.container__9f51c {
  background: var(--profile-body-background-color);
  padding: 12px;
  margin: 12px;
  border-radius: 8px;
}

/* User modal section header */
.userInfoSectionHeader_c9f1d3 {
  text-align: center;
}

.userInfoSection_e816c1 {
  padding-bottom: 8px;
  margin-top: 12px;
}

.item__48dda:hover,
.selected_a523ff.item__48dda {
  border: none;
}

.divider__979dc {
  background: var(--profile-body-divider-color);
}

.platformIcon_a2d873 {
  margin: 2px 2px;
}

.scroller__18a89 {
  left: 12.5%;
}

/* add ReviewDB */
div[style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 8px;"],
.vc-rdb-view {
  padding: 4px 8px;
  margin-top: 8px;
  border-radius: 8px;
  background: var(--profile-body-background-color);
}

.vc-rdb-input {
  border: none;
  background: var(--profile-body-background-color);
}

/* [[ EMBEDS ]] */

.embedFull__14919 {
  overflow: hidden;
  border-left: none;
  z-index: 0;
  width: 640px;
  background: inherit;
  margin-top: 8px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    border-right: 100vw solid transparent;
    border-color: inherit;
    opacity: 0.5;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #00000099 !important;
    opacity: 0.5;
    z-index: -1;
    background: inherit;
  }
}

/* [[ PLATFORM INDICATORS ]] */
:is(.membersWrap__5ca6b, .privateChannels__9b518) .vc-platform-indicator > svg {
  width: 12px !important;
  height: 12px !important;
  margin-left: 0px;
  margin-right: 0px;
}

/* Fix rewrite of platform indicators */
.vc-platform-indicator {
  & > svg {
    width: 16px !important;
    height: 16px !important;
    margin-top: 2px;

    &[fill="#23a55a"] {
      fill: var(--online-color);
    }

    &[fill="#f0b232"] {
      fill: var(--idle-color);
    }

    &[fill="#f23f43"] {
      fill: var(--dnd-color);
    }

    &[data-tag="bot"] {
      fill: var(--bot-color);
    }
  }
}

/* [[ TOOLTIPS ]] */
.reactionTooltip-3IOBwg {
  background: var(--background-tertiary) !important;
}

.theme-dark .tooltip__7b090,
.toolbar__894c6 {
  background: var(--background-tertiary);
}

/* normal tooltips */
.theme-dark [class*="tooltipTop"] .tooltipPointer_f7411c {
  border-top-color: var(--brand-500);
  scale: 1.5;
  margin-top: 4px;
}

.theme-dark [class*="tooltipBottom"] .tooltipPointer_f7411c {
  border-top-color: var(--brand-500);
  scale: 1.5;
  margin-bottom: 4px;
}

/* guild tooltip */
.theme-dark [class*="tooltipRight"] .tooltipPointer_f7411c {
  border-top-color: var(--brand-500);
  scale: 1.5;
  left: -14px;
}

.theme-dark [class*="tooltipLeft"] .tooltipPointer_f7411c {
  border-top-color: var(--brand-500);
  scale: 1.5;
  margin-left: 5px;
}

.tooltipContent_adb6d5 {
  padding: 4px 12px;
  margin-bottom: 4px;
}

/* text options tooltip */
.toolbar__894c6:before {
  border-top-color: var(--brand-500);
}

/* [[ MEMBERS LIST ]] */
.members__573eb {
  background: var(--background-primary-alt);

  border: calc(2px * var(--enable-client-border)) solid
    var(--client-border-color);
  margin: 4px;
  border-radius: calc(8px + 2px * 2 * var(--enable-client-border));
}

.memberInner__4dac6 {
  margin-left: 4px;
  border-radius: 8px;
}

.vc-membercount-member-list {
  margin: 8px 0em 8px 8px !important;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px !important;
  border-radius: 4px;
  background: var(--background-modifier-accent);

  & .vc-membercount-online::after {
    content: "Online";
    margin-left: 4px;
    color: var(--green-360);
  }

  & .vc-membercount-total::after {
    content: "Members";
    margin-left: 4px;
    color: var(--primary-400);
  }

  & span {
    font-weight: 800;
    margin-left: -4px;
  }
}

.content__01e65.container__03ec9 {
  padding: 8px;
  flex-direction: column;
  margin: 4px;
  border-radius: calc(8px + 2px * 2 * var(--enable-client-border));
  border: calc(2px * var(--enable-client-border)) solid
    var(--client-border-color);
  background: var(--background-primary-alt) !important;
}

.scrollerContainer_dda72c {
  background: transparent !important;
}

/* [[ INBOX TAB ]] */
[class*="messagesPopoutWrap_"],
[class*="recentMentionsPopout_"] {
  height: 80vh;
}

[class*="recentMentionsPopout_"] .channelHeader_ea0f89 {
  margin: 0 0 4px 0;
  padding: 0 8px 0 20px;
}

.container__7c2c1 .channelHeader_ea0f89 {
  margin-left: 16px;
  margin-bottom: 4px;
  border-radius: 8px;
}

/* [[ PROFILE PANEL IN DMS ]] */

.profilePanel_e2cafe {
  margin: calc(4px * var(--enable-client-border));
  padding: 4px;

  border: calc(2px * var(--enable-client-border)) solid
    var(--client-border-color);
  box-sizing: border-box;
  border-radius: calc(8px + 2px * 2 * var(--enable-client-border));

  /* Inner gradient background */
  & > .userPanelOuter_df01a5 {
    overflow: hidden;
    border-radius: calc(8px + 2px * 2 * var(--enable-client-border));
  }
}

.panelBanner__7d7e2 {
  width: calc(100% - 8px - 2px * var(--enable-client-border) * 2);
  border-radius: calc(4px * var(--enable-client-border)) !important;
}

[class*="profilePanelConnections_"] {
  padding: 0 12px;
}

[class^="userPanelOverlayBackground__"] > [class*="container__"] > div {
  width: 100%;
}

:is(.mutualGuildsList__5e9f3, .mutualFriendsList__02caf) {
  margin: 4px 0;

  & > ul {
    margin: 8px 0;
  }

  & > button {
    background: transparent;
  }
}

[class*="connectionList_"] > div {
  padding: auto 8px;
  margin: 8px;
}

/* Notes section */
.textarea__0461c {
  text-align: center;
}

/* [[ TITLEBAR ]] */

.wordmarkWindows_ffbc5e {
  display: flex;
  align-items: center;
  order: 1;
  gap: 8px;
  margin-right: auto;
  color: var(--header-primary);

  &::after {
    content: "Modular " var(--modular-version) " - " var(--titlebar-name);
    display: flex;
    width: fit-content;
    font-size: 14px;
    font-family: var(--font-display);
    font-weight: 600;
    background: var(--brand-700);
    border-radius: 4px;
    padding: 3px 6px;
  }

  & > svg {
    background: var(--brand-700);
    padding: 4px;
    border-radius: 50%;
    width: 18px;
    height: 18px;

    & > g {
      transform: translateY(-75%);
    }
  }

  & path:first-child {
    d: path(
      "M23.0212 1.67671C21.3107 0.879656 19.5079 0.318797 17.6584 0C17.4062 0.461742 17.1749 0.934541 16.9708 1.4184C15.003 1.12145 12.9974 1.12145 11.0283 1.4184C10.819 0.934541 10.589 0.461744 10.3368 0.00546311C8.48074 0.324393 6.67795 0.885118 4.96746 1.68231C1.56727 6.77853 0.649666 11.7538 1.11108 16.652C3.10102 18.1418 5.3262 19.2743 7.69177 20C8.22338 19.2743 8.69519 18.4993 9.09812 17.691C8.32996 17.3997 7.58522 17.0424 6.87684 16.6135C7.06531 16.4762 7.24726 16.3387 7.42403 16.1847C11.5911 18.1749 16.408 18.1749 20.5763 16.1847C20.7531 16.3332 20.9351 16.4762 21.1171 16.6135C20.41 17.0369 19.6639 17.3997 18.897 17.691C19.3052 18.4993 19.7718 19.2689 20.3021 19.9945C22.6677 19.2689 24.8929 18.1364 26.8828 16.6466H26.8893C27.43 10.9731 25.9665 6.04728 23.0212 1.67671ZM9.68041 13.6383C8.39754 13.6383 7.34085 12.4453 7.34085 10.994C7.34085 9.54272 8.37155 8.34973 9.68041 8.34973C10.9893 8.34973 12.0395 9.54272 12.0187 10.994C12.0187 12.4453 10.9828 13.6383 9.68041 13.6383ZM18.3161 13.6383C17.0332 13.6383 15.9765 12.4453 15.9765 10.994C15.9765 9.54272 17.0124 8.34973 18.3161 8.34973C19.6184 8.34973 20.6751 9.54272 20.6543 10.994C20.6543 12.4453 19.6184 13.6383 18.3161 13.6383Z"
    ) !important;
    scale: 2;
  }
}

.typeWindows_e41dab {
  margin-top: 0;
  height: fit-content;
  background: var(--background-secondary);

  & > * {
    position: relative;
  }
}

.winButton_f17fb6 {
  top: 0 !important;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin: 4px;
  background: var(--background-modifier-accent);
}

/* [[ DAY AND UNREAD INDICATORS ]] */
.isUnread_de09f5 .content__7191e {
  background: var(--brand-700);
  border: 1px solid var(--brand-500);
  padding: 2px 8px;
  text-align: center;
  color: var(--text-normal);
}

.content__7191e {
  background: var(--background-primary);
  border: 1px solid var(--background-modifier-accent);
  padding: 2px 8px;
  text-align: center;
  color: var(--text-normal);
}

/* [[ DMS SEARCH BAR ]] */

.searchBar__621ec {
  background: var(--background-primary-alt);

  border: calc(2px * var(--enable-client-border)) solid
    var(--client-border-color);
  margin: 4px;
  border-radius: calc(8px + 2px * 2 * var(--enable-client-border));
  box-shadow: none;

  & .searchBarComponent__8f95f {
    text-align: center;
    background: transparent;
    font-size: 16px;
    font-weight: 700;
  }

  &:hover {
    background: var(--background-modifier-hover);

    & .searchBarComponent__8f95f {
      color: var(--interactive-hover);
    }
  }
}

/* [[ USER PANEL ]] */
[class^="nameTag_"][class*="canCopy_"] {
  margin-left: 5px;
}

.container_debb33 {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 0px;
  padding: 0;
  margin: 0;
  border-radius: calc(8px + 2px * 2 * var(--enable-client-border));
  border: calc(2px * var(--enable-client-border)) solid
    var(--client-border-color);
  overflow: hidden;
  background: var(--background-primary-alt) !important;

  & > .avatarWrapper__500a6 {
    width: 100%;
    height: 50px;
    padding: 0 16px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 0;
  }

  & > .flex_f18b02 {
    width: 100%;
    justify-content: center;
    gap: 0px;

    & > button {
      height: 40px;
      width: 100%;
      border-radius: 0;
      z-index: 0;
    }
  }
}

[class^="actionButtons_"] {
  display: flexbox;
  order: -1;
  box-sizing: border-box;
  gap: 0;
  padding-top: 0;

  & [class^="button_"][class*="buttonColor_"] {
    height: 40px;
    background: transparent;

    &:hover {
      background: var(--brand-700) !important;
    }
  }
}

.panels__58331 {
  background: transparent !important;
  margin: 4px;
  position: relative;
  transition: background 250ms ease-in-out;
}

/* [[ ONBOARDING SECTION ]] */
.theme-dark .container__6b2e5 {
  background: unset;
}

.categoryText_b2688c {
  font-size: 16px;
}

.pill_f055c3.small_b35a0f {
  background: var(--background-tertiary-alt);
}

.container__17159 {
  background: var(--background-tertiary);

  &:hover {
    background: var(--background-modifier-hover);
  }
}

.channelRow__538ef {
  background: var(--background-modifier-accent);
  margin: 8px 0;
  border-radius: 8px;

  &:hover {
    background: var(--background-modifier-hover);
  }
}

.newMosaicStyle_ed53d8 .textContainer__65f57 {
  border-radius: 8px 8px 0 0;
}

/* Bring back buttons */
.tabBarItem__60c37.item__48dda {
  border: none;
  background: var(--background-modifier-accent);
  border-radius: 8px;
  padding: 4px 8px;

  &.selected_a523ff {
    background: var(--background-modifier-selected);
  }

  &:hover {
    background: var(--background-modifier-hover);
  }
}

:is(.pageBody__12fb4 > :not(.prompt__1b100), .profile__4e41d)
  .text-xs-normal_ccc5fb {
  margin-top: 8px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}

.checkIcon__3c055 {
  top: 8px;
  right: 8px;
}

.bio_b1b425,
.username__0bc64,
.title__141dd,
.profile__4e41d > .text-xs-normal__46d75,
.heading-md-semibold__76ba1 {
  text-align: center;
}

.profileCard__1d74b .blockquoteContainer__66aaa {
  justify-content: center;
}

/* Center help text */
.prompt__1b100 > .helpText__80c19 {
  justify-content: center;
  font-weight: bold;
}

/* Center the top tab bar */
.tabBar_d4764b {
  border: none;
  justify-content: center;
}

/* Styling for survey headers */
.pageBody__12fb4 > div:first-child {
  background: var(--background-primary);
  border-radius: 8px;
  padding: 4px;
}

.profile__4e41d {
  & > :not(.profileCard__1d74b) {
    background: var(--background-primary);
  }

  & > .heading-md-semibold__76ba1 {
    border-radius: 8px 8px 0 0;
    padding: 4px 4px 0;
  }

  & > .text-xs-normal__46d75 {
    border-radius: 0 0 8px 8px;
    padding: 0 4px 4px;
  }
}

/* [[ GUILD BOOSTS ]] */
.textArea__81b51 {
  padding: 0 8px;
}

.progressBar_d41287 {
  height: 40px;
  border-radius: 8px;
  background: color-mix(in srgb, var(--brand-500) 50%, transparent);
}

.containerWithMargin__3a652 {
  position: relative;
  top: 25px;
  margin: 0;
  padding: 0;
  width: 105%;
}

.tadaIcon__5e3cc {
  right: 98%;
  top: 6px;
  translate: none;
  font-size: 36px;
  opacity: 0.5;
}

.progressBarContainer_e11b41 {
  top: -40px;
  z-index: -1;
  height: 40px;
  border-radius: 8px;
  background: var(--background-tertiary) !important;
}

.container_bc43c1 {
  position: relative;
  top: 25px;
  margin: 0;
  padding: 0;
  width: 105%;

  &:hover {
    /* Remove animation for performance */
    & .progressBar_d41287 {
      background: color-mix(in srgb, var(--brand-500) 75%, transparent);
    }
  }
}

/* ------------------------------------------------ [[ UNSORTED ]] -------------------------------------- */

.chatContent_f087cb {
  box-sizing: border-box;
  overflow: hidden;
  background: var(--background-primary-alt);

  border: calc(2px * var(--enable-client-border)) solid
    var(--client-border-color);
  margin: 4px;
  border-radius: calc(8px + 2px * 2 * var(--enable-client-border));
}

.sidebar_e031be {
  display: flex;
  flex-direction: var(--sidebar-orientation);
  max-width: 240px;
}

.content__76dcf {
  flex-direction: var(--client-orientation);
}

.pageBody_c0e5dd {
  padding: 8px;
  margin: 4px;
}

.container__7e23c {
  overflow: hidden;
  padding: 8px;
  margin: 4px;
  border-radius: calc(8px + 2px * 2 * var(--enable-client-border));
  background: var(--background-primary-alt) !important;

  border: calc(2px * var(--enable-client-border)) solid
    var(--client-border-color);
}

.container__26baa {
  display: flex;
  background: var(--background-primary-alt) !important;

  border: calc(2px * var(--enable-client-border)) solid
    var(--client-border-color);
  max-width: calc(100% - 8px);
  margin: 4px;
  padding: 8px;
  border-radius: calc(8px + 2px * 2 * var(--enable-client-border));
}

.resizeHandle_cc9d34 {
  height: 99%;
  background: var(--background-tertiary-alt) !important;
  margin-top: 0.4em;
}

.container_f79ab4 {
  background: transparent;
  padding: 0;
}

.container__68e43 {
  background: var(--background-primary-alt);
  margin: 4px;
}

.scroller__89969 {
  padding: 4px 0;
  margin: 4px;
  border-radius: calc(8px + 2px * 2 * var(--enable-client-border));
  background: var(--background-primary-alt) !important;

  border: calc(2px * var(--enable-client-border)) solid
    var(--client-border-color);
}

.fieldList__4e6dd {
  background: transparent;
}

.userInfo_fb7651 .button_ae40a4 {
  background: var(--channel-icon);
  margin-right: 12px;
}

.actionButtons__85e3c .lookFilled__950dd.colorBrand__27d57 {
  border-radius: unset;
  background: transparent;
}

.constrainedRow__72f7a .button.button_ae40a4 {
  background: var(--button-secondary-background);
  padding: 4px 8px;
  margin: 0 8px;
}

[class*="container_"] > [class*="wrapper_"][class*="userSelectNone_"] {
  padding: 16px;
  margin: 8px 0 8px 0;
  background: var(--background-tertiary) !important;
}

div[class|="message"] div[class|="markup"] ol {
  margin-left: unset;
  list-style-position: inside !important;
}

.peopleColumn__0c784 {
  border-radius: calc(8px + 2px * 2 * var(--enable-client-border));
  padding: 4px;
  margin: 4px;
  background: var(--background-primary-alt);

  border: calc(2px * var(--enable-client-border)) solid
    var(--client-border-color);
}

.buttonsContainer__22558 > div {
  margin: 4px;
  font-weight: 800;
}

.privateChannels__9b518 {
  background: transparent;
}

.children_cde9af:after,
.form_d8a4a1:before {
  content: none;
}

.contentWrapper_e0bb2c {
  background: var(--background-tertiary);
}

.wrapper__91b2c {
  background: var(--background-modifier-selected);
  margin: 8px 0;
}

.container_ec5ce2 {
  background: var(--background-modifier-selected);
}

.actionButton__2b4bb {
  background: var(--background-modifier-selected);
}

.searchBar__310d8 {
  background: var(--background-modifier-selected);
}

[class*="circleIconButton_"] {
  color: var(--interactive-normal);
}

.formTitle-2YQyhj {
  color: var(--header-primary);
  font-size: 16px;
}

.rowContainer-3t7486 {
  background: var(--channel-icon);
}

.header__77c95 {
  padding: 8px;
  margin: 4px 4px 0;
  background: var(--brand-700);
  border-radius: 8px;
  box-shadow: var(--elevation-high);
}

.embedSpotify__13fe9 {
  padding: 4px 0;
}

.nowPlayingColumn_b025fe {
  margin: 4px;
  border-radius: calc(8px + 2px * 2 * var(--enable-client-border));
  background: var(--background-primary-alt);
  border: calc(2px * var(--enable-client-border)) solid
    var(--client-border-color);
}

.container__3673d {
  background: var(--background-primary-alt);
  padding: 4px;
}

/* [[ FORUM ]] */
.container-3wLKDe {
  background: var(--background-primary-alt);
  margin: 4px;
}

.container_de2a56,
.mainCard__0ec2c {
  background: var(--background-primary-alt);
}

.theme-dark .outer_a41cf3.interactive__46c44:hover {
  background: var(--background-modifier-selected);
}

.wrapper__3c6d5,
.scroller__7c25e {
  border: unset;
}

.wrapper__3c6d5 {
  background: var(--background-primary-alt);
}

.theme-dark .inset__61d5b {
  background: transparent;
}

.section__253ec {
  background: var(--background-modifier-accent);
}

.scroller__7c25e {
  margin-left: 0;
}

.theme-dark .pageWrapper_c182d3 {
  margin: 4px 0 4px 12px;
  background: var(--background-primary-alt);
}

.arrow-2yY1Tm {
  filter: brightness(10);
}

.title_c42cad,
.title__7a155,
.label_bf6957,
.legend__2459b {
  font-size: 16px;
}

.reactionInner_d6d30f[aria-pressed="false"] {
  background: var(--background-modifier-accent);
}

.content__01e65 {
  flex-direction: var(--memberlist-orientation);
}

.tabBody_a90ea8 {
  flex-direction: var(--friendlist-orientation);
}

.linkButtonIcon_cff89e {
  color: var(--interactive-active);
}

.placeholder_dec8c7 {
  color: var(--text-muted);
}

.theme-light .container__6b2e5 {
  background: transparent;
}

.defaultColor__77578.text-lg-semibold__84aef {
  margin-right: 0 !important;
}

[class^="accountProfilePopoutWrapper_"] {
  left: 0;

  & [class*="userPopout"] {
    margin: 0;
    width: fit-content;
  }
}

.footer_e0b400 > button:last-child {
  margin-right: 16px;
}

.container_ec90d4 {
  box-sizing: border-box;
  overflow: hidden;
  background: var(--background-primary-alt);
  margin: 4px;
}

.container_d5dec4,
.container_db1b74,
.container__5a2c3 {
  background: var(--background-tertiary-alt);
}

.welcomeCTA__82be6 button {
  margin-top: 8px;
  background: var(--background-modifier-accent) !important;

  &:hover {
    background: var(--background-modifier-hover) !important;
  }
}

.overlayBackground__345c9 {
  background: transparent;
}

.wrapperCommon__2578a {
  margin-top: -6px;
}

.container_bd15da {
  background: transparent;
}

.button__4e69f:hover {
  background: var(--background-modifier-hover);
}

.navButton_b588d0 {
  color: var(--interactive-muted);
}

.navButton_b588d0:hover,
.navButtonActive__0c878 {
  color: var(--interactive-active);
}

.iconWrapper_de6cd1 {
  margin: 0 5px;
}

.searchBar__5a20a {
  width: 100px;
  padding: 0 0 0 5px;
}

ul.resultsGroup_b221b0 {
  background: var(--background-primary);
}

[class*="option_"]:hover {
  background: var(--background-modifier-hover);
}

.message__7e601 {
  padding: 16px 0;
}

.channelNameContainer__2d85c {
  display: flex;
  justify-content: center;
  background: var(--background-modifier-selected);
  padding: 4px;
  border-radius: 8px;
}

.searchHeader__4d70e {
  background: var(--background-primary-alt);
  border-radius: unset;
}

.searchHeaderTabList__75f6b.side_b4b3f6 {
  & .item__48dda {
    background: var(--background-modifier-accent);

    &:hover {
      background: var(--background-modifier-hover) !important;
    }
  }

  & .selected_a523ff.item__48dda {
    background: var(--background-modifier-selected);
    font-weight: 800;
  }
}

[class*="searchResult_"] {
  background: var(--background-modifier-accent);
  border-bottom: none !important;
}

.searchResult__00093:hover {
  background: var(--background-modifier-hover);
}

button[class*="emojiButtonNormal"] > div > div {
  filter: scale(1) opacity(25%) !important;
}

h2.container__43554 {
  margin: 8px 0 8px 8px;
  height: 24px;
  top: -2px;
}

.privateChannelRecipientsInviteButtonIcon__459c2 {
  top: -2px;
}

.wrapperCommon__2578a {
  padding: 0;
}

/* Fix channel list arrow */
.icon__3aa8e {
  top: -1px;
  width: 16px;
  height: 16px;
  left: 14px;
}

svg[class*="addButtonIcon_"] {
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
}

[class*="children_"] > button[class*="addButton_"] {
  border-radius: 50%;
  background: var(--background-modifier-accent);
  top: -4px;
  margin: 0 0 0 8px;
  width: 20px;
  height: 20px;
}

.guildTitle_e577f7 {
  font-size: 14px;
}

.collapseBtn__49a85 {
  background: var(--background-primary);
}

.container_a48b21 {
  margin: 4px 0 0 auto;
  padding: 0;
  background: transparent;
}

.popoutContainer__6565f {
  background: var(--background-primary);
}

.theme-dark .queryContainer_c1cb2f {
  background: var(--background-primary) !important;
  border-bottom: none !important;
}

/* Fix color consistency issues */
.iconWrapper_de6cd1 > svg {
  padding: 2px;
}

.name_b11a75 {
  color: var(--text-muted);
}

[class^="popout-"] [class^="row-"]:hover :is(.name_b11a75, .timestamp__8f948) {
  color: var(--interactive-hover);
}

.button__4e69f:hover .icon__2c9bf,
.icon__2c9bf:hover,
.iconWrapper_de6cd1[class*="clickable_"] [class*="icon_"]:hover {
  color: var(--interactive-hover) !important;
}

.section__38f83 {
  background: var(--background-primary);
}

.messagesPopout__28784 {
  background: var(--background-tertiary);
}

.connectedAccountContainer__5972d {
  border-width: 2px;

  &:has(.connectedAccountOpenIcon__23b1a:hover) {
    background: var(--profile-body-divider-color);
  }
}

.flowerStarContainer__00f61.connectedAccountVerifiedIcon__103a6 > svg > path {
  fill: var(--profile-body-divider-color);
  filter: brightness(1) contrast(2);
}

.title__392bc,
.title_d9421c,
.activity__20c1e .overflow__993fa,
span[class*="headerLabel_"],
[class*="pageBody_"] > div > h2 {
  font-size: 14px;
  color: var(--header-primary) !important;
  display: block;
  text-align: center;
}

.eyebrow_b3f8ba {
  font-size: 12px;
  font-weight: 800;
  color: var(--text-muted) !important;
}

.item__48dda.themed_b957e8 {
  font-size: 14px;
}

.content__690c5 .wrapper__612a5 {
  align-items: center;
}

.content__690c5 .children__563f2 {
  padding-top: 0;
}

.wrapper__4e6b6 {
  top: 16px;
}

.mention,
.wrapper__4ef2e {
  padding: 0 4px;
}

.wrapper__4e6b6 {
  border-radius: 8px;
}
.vc-rdb-view .wrapper__4e6b6 {
  scale: 0.825;
}

.listItem__48528:first-of-type {
  margin: 8px 0;
}

/* [[ ADDED IN v2.0.0 ]] */
.container__84c26 {
  position: relative;
  top: 12px;
}

.wrapper__4ef2e {
  color: var(--brand-260);
  background: color-mix(in srgb, var(--brand-500) 50%, transparent);
}

.container__2ed72.checked__36fdc {
  background: var(--brand-400) !important;
}

path[fill="rgba(35, 165, 90, 1)"] {
  fill: var(--brand-400) !important;
}

.premiumIconWrapper__7793e {
  right: 16px;
  top: 12px;
}

.bar_e58961[style="background: var(--green-360);"] {
  background: var(--primary-500) !important;
}

.resultsGroup_b221b0 .header__00739 {
  font-size: 14px;
}

.content_dc3a33 a {
  color: var(--brand-400);
}

.container__694a1 {
  background: transparent;
  border-radius: 8px;
}

.chatTarget_f14a03,
.root_a28985:has(.userProfileModalOuter__90b4a),
:is(.replying__38514, .mentioned_fa6fd2):hover {
  background: unset !important;
}

.wrapper__575ae {
  height: calc(100% - 16px);
  width: calc(100% - 16px);
}

.barBase__8839d {
  width: fit-content;
}

.theme-dark .searchFilter_dbda51 {
  background: var(--brand-500);
}

/* Fix auto complete sections overflow */
.outerWrapper__99794,
.autocompleteAttached__5d2a6 {
  margin: 8px 20px auto 8px;
  padding: 4px;
  border-radius: 8px !important;
}

/* Fix profile in customization section */
.profileCustomizationSection_c4a87a {
  & .section__62b44 {
    &.container__1c2eb {
      justify-content: center;

      & > div {
        width: 100%;
      }
    }
  }
}

/* Match the unread pill with the brand color */
:is(.pill_f4ac2f, .pill__6b31b) > .item_f9d377 {
  background: var(--brand-300);
}

.imageWrapper__178ee {
  border-radius: 4px;
}

.reaction__4a43f {
  background: var(--background-primary);
}

.userProfileModalInner__84e47 {
  max-height: 800px !important;
}

button[class*="lookOutlined__"] {
  border: none;
  background: var(--background-modifier-accent);
  border-radius: 4px;

  &:hover {
    background: var(--background-modifier-hover);
  }
}

.badgeList__76720 {
  margin-right: 10px;
  border-radius: 8px;
}

/* VC container */
.container_e1958d {
  margin-bottom: calc(8px * var(--enable-client-border));
  padding: 0;
  background: transparent;
  border-radius: calc(8px + 2px * 2 * var(--enable-client-border));
  border-bottom: none;
  border: calc(2px * var(--enable-client-border)) solid
    var(--client-border-color);

  & span {
    font-family: var(--font-primary) !important;
    font-weight: bold;
  }
}

/* Read all notifications button */
.vc-ranb-button {
  margin: 12px 6px;
  padding: 0;
  width: calc(100% - 12px);
  background: var(--background-modifier-accent);

  &:hover {
    background: var(--background-modifier-hover);
  }
}

/* Server banner */
.animatedContainer__0e828 {
  border-radius: 8px;
}

/* Show all voice channels */
.voiceChannelsButton_fd0b98 {
  transition: all 150ms ease-in-out;

  &:hover {
    border-color: var(--brand-500);
  }
}

/* Browse channels */
.containerDefault_ae2ea4.wrapper__612a5 .link_ddbb36 {
  text-align: center;
  background: var(--background-modifier-accent);

  & > .content__6bf34 {
    text-transform: uppercase;

    & > .name__4eb92 {
      font-weight: bold;
      font-size: 12px;
    }
  }
}

.link_ddbb36.basicChannelRowLink__3b042 {
  padding: 2px;
  min-height: 24px;
}

/* Channel categories */
h3.container__43554,
h2.container__43554 {
  background: var(--background-modifier-accent);
  border-radius: 4px;
  padding: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-left: 8px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

/* Member role categories */
.membersGroup_cad095.container__43554 {
  height: 24px;
  margin: 8px 0 8px 8px;
  border-radius: 4px;
  font-size: 12px;
}

/* Test divider color */
.divider__01aed {
  --divider-color: var(--brand-500);
}

.main_e0b3ac /* Server welcome screen */,
.container_b92032 /* Forum page */,
.searchResultsWrap__2e184 /* Search results wrap */,
.notice__99c03 /* Notice */,
.callContainer__1477d /* Video call container */ {
  border-radius: calc(8px + 2px * 2 * var(--enable-client-border)) !important;
  border: calc(2px * var(--enable-client-border)) solid
    var(--client-border-color);
  margin: calc(4px * var(--enable-client-border));
}

.notice__99c03 {
  background: transparent;
  border-bottom: none;
}

/* DM Pin container (Plugin) */
.vc-pindms-section-container {
  font-weight: bold;
  border-radius: 4px;
  background: var(--background-modifier-accent);
  margin: 8px 0 8px 8px;
  padding: 4px 8px;
  text-align: center;
  height: fit-content;
}
