/* -------------------- [[ EXTRA IMPORTS GO HERE ]] -------------------- */
@import url(https://seele1306.github.io/Modular/src/comp/Root.css);/* Color variables + add-ons */

/* -------------------- [[ START OF MAIN CSS FILE ]] -------------------- */

:root {
/* [[ START OF CUSTOMIZABLE PARAMETERS ]] */
--modular-background: none !important;
--modular-hue: 232;
--modular-saturation: 23%;
--brand-experiment: var(--ctp-macchiato-mauve);
--rs-online-color: var(--ctp-macchiato-green);
--rs-idle-color: var(--ctp-macchiato-yellow);
--rs-dnd-color: var(--ctp-macchiato-red);
--rs-streaming-color: var(--ctp-macchiato-lavender);
--rs-bot-color: var(--ctp-macchiato-blue);
--chat-bubble-default: var(--background-modifier-accent);
--chat-bubble-replying: var(--ctp-macchiato-sky);
--chat-bubble-mentioned: var(--ctp-macchiato-peach);
--chat-bubble-automod: var(--ctp-macchiato-red);
--font-main: "" ;
--font-code: "";
--section-thickness: 0px;
--modular-background-blur-strength: 10px;
--modular-background-brightness: 100%;
--modular-transparency: 25%;
--sidebar-orientation: column;
--guild-orientation: row;
--client-orientation: row;
--memberlist-orientation: row;
--friendlist-orientation: row;
--titlebar-name: "Your name here"
}

/* [[ ALL DISPLAY: NONE ELEMENTS ]] */
span[class*=dot_][class*=maskSecondary_],
[class*=unread_],
[class^="threadSuggestionBar"],
.unreadMentionsBar__0d02a,
.replying_d7b6ad::before,
.mentioned__58017::before,
.children__32014:after,
.form__13a2c:before,
.section__6f61e:has(.roles__74a2b:empty),
.lastSection__37b97,
.content__1a4fe::before,
.chat__4eed1::before,
[class*=userPanelInner_]::before,
.iconContainerLeft__4dcea,
.bar__004d9,
.attachment__7a2d0,
.avatar_eb6eba,
.blob__8d5bd,
.tabBody_b3d268::before,
.wrapper__7a35f:after,
.option_b5597b::before,
.option_b5597b::after,
[class^=wordmarkWindows] path:not(:first-child),
#user-settings-cog > .scroller__750f5 > .item__183e8,
.separator__8424b:before,
.emojiItemDisabled__36cbf,
.automodMessage__410f7:before,
.content_c6490e .iconContainer__3f9b0,
.uploadInput_a6be39,
[class^=accountProfilePopoutWrapper] .section__6f61e,
.userPopoutInner_f545a3:has(#account) > *:not(:has(#account)),
.userPopoutOverlayBackground_d8afa4:has(#account) > *:not(#account),
/* added in v2.0.0 */
#vc-membercount :is(span[style="background-color: var(--green-360); width: 12px; height: 12px; border-radius: 50%; display: inline-block; margin-right: 0.5em;"],
span[style="width: 6px; height: 6px; border-radius: 50%; border: 3px solid var(--primary-400); display: inline-block; margin-right: 0.5em; margin-left: 1em;"]),
.lockIcon_cf3a4d,
.separator__3cfd2
{
display: none !important
}

/* [[ SPOTIFY CONTROLS ]] */
#vc-spotify-player {
background: transparent !important;
border-bottom: none;
padding: 0.875em 0.75em
}
.vc-spotify-button-row {
margin-top: 15px
}
#vc-spotify-titles {
margin: 0 0.25em
}
#vc-spotify-song-title {
font-weight: 800
}
.vc-spotify-time-right,
.vc-spotify-time-left {
margin-top: 1px;
font-weight: 600;
letter-spacing: 0.05em
}
.vc-spotify-comma,
.vc-spotify-ellipoverflow,
.vc-spotify-artist,
.vc-spotify-album {
margin-top: -2px;
font-weight: 600
}
#vc-spotify-player [class*=bar_] {
background: var(--background-modifier-accent);
height: 4px
}
#vc-spotify-player [class*=barFill] {
background: var(--brand-experiment)
}
/*#vc-spotify-player .grabber_d2868c {
background: var(--interactive-active);
border-color: var(--interactive-active);
height: 8px !important;
width: 8px !important;
border-radius: 50%;
transform: translateY(1px) translateX(2.5px)
}*/
#vc-spotify-player .vc-spotify-repeat-off.vc-spotify-repeat-off.vc-spotify-repeat-off,
#vc-spotify-player .vc-spotify-shuffle-off.vc-spotify-shuffle-off.vc-spotify-shuffle-off {
color: var(--brand-experiment)
}
#vc-spotify-player .vc-spotify-button.vc-spotify-button:hover {
background: color-mix(in srgb, var(--brand-experiment) 50%, transparent);
}
#vc-spotify-player .vc-spotify-button.vc-spotify-button {
color: var(--interactive-active);
background: color-mix(in srgb, var(--brand-experiment) 25%, transparent);
margin: 0 4px;
scale: 0.85;
}
[class*=panels_] [class*=activityPanel_] {
border-bottom: none
}
[class*=listeningAlong_] {
padding-bottom: 24px !important
}
/* added in v2.0.0 */
#vc-spotify-info-wrapper {
flex-direction: row-reverse
}
#vc-spotify-player #vc-spotify-album-image {
margin-top: -4px;
border-radius: 8px
}
/*.wrapper_bd2abe {
background: transparent
}*/
#vc-spotify-titles {
margin-left: 0;
padding-left: 0;
flex: 1 auto
}

/* [[ VC CONTAINER + CONTROLS ]] */
.container_d667ff {
display: flex;
flex-direction: column;
box-sizing: border-box;
border: none;
padding: unset;
background: transparent !important
}
.container_d667ff>.flex_f5fbb7 {
padding: 8px;
}
[class*=callContainer_] {
background: var(--background-primary-alt);
padding: 0.5em;
margin: 0.25em
}
[class*=voiceChannelsButton_] {
border: unset;
margin-left: 8px;
margin-right: 0;
background: var(--background-modifier-accent);
text-transform: none;
letter-spacing: 0.02em;
text-align: center
}
[class*=voiceChannelsButton_]>div {
font-weight: 800;
color: var(--text-muted)
}
[class*=voiceChannelsButton_]:hover>div {
color: var(--interactive-hover)
}
.chatIcon__75eea {
top: 8px;
right: 8px
}
[class*=contents_][class*=lineHeightReset_]>svg:hover {
color: var(--interactive-hover)
}
[class*=contents_][class*=lineHeightReset_]>svg:active {
color: var(--interactive-active)
}
.participantsButton__56586 {
background: var(--background-tertiary)
}
[class*=overlayBottom_] [class*=statusContainer_]>svg {
background: var(--background-floating)
}
[class*=panels_]>[class*=panel_][class*=activityPanel_] {
padding: 0.75em 1em 0.75em 1em;
background: var(--background-tertiary)
}
.connection__5bb32, .voiceUsers_c72ec5 {
padding: 0.5em 0.75em
}
[class*=pictureInPictureVideo_] {
width: 480px;
height: 270px
}

/* [[ QUOTES ]] */
[class*="markup_"] blockquote {
padding: 4px 10px;
background: color-mix(in srgb, var(--brand-experiment) 25%, transparent);
border-radius: 0 4px 4px 0
}
.theme-dark[class*="markup_"] blockquote {
color: var(--brand-experiment);
background: var(--brand-experiment)
}
.theme-light[class*="markup_"] blockquote {
color: var(--brand-experiment)
}
[class*="blockquoteDivider_"] {
background: var(--brand-experiment)
}

/* [[ CHAT AREA ]] */
.channelTextArea__56a36 {
border-radius: 0;
background: var(--background-primary-alt);
}
.form__13a2c {
margin-top: 0;
padding: 0;
}
.sendIcon__461ff path {
fill: var(--brand-experiment)
}
.form__13a2c .buttons_ce5b56 {
overflow: hidden;
position: relative;
justify-content: flex-end;
transition: all 350ms
}
.form__13a2c .buttons_ce5b56>:is(button,div) {
display: flex;
justify-content: center
}
.form__13a2c .buttons_ce5b56:where(:not(:hover)){
max-width: 32px
}
.form__13a2c .buttons_ce5b56::before {
opacity: 0%;
transition: opacity 150ms;
position:absolute;
bottom:4px;
content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Crect width='352' height='42' x='80' y='96' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3Crect width='352' height='42' x='80' y='240' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3Crect width='352' height='42' x='80' y='384' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3C/svg%3E");
display: block;
width: 32px
}
.form__13a2c .buttons_ce5b56:where(:not(:hover))::before {
opacity: 100%;
transition: opacity 1000ms
}
.form__13a2c .buttons_ce5b56:hover {
transition: all 150ms;
width: 50%
}
.form__13a2c .buttons_ce5b56 > :is(div,button) {
transform: scaleX(0%) !important;
opacity: 0%;
display: flex;
justify-content: center;
}
.form__13a2c .buttons_ce5b56:hover > :is(div,button) {
transform: scaleX(100%) !important;
transition: opacity 300ms;
opacity: 100%
}
.buttons_ce5b56 > :is(div,button):hover svg {
color: var(--brand-experiment)
}
.buttons_ce5b56 > :is(div,button) svg {
transition: all 0.3s;
color: var(--interactive-normal);
}
.separator__8424b {
grid-column: 4;
margin-right: 8px;
padding-bottom: 0.5em;
padding-top: 0.5em
}
.separator__8424b .innerButton_debeee {
padding: 0;
margin: 0
}
.channelTextArea__2e60f .divider_b9338f {
border-top: none
}
.channelAttachmentArea__740bf {
background: var(--brand-experiment-900);
margin-left: 0.25em;

padding: 0.5em;
gap: 8px;
border-radius: 8px;
width: fit-content
}
.upload_c98ecb {
min-height: 150px;
max-height: 150px;
min-width: 150px;
max-width: 150px
}
.actionBar__3cdab {
transform: translate(0, -16px)
}
.actionBar__3cdab .button_d553e5 {
background: var(--brand-experiment-900)
}
/* align chatbox to bottom */
.form__13a2c > :first-child {
margin-bottom: 0px
}
/* center chatbox contents, no border radius */
.form__13a2c > :first-child > * {
padding-top: 4px;
min-height: 49px;
border-radius: 0
}
/* slowmode/typing indicator */
.form__13a2c > :last-child[class^=typing] {
top: -32px;
right: 24px;
padding: 4px 16px 4px 8px;
margin-left: auto;
width: fit-content;
border-radius: 8px 8px 0 0;
background: var(--brand-experiment-900)
}
/* jump to presz */
.jumpToPresentBar__0ff7f {
padding: 0;
left: 0;
border-radius: 0px;
border-top-right-radius: 8px;
width: fit-content !important;
background: var(--brand-experiment-900);
right: unset
}
.jumpToPresentBar__0ff7f>.barButtonMain__0f5c6 {
flex: 0 0 auto
}
main[class^=chatContent] [class^=attachedBars] {
min-height: unset !important;
position: relative;
padding: 0 0 4px 0 !important;
margin: -4px 20px 0 -4px !important;
border-radius: 0 0 8px 0 !important;
background: var(--brand-experiment-900)
}
.replyBar_b64d74 {
background: var(--brand-experiment-900)
}
/* Positions both the *new messages* and *viewing old messages* bars on top of the channel text area. */
.barBase__4e0ba {
--bar-height: 24px;
--bar-edges: 24px
}
.messagesWrapper_ea2b0b:has(.newMessagesBar__8b6d7):has(.jumpToPresentBar__0ff7f) .barBase__4e0ba {
align-items: flex-start;
height: var(--bar-height);
overflow: hidden;
width: calc(50% - var(--bar-edges))
}
.base__512ed .typingDots_d92d42 svg {
margin-right: 4px
}
.newMessagesBar__8b6d7 {
margin-left: calc(var(--bar-edges)* -1);
border-radius: 8px 8px 0 0;
inset: auto var(--bar-edges) 0;
background: var(--brand-experiment-900)
}
.messagesWrapper_ea2b0b:has(.jumpToPresentBar__0ff7f) .newMessagesBar__8b6d7 {
left: auto
}
.newMessagesBar__8b6d7:hover .span_a7874a,
.jumpToPresentBar__0ff7f:hover .barButtonMain__0f5c6 {
animation: vertiscroll 0.5s linear forwards;
display: block;
height: auto;
overflow: visible;
white-space: normal
}
@keyframes vertiscroll {
0% {
transform: translateY(0%)
}
100% {
transform: translateY(calc(-100% + var(--bar-height)))
}
}

/* [[ STAFF TAGS ]] */
[class*=botText_],
[class*=botTagRegular_] {
background: var(--brand-experiment-100);
color: var(--brand-experiment-900);
font-weight: bold;
letter-spacing: 0.05em;
text-transform: none
}
[class^="userTagNoNickname-"]>[class*="botTag"] {
margin-bottom: 4px
}

/* [[ CHANNEL LIST ]] */
:is(.containerDefault__3187b.selected__3b4cb, .modeUnread_f74c03) .icon_eff5d4,
.selected__9800b .layout_bb8e67,
.channel_c21703.container-32HW5s>.interactiveSelected_ec846b,
.navButtonActive__735cb {
background: color-mix(in srgb, var(--brand-experiment) 50%, transparent)
}
.icon_eff5d4 {
width: 15px;
height: 15px;
margin: 2px 2px 0 0;
border-radius: 4px;
padding: 3px
}
:is(.containerDefault__3187b.selected__3b4cb, .modeUnread_f74c03) .icon_eff5d4 {
color: var(--interactive-active);
}
.containerDefault__3187b:hover .icon_eff5d4 {
color: var(--interactive-active);
background: color-mix(in srgb, var(--brand-experiment) 50%, transparent)
}

/* [[ SHIKI CODEBLOCKS ]] */
.markup_a7e664 code {
margin: 0.5em 0 0.5em 0
}
.markup_a7e664 code.inline {
border: none !important;
font-weight: 600;
}
code:not(code.inline) {
background: transparent
}
.shiki-container {
margin: 0.5em;
border: unset;
width: max-content
}

/* [[ ROLE PILLS ]] */
[class*=roles_] {
justify-content: center
}
.rolePill_ee1aa1 {
padding: 0;
overflow: hidden;
position: relative
}
.rolePill_ee1aa1 .roleRemoveButton__737f2 {
position: unset;
width: 100%;
height: 100%
}
.rolePill_ee1aa1 .roleRemoveButton__737f2 .roleCircle_bae511 {
border-radius: unset;
margin: unset;
position: absolute;
width: 100%;
height: 100%;
mix-blend-mode: multiply;
text-align: center;
}
.rolePill_ee1aa1 .roleRemoveButton__737f2 .roleRemoveIcon__7f63d {
background: var(--profile-role-pill-background-color);
padding: 2px;
border-radius: 50%;
margin: -6px 0 0 -6px
}
.rolePill_ee1aa1 .roleRemoveButton__737f2 .roleRemoveIcon__7f63d path {
fill: #fff
}
.rolePill_ee1aa1 .roleRemoveButton__737f2+.roleName_d19d33,.rolePill_ee1aa1 .roleIcon__7599e {
margin-left: 4px
}
.rolePill_ee1aa1 .roleName_d19d33 {
padding: 4px
}
.rolePill_ee1aa1 .roleName_d19d33 div {
font-weight: 600
}
.rolePill_ee1aa1 .roleIcon__7599e {
min-width: 16px;
z-index: 1
}
.rolePillBorder__00c58 {
border-color: none
}

/* [[ MAIN BACKGROUND COMPONENTS ]] */
.bg__7adbf {
filter: brightness(var(--modular-background-brightness));
background: var(--modular-background) center/cover no-repeat !important
}
.sidebar_ded4b5,
.chat__52833,
.container_b2ce9c {
background: transparent
}
.base__3e6af {
margin: 8px;
border-radius: 4px
}
.container__037ed {
backdrop-filter: blur(var(--modular-background-blur-strength));
background: hsl(var(--primary-630-hsl)/var(--modular-transparency));
margin: 16px;
width: calc(100vw - 32px);
height: calc(100vh - 32px);
border-radius: 16px;
flex-direction: var(--guild-orientation);
}
.wrapper_a7e7a8 {
background: var(--background-primary-alt)
}

/* [[ RADIAL STATUS ]] */
.message__80c10 .contents_f41bb2 .avatar__08316 {
margin-top: -10px
}
.message__80c10 .contents_f41bb2 .avatarDecoration__14b3c {
margin-top: -14px
}

/* [[ STATUS (ALTERNATIVE) ]] */

rect[fill="#23a55a"], rect[fill="rgba(35, 165, 90, 1)"],
foreignObject[mask="url(#svg-mask-status-online)"] > div,
div[class^=dotOnline],
i[class^=statusOnline_] {
fill: var(--rs-online-color) !important;
background: var(--rs-online-color) !important
}
rect[fill="#f0b232"], rect[fill="rgba(240, 178, 50, 1)"],
foreignObject[mask="url(#svg-mask-status-idle)"] > div {
fill: var(--rs-idle-color) !important;
background: var(--rs-idle-color) !important
}
rect[fill="#f23f43"], rect[fill="rgba(242, 63, 67, 1)"],
foreignObject[mask="url(#svg-mask-status-dnd)"] > div {
fill: var(--rs-dnd-color) !important;
background: var(--rs-dnd-color) !important
}
rect[fill="#593695"] {
fill: var(--rs-streaming-color) !important
}

/* [[ CHAT BUBBLES ]] */
.channelTextArea__2e60f {
background: transparent
}
/* ShowMeYourName plugin */
.vc-smyn-suffix:before {
content: "| @" !important
}
.vc-smyn-suffix:after {
content: "" !important
}
.vc-smyn-suffix {
color: currentColor !important;
opacity: 0.5
}
/* Username */
.contents_f41bb2 .username_d30d99,
.base__512ed .text_ca54e9 strong,
.name__4c9aa {
background: color-mix(in srgb, currentColor 25%, rgba(0, 0, 0, 0.25));
text-shadow: 0 0 5px color-mix(in srgb, currentColor 25%, #000);
filter: brightness(1.25);
margin-right: 4px;
padding: 0 4px;
border-radius: 4px
}
.username_d30d99::after {
position: relative;
margin: 0 0 0 8px;
color: inherit;
text-shadow: 0 0 5px #000
}
/* Message types */
.contents_f41bb2 .username_d30d99::after {
content: "wrote:"
}
.message__80c10:has(.edited_b20dd9) .contents_f41bb2 .username_d30d99::after {
content: "wrote and edited:";
}
.message__80c10:has(.mediaAttachmentsContainer_edba75, .embed_d3cbe3) .contents_f41bb2 .username_d30d99::after {
content: "sent attachment(s):"
}
.message__80c10:has(.stickerAsset__00e6b) .contents_f41bb2 .username_d30d99::after {
content: "sent a sticker:"
}
.message__80c10:has(.emoji.jumboable) .contents_f41bb2 .username_d30d99::after {
content: "sent emoji(s):"
}
.hasReply_febd50 .contents_f41bb2 .username_d30d99::after {
content: "replied:"
}
.message__80c10.hasReply_febd50:has(.edited_b20dd9) .contents_f41bb2 .username_d30d99::after {
content: "replied and edited:";
}
.mentioned__58017 .contents_f41bb2 .username_d30d99::after {
content: "mentioned:"
}
/* Timestamps */
.contents_f41bb2 [class^=timestamp] {
position: relative;
color: var(--text-normal) !important;
font-weight: bold;
letter-spacing: 0.05em;
font-size: 10px !important;
margin: 0 4px;
height: 16px;
border-radius: 4px;
top: -2px;
line-height: 1rem !important;
}
.contents_f41bb2 [class^=botTagCozy_] {
line-height: 1rem;
box-shadow: 0 0 0 1px var(--brand-experiment-900);
height: 16px;
top: 2px;
}
@font-face {
font-family: "Blank Dot";
src: url("https://raw.githubusercontent.com/adobe-fonts/adobe-blank/master/AdobeBlank.ttf.woff");
unicode-range: U+2022;
}
[class^=timestampInline_] {
font-family: "Blank Dot", var(--font-primary);
}
.contents_f41bb2 [class^=timestamp]:not(:has(time)) {
background: var(--brand-experiment);
padding: 0 4px 0 2px;
box-shadow: 0 0 0 1px var(--brand-experiment-300)
}
time[aria-label^="Today"],/*cut off "today at" */
.timestampVisibleOnHover_e8cc6d time::after { 
display: inline-block;
max-width: 5ch;
overflow: hidden;
direction: rtl;
white-space: nowrap;
vertical-align: bottom; 
}
.contents_f41bb2 [class^=timestamp]:has(time) {
background: var(--brand-experiment-900);
padding: 0 4px;
box-shadow: 0 0 0 1px var(--brand-experiment)
}
/* Start of Chat Bubbles */
.markup_a7e664.messageContent__21e69 a {
background: var(--background-modifier-accent);
color: var(--text-link);
font-weight: 600;
padding: 0 0.25em;
border-radius: 4px
}
.groupStart__56db5.cozyMessage__64ce7>.contents_f41bb2:hover .markup_a7e664.messageContent__21e69 a,
.cozyMessage__64ce7:not(.groupStart__56db5)>.contents_f41bb2:hover>.markup_a7e664:not(:empty, .searchResultsWrap__9f374 *) a
{
background: var(--background-modifier-hover);
text-decoration: none
}
.groupStart__56db5.cozyMessage__64ce7>.contents_f41bb2,
.cozyMessage__64ce7:not(.groupStart__56db5)>.contents_f41bb2>.markup_a7e664:not(:empty, .searchResultsWrap__9f374 *),
.container_dbadf5>:not(.reactions_b8dc93, .searchResultsWrap__9f374 *, iframe) {
margin: 0.125em 0;
padding: 0.5em;
border-radius: 8px;
background: color-mix(in srgb, var(--chat-bubble-default) 25%, transparent);
max-width: max-content;
box-sizing: border-box
}
.mediaAttachmentsContainer_edba75 {
margin-bottom: 0 !important
}
.altText__6dd8b {
margin: 0.5em 0 -0.25em
}
.groupStart__56db5.cozyMessage__64ce7>.contents_f41bb2:hover,
.cozyMessage__64ce7:not(.groupStart__56db5)>.contents_f41bb2:hover>.markup_a7e664:not(:empty, .searchResultsWrap__9f374 *),
.container_dbadf5>:not(.reactions_b8dc93, .searchResultsWrap__9f374 *, iframe):hover {
background: color-mix(in srgb, var(--chat-bubble-default) 50%, transparent)
}
.groupStart__56db5.cozyMessage__64ce7.replying_d7b6ad>.contents_f41bb2,
.cozyMessage__64ce7.replying_d7b6ad:not(.groupStart__56db5)>.contents_f41bb2>.markup_a7e664:not(:empty, .searchResultsWrap__9f374 *),
.replying_d7b6ad .container_dbadf5>:not(.reactions_b8dc93, .searchResultsWrap__9f374 *, iframe) {
background: color-mix(in srgb, var(--chat-bubble-replying) 25%, transparent);
border-radius: 8px;
max-width: max-content
}
.groupStart__56db5.cozyMessage__64ce7.replying_d7b6ad>.contents_f41bb2:hover,
.cozyMessage__64ce7.replying_d7b6ad:not(.groupStart__56db5)>.contents_f41bb2>.markup_a7e664:not(:empty, .searchResultsWrap__9f374 *):hover,
.replying_d7b6ad .container_dbadf5>:not(.reactions_b8dc93, .searchResultsWrap__9f374 *, iframe):hover {
background: color-mix(in srgb, var(--chat-bubble-replying) 50%, transparent)
}
.groupStart__56db5.cozyMessage__64ce7.mentioned__58017>.contents_f41bb2,
.cozyMessage__64ce7.mentioned__58017:not(.groupStart__56db5)>.contents_f41bb2>.markup_a7e664:not(:empty, .searchResultsWrap__9f374 *),
.mentioned__58017 .container_dbadf5>:not(.reactions_b8dc93, .searchResultsWrap__9f374 *, iframe) {
background: color-mix(in srgb, var(--chat-bubble-mentioned) 25%, transparent);
border-radius: 8px
}
.groupStart__56db5.cozyMessage__64ce7.mentioned__58017>.contents_f41bb2:hover,
.cozyMessage__64ce7.mentioned__58017:not(.groupStart__56db5)>.contents_f41bb2>.markup_a7e664:not(:empty, .searchResultsWrap__9f374 *):hover,
.mentioned__58017 .container_dbadf5>:not(.reactions_b8dc93, .searchResultsWrap__9f374 *, iframe):hover {
background: color-mix(in srgb, var(--chat-bubble-mentioned) 50%, transparent)
}
.groupStart__56db5.cozyMessage__64ce7.automodMessage__410f7>.contents_f41bb2,
.cozyMessage__64ce7.automodMessage__410f7:not(.groupStart__56db5)>.contents_f41bb2>.markup_a7e664:not(:empty, .searchResultsWrap__9f374 *),
.automodMessage__410f7 .container_dbadf5>:not(.reactions_b8dc93, .searchResultsWrap__9f374 *, iframe) {
background: color-mix(in srgb, var(--chat-bubble-automod) 25%, transparent);
border-radius: 8px
}
.groupStart__56db5.cozyMessage__64ce7.automodMessage__410f7>.contents_f41bb2:hover,
.cozyMessage__64ce7.automodMessage__410f7:not(.groupStart__56db5)>.contents_f41bb2>.markup_a7e664:not(:empty, .searchResultsWrap__9f374 *):hover,
.automodMessage__410f7 .container_dbadf5>:not(.reactions_b8dc93, .searchResultsWrap__9f374 *, iframe):hover {
background: color-mix(in srgb, var(--chat-bubble-automod) 50%, transparent)
}

/* [[ PROFILES ]] */
.customStatus__3aa7f .customStatusEmoji__00639 {
margin: 0.25em -0.75em 0.5em;
position: relative;
left: 50%;
float: none;
border-radius: 4px
}
.customStatus__3aa7f .customStatusEmoji__00639.customStatusSoloEmoji__24b58 {
position: relative;
left: 42.5%
}
.customStatus__3aa7f::before {
content: "Current status";
font-weight: 800;
color: var(--text-muted);
display: block
}
.customStatus__90402::before {
content: "Current status";
font-weight: 800;
color: var(--text-muted);
display: block;
}
.defaultColor__77578.eyebrow_e5a66c.defaultColor__87d87.title_ef4a6d {
justify-content: center;
display: flex
}
.userPopoutInner_f545a3 {
max-height: calc(100vh - 480px)
}
.pronouns__8bcdb,
.pronouns_be950a {
text-transform: none;
color: var(--text-normal);
font-size: 16px;
font-weight: 800;
padding: 0.25em 0.375em;
margin: 0.25em 0 0 0;
border-radius: 4px;
max-width: 90%;
overflow: hidden;
background: linear-gradient(45deg, var(--profile-gradient-primary-color), var(--profile-gradient-secondary-color));
background-size: 200% 200%
}
.profileBannerPremium__9ca8f {
margin: 0.75em auto auto;
width: calc(100% - 24px);
height: calc(100px - 24px) !important;
min-height: 188px !important
}
.popoutBannerPremium__942db {
margin: 0.5em auto auto;
width: calc(100% - 16px) !important;
height: calc(100px - 16px) !important;
min-height: 106px !important
}
.scroller__83262 {
padding: 6px 12px
}
.section__6f61e>div:not(.roles__74a2b),
.userInfoText__5f822 {
padding: 0.5em
}
.scrollerSeparator__321f3 {
box-shadow: none
}
.section__6f61e.usernameSection__53868 {
margin-bottom: 0.5em
}
.container_b6b15b {
margin: 0 0.75em;
padding: 16px;
}
.section__6f61e>div:not(.activity__20c1e, .roles__74a2b),
.memberSinceContainer__0a28b,
.userInfoText__5f822,
.container_b6b15b,
.nameTag__7814f,
img[class*=emoji_] {
justify-content: center;
text-align: center
}
.section__6f61e>div:not(.roles__74a2b), 
.mutualGuildsList__6e961, 
.mutualFriendsList__632b5,
.container_b6b15b,
.userInfoText__5f822 {
background: var(--profile-body-background-color);
border: var(--section-thickness) solid var(--profile-body-divider-color);
border-radius: 8px
}
:is(.userPopoutInner_f545a3, .userInfoText__5f822) .blockquoteContainer_f24d1f {
justify-content: center
}
.userPopoutInner_f545a3 .markup_a7e664 a,
.userInfoText-2MFCmH.markup_a7e664 a,
.timestamp_a65714 {
background: var(--background-modifier-accent);
color: var(--text-link);
font-weight: bold;
padding: 0 0.5em
}
:is(.userPopoutInner_f545a3 .markup_a7e664 a, .userInfoText-2MFCmH.markup_a7e664 a, .timestamp_a65714):hover {
background: var(--background-modifier-hover);
text-decoration: none
}
.tabBarContainer__63f55 {
margin: 20px 0 0
}
.tabBar__35f81 {
display: flex;
flex-flow: row wrap;
justify-content: center;
align-items: center;
row-gap: 0.5em;
column-gap: 0.5em;
margin-bottom: 1em
}
.userProfileModalInner__7c87d .top__592a7 .item__48dda {
border: none;
background: color-mix(in srgb, var(--profile-body-background-color) 40%, transparent);
padding: 0.125em 0;
width: 31%;
border-radius: 4px;
text-align: center
}
.tabBarContainer__63f55,
.top__592a7 .themed_b957e8.item__48dda:hover {
border: none
}
.userProfileModalInner__7c87d .top__592a7 .item__48dda:hover {
background: color-mix(in srgb, var(--profile-body-background-color) 70%, transparent) !important
}
.userProfileModalInner__7c87d .top__592a7 .selected__5711d.item__48dda {
background: color-mix(in srgb, var(--profile-body-background-color) 100%, transparent)
}
.tabBarItem_b56b35 {
height: fit-content
}
.divider_d66e63 {
background: var(--profile-body-divider-color)
}
.platformIcon__05c5e {
margin: 2px 2px
}
.scroller__5a651 {
left: 12.5%
}

.userProfileOuterUnthemed__48723 .userPanelInner_eddf4c {
background: transparent
}

/* [[ EMBEDS ]] */
.embedFull__8dc21 {
overflow: hidden;
border-left: none;
z-index: 0;
width: 640px;
background: inherit;
margin-top: 0.5em
}
.embedFull__8dc21::before {
content: '';
position: absolute;
display: block;
height: 100%;
border-right: 100vw solid transparent;
border-color: inherit;
opacity: 0.5;
z-index: -1
}
.embedFull__8dc21::after {
content: '';
position: absolute;
display: block;
height: 100%;
width: 100%;
background: #00000099 !important;
opacity: 0.5;
z-index: -1;
background: inherit
}

/* [[ PLATFORM INDICATORS ]] */
:is(.membersWrap__90226, .privateChannels__93473) .vc-platform-indicator>svg {
width: 12.5px !important;
height: 12.5px !important;
margin-left: 0px;
margin-right: 0px
}
.contents_f41bb2 .vc-platform-indicator>svg {
width: 15px !important;
height: 15px !important;
margin-top: 2px
}
:is(.contents_f41bb2, .profileBadges__7a7cb, [class*=nameAndDecorators], .badgeList-2aoHPw):has(svg[fill="var(--green-360"]) .vc-platform-indicator>svg {
fill: var(--rs-online-color)
}
:is(.contents_f41bb2, .profileBadges__7a7cb, [class*=nameAndDecorators], .badgeList-2aoHPw):has(svg[fill="var(--yellow-300"]) .vc-platform-indicator>svg {
fill: var(--rs-idle-color)
}
:is(.contents_f41bb2, .profileBadges__7a7cb, [class*=nameAndDecorators], .badgeList-2aoHPw):has(svg[fill="var(--red-400"]) .vc-platform-indicator>svg {
fill: var(--rs-dnd-color)
}
:is(.contents_f41bb2, .profileBadges__7a7cb, [class*=nameAndDecorators], .badgeList-2aoHPw):has(svg[fill="var(--primary-400"]) .vc-platform-indicator>svg {
fill: #636b75
}
:is(.contents_f41bb2, .profileBadges__7a7cb, [class*=nameAndDecorators], .badgeList-2aoHPw):has(span[data-tag="bot"]) .vc-platform-indicator>svg {
fill: var(--rs-bot-color)
}

/* [[ TOOLTIPS ]] */
.reactionTooltip-3IOBwg {
background: var(--background-tertiary) !important
}
.theme-dark .tooltip__01384,
.toolbar_c7b525 {
background: var(--brand-experiment-900);
box-shadow: 0 0 0 1px var(--brand-experiment)
}
/* normal tooltips */
.theme-dark [class*=tooltipTop] .tooltipPointer_a79354 {
border-top-color: var(--brand-experiment);
scale: 1.5;
margin-top: 4px
}
.theme-dark [class*=tooltipBottom] .tooltipPointer_a79354 {
border-top-color: var(--brand-experiment);
scale: 1.5;
margin-bottom: 4px
}
/* guild tooltip */
.theme-dark [class*=tooltipRight] .tooltipPointer_a79354 {
border-top-color: var(--brand-experiment);
scale: 1.5;
left: -14px
}
.tooltipContent__79a2d {
padding: 4px 12px;
margin-bottom: 4px
}
/* text options tooltip */
.toolbar_c7b525:before {
border-top-color: var(--brand-experiment)
}
.theme-dark [class*=tooltipLeft] .tooltipPointer_a79354 {
border-top-color: var(--brand-experiment);
scale: 1.5;
margin-left: 5px;
}

/* [[ MEMBERS LIST ]] */
.members__9f47b {
background: var(--background-primary-alt);
margin: 0.25em;
padding: 0.25em;
max-width: 232px;
border-radius: 8px
}
.memberInner_a32223 {
margin-left: 7px
}
#vc-membercount {
margin: 0.5em 0em 0.5em 0.5em !important;
padding: 0.5em;
display: flex;
flex-direction: column;
align-items: center;
gap: 8px !important;
border-radius: 4px;
background: var(--background-modifier-accent)
}
#vc-membercount>div:nth-child(1)::after {
content: "Online";
margin-left: 0.25em;
color: var(--brand-experiment-360)
}
#vc-membercount>div:nth-child(2)::after {
content: "Members";
margin-left: 0.25em;
color: var(--primary-400)
}
#vc-membercount span {
font-weight: 800;
margin-left: -4px;
}
#vc-friendcount,
#vc-guildcount {
text-transform: none !important
}
.content__1a4fe.container__10dc7 {
padding: 0.5em;
flex-direction: column;
margin: 0.25em;
background: var(--background-primary-alt) !important
}
.scrollerContainer_bf5dbd {
background: transparent !important
}

/* [[ PINNED MESSAGES ]] */
[class*=messagesPopoutWrap_] {
background: var(--background-tertiary);
height: 80vh
}
[class*=messagesPopoutWrap_] .header_f5cc88 {
padding: 0.5em 1em;
text-align: center
}
[class*=messagesPopoutWrap_] .header_f5cc88 h1 {
font-weight: 800
}
[class*=messagesPopoutWrap_] .messageGroupWrapper_f8c6e9 {
border: unset;
margin: 0.5em 0 0.5em 0.5em;
padding: 0.5em 0.5em 0.5em 0
}
.jumpButton__0329d {
padding: 0.5em 0.5em 0
}
.jumpButton__0329d div {
margin-top: -2px
}

/* [[ INBOX TAB ]] */
[class*=messagesPopoutWrap_]>div {
max-height: 83vh;
padding: 0
}
[class*=messagesPopoutWrap_],
[class*=recentMentionsPopout_] {
height: 80vh
}
[class*=recentMentionsPopout_] .channelHeader__5d30c {
margin: 0 0 4px 0;
padding: 0 8px 0 20px;
}
[class*=recentMentionsPopout_] .container__2c498 {
background: var(--background-tertiary)
}
.collapseButton_b18eab {
left: 0;
margin-top: -4px
}
.badge_e08f91 {
border-radius: calc(4px);
background: var(--brand-experiment-900) !important;
box-shadow: 0 0 0 1.5px var(--brand-experiment);
top: 0
}
.messages_f7999e .avatar__08316 {
margin: -0.125em 0 0 0
}
.container__56e52 .channelHeader__5d30c {
margin-left: 16px;
margin-bottom: 4px;
border-radius: 8px
}
.channelHeader__5d30c .closeButton_ba6c7d {
margin-left: 0;
margin-right: 4px
}
.messageContainer_aa7d14 .avatar__08316 {
margin: -0.25em 0.5em 0 -0.25em
}
.jumpButton__24ca6 {
top: 16px;
padding: 8px
}
.jumpButton__24ca6 div {
margin-top: -3px
}

/* [[ PROFILE PANEL IN DMS ]] */
[class*=profilePanel_] {
margin: 0.25em
}
[class*=profilePanelConnections_] {
padding: 0 0.75em
}
:is(.mutualGuildsList__6e961, .mutualFriendsList__632b5)>ul {
margin: 0.5em 0
}
:is(.mutualGuildsList__6e961, .mutualFriendsList__632b5)>button {
background: transparent
}
[class*=connectionList_]>div {
padding: auto 0.5em;
margin: 0.5em;
}

/* [[ TITLEBAR ]] */
[class^=wordmarkWindows]>svg {
width: 19px
}
[class^=wordmarkWindows] path:first-child {
d: path("M23.0212 1.67671C21.3107 0.879656 19.5079 0.318797 17.6584 0C17.4062 0.461742 17.1749 0.934541 16.9708 1.4184C15.003 1.12145 12.9974 1.12145 11.0283 1.4184C10.819 0.934541 10.589 0.461744 10.3368 0.00546311C8.48074 0.324393 6.67795 0.885118 4.96746 1.68231C1.56727 6.77853 0.649666 11.7538 1.11108 16.652C3.10102 18.1418 5.3262 19.2743 7.69177 20C8.22338 19.2743 8.69519 18.4993 9.09812 17.691C8.32996 17.3997 7.58522 17.0424 6.87684 16.6135C7.06531 16.4762 7.24726 16.3387 7.42403 16.1847C11.5911 18.1749 16.408 18.1749 20.5763 16.1847C20.7531 16.3332 20.9351 16.4762 21.1171 16.6135C20.41 17.0369 19.6639 17.3997 18.897 17.691C19.3052 18.4993 19.7718 19.2689 20.3021 19.9945C22.6677 19.2689 24.8929 18.1364 26.8828 16.6466H26.8893C27.43 10.9731 25.9665 6.04728 23.0212 1.67671ZM9.68041 13.6383C8.39754 13.6383 7.34085 12.4453 7.34085 10.994C7.34085 9.54272 8.37155 8.34973 9.68041 8.34973C10.9893 8.34973 12.0395 9.54272 12.0187 10.994C12.0187 12.4453 10.9828 13.6383 9.68041 13.6383ZM18.3161 13.6383C17.0332 13.6383 15.9765 12.4453 15.9765 10.994C15.9765 9.54272 17.0124 8.34973 18.3161 8.34973C19.6184 8.34973 20.6751 9.54272 20.6543 10.994C20.6543 12.4453 19.6184 13.6383 18.3161 13.6383Z") !important;
scale: 2
}
[class^=wordmarkWindows] svg>g {
transform: translateY(-75%)
}
[class^=wordmarkWindows] {
display: flex;
align-items: center;
order: 1;
gap: 6px;
margin-right: auto;
color: var(--header-primary)
}
[class^=wordmarkWindows]::after {
content: "Modular " var(--modular-major-version) "." var(--modular-intermediate-version) "." var(--modular-small-version) " - " var(--titlebar-name);
display: flex;
width: fit-content;
font-size: 14px;
font-family: var(--font-display);
font-weight: 600;
background: var(--brand-experiment-700);
padding: 3px 6px 0
}
[class^=typeWindows] {
margin-top: 0;
height: fit-content;
background: var(--background-tertiary)
}
[class^=typeWindows]>* {
position: relative
}
[class^=winButton] {
top: 0 !important;
height: 36px;
width: 46px
}

/* [[ DAY AND UNREAD INDICATORS ]] */
.content_d67847 {
background: var(--brand-experiment-80a);
padding: 0.25em 0;
width: 100%;
text-align: center;
color: var(--interactive-active)
}
.isUnread__6f880 .content_d67847 {
color: var(--interactive-active)
}

/* [[ DMS SEARCH BAR ]] */
.searchBar_e4ea2a {
background: var(--background-primary-alt);
margin: 0.25em;
border-radius: 8px;
box-shadow: unset
}
.searchBar_e4ea2a .searchBarComponent__22760 {
text-align: center;
background: transparent;
font-size: 16px;
font-weight: 700
}
.searchBar_e4ea2a:hover {
background: var(--brand-experiment-700)
}
.searchBar_e4ea2a:hover .searchBarComponent__22760 {
color: var(--interactive-hover)
}

/* [[ USER PANEL ]] */
[class^=nameTag_][class*=canCopy_] {
margin-left: 5px
}
.container_ca50b9 {
display: flex;
flex-direction: column;
height: fit-content;
gap: 0px;
padding: 0;
margin: 0;
background: transparent !important
}
.container_ca50b9>.avatarWrapper_ba5175 {
width: 100%;
height: 50px;
padding: 0 16px;
margin: 0;
box-sizing: border-box;
border-radius: unset
}
.panels__58331 .container_ca50b9 .flex_f5fbb7 {
width: 100%;
justify-content: center;
gap: 0px
}
.container_ca50b9 button {
background: transparent;
height: 40px;
width: 100%;
border-radius: unset;
box-sizing: border-box
}
:is(.container_ca50b9 button, .withTagAsButton_cc125f):hover {
background: var(--brand-experiment-700) !important;
}
.container_ca50b9 .button_afdfd9:hover .contents_fb6220 {
color: var(--interactive-hover)
}
[class^=actionButtons_] {
display: flexbox;
order: -1;
box-sizing: border-box;
gap: 0;
padding-top: 0
}
[class^=actionButtons_] [class^=button_][class*=buttonColor_] {
height: 40px;
background: transparent;
}
[class^=actionButtons_] [class^=button_][class*=buttonColor_]:hover {
background: var(--brand-experiment-700) !important;
}
/*.theme-dark .container__7590f {
background: transparent
}*/
.panels__58331 {
background: var(--background-primary-alt) !important;
display: flex;
flex-direction: column;
box-sizing: border-box;
overflow: hidden;
margin: 0.25em;
border-radius: 8px;
position: relative;
transition: background 250ms ease-in-out
}
body:has(.vc-spotify-pause) .panels__58331 {
background: color-mix(in srgb, var(--brand-experiment) 25%, rgba(0, 0, 0, 0.25)) !important
}

/* [[ ONBOARDING SECTION ]] */
.theme-dark .container__7590f {
background: unset
}
.categoryText__3348f {
text-transform: capitalize;
font-size: 16px;
font-weight: 800
}
.pill_f055c3.small_d2f964 {
background: var(--background-tertiary-alt)
}
.container__767d1 {
background: var(--background-tertiary)
}
.container__767d1:hover {
background: var(--background-modifier-hover)
}
.channelRow__96673 {
background: var(--background-primary-alt) !important;
margin: 0.5em 0;
border-radius: 8px;
}
.newMosaicStyle__8d3be .textContainer__709ff {
border-radius: 8px 8px 0 0
}
.profile_b28ef9,
.pageBody_bfae74 {
max-height: calc(100% - 64px);
padding: 1em;
margin: 0.25em;
border-radius: 8px;
background: var(--background-primary-alt) !important
}
:is(.pageBody_bfae74>:not(.prompt__1b100), .profile_b28ef9) .text-xs-normal_ccc5fb {
margin-top: 0.5em;
text-align: center;
font-weight: 600;
font-size: 14px
}
.profile_b28ef9 .heading-md-semibold__7cb23 {
text-align: center
}
button[class*=returnButton_] {
background: var(--brand-experiment-900);
border: none;
padding: 0.5em 1em;
max-width: 500px !important;
zoom: 90%
}
button[class*=returnButton_]:hover {
background: var(--brand-experiment-700) !important
}
.checkIcon__5aa1f {
top: 0.5em;
right: 0.5em
}
.bio_b1b425, 
.username_de9680,
.title__01c32 {
text-align: center;
text-transform: none
}
.profileCard_bd55ee .blockquoteContainer_f24d1f {
justify-content: center;
}

/* [[ GUILD BOOSTS ]] */
.textArea_f2029c {
padding: 0 8px
}
.progressBar_db0972,
.progressBarContainer__9b571 {
height: 40px;
border-radius: 8px
}
.container__4f639,
.containerWithMargin__7d380 {
position: relative;
top: 25px;
margin: 0;
padding: 0;
width: 105%
}
.tadaIcon__3b97b {
right: 98%;
top: 6px;
translate: none;
font-size: 36px;
opacity: 0.5
}
.progressBarContainer__9b571 {
top: -40px;
z-index: -1
}
.progressBar_db0972 {
background: color-mix(in srgb, var(--brand-experiment) 50%, transparent)
}
.container__4f639:hover .progressBar_db0972 {
animation: 5s flicker linear infinite;
background: color-mix(in srgb, var(--brand-experiment) 75%, transparent)
}
.container__4f639:hover .tadaIcon__3b97b {
animation: 3s flicker linear infinite
}
@keyframes flicker {
0% {
opacity: 1
}
50% {
opacity: 0.5
}
100% {
opacity: 1
}
}

/* ------------------------------------------------ [[ UNSORTED ]] -------------------------------------- */

.chatContent__5dca8 {
box-sizing: border-box;
overflow: hidden;
background: var(--background-primary-alt);
margin: 0.25em;
border-radius: 8px
}
.sidebar_ded4b5 {
display: flex;
flex-direction: var(--sidebar-orientation);
max-width: 240px
}
.content__4bf10 {
flex-direction: var(--client-orientation)
}
.pageBody_db54f5 {
padding: 0.5em;
margin: 0.25em
}
.container__590e2 {
overflow: hidden;
padding: 0.5em;
margin: 0.25em;
border-radius: 8px;
background: var(--background-primary-alt) !important
}
.container__11d72 {
display: flex;
background: var(--background-primary-alt) !important;
max-width: calc(100% - 8px);
box-shadow: none;
margin: 0.25em 0 0.125em 0.25em;
padding: 0.5em;
border-radius: 8px
}
.resizeHandle_f1a098 {
height: 99%;
background: var(--background-tertiary-alt) !important;
margin-top: 0.4em
}
.container_b2ce9c {
background: transparent;
padding: 0
}
.container__8ee50 {
background: var(--background-primary-alt);
margin: 0.25em
}
.scroller__4b984 {
padding: 0.25em 0;
margin: 0.25em;
border-radius: 8px;
background: var(--background-primary-alt) !important
}
.fieldList_aab0de {
background: transparent
}
.userInfo__8f826 .button.button__4f306 {
background: var(--channel-icon);
margin-right: 0.75em
}
.actionButtons_b58cbb .lookFilled__19298.colorBrand_b2253e {
border-radius: unset;
background: transparent
}
.constrainedRow_b9e8cf .button.button__4f306 {
background: var(--button-secondary-background);
padding: 0.25em 0.5em;
margin: 0 0.5em
}
.containerDefault__3187b.wrapper__7bcde .link__95dc0 {
text-align: center;
background: var(--background-modifier-accent);
padding: 0.25em 0.5em
}


[class*=container_]>[class*=wrapper_][class*=userSelectNone_] {
padding: 1em;
margin: 0.5em 0 0.5em 0;
background: var(--background-tertiary) !important
}
div[class|="message"] div[class|="markup"] ol {
margin-left: unset;
list-style-position: inside !important
}
.peopleColumn__51df3 {
padding: 0.25em;
margin: 0.25em;
background: var(--background-primary-alt)
}
.buttonsContainer__96eb6>div {
margin: 0.25em;
font-weight: 800
}
.privateChannels__93473 {
background: transparent
}
.children__32014:after, .form__13a2c:before {
content: none
}
.contentWrapper__321ed {
background: var(--background-tertiary)
}
.wrapper__7a35f {
background: var(--background-modifier-selected);
margin: 0.5em 0
}
.container_e4c233 {
background: var(--background-modifier-selected)
}
.tabBar__73938 .addFriend__80542.addFriend__80542.addFriend__80542 {
background: var(--background-modifier-selected)
}
.tabBar__73938 .addFriend__80542.addFriend__80542.addFriend__80542:hover {
background: var(--background-modifier-hover)
}
.actionButton__23182 {
background: var(--background-modifier-selected)
}
.searchBar_ff8800 {
background: var(--background-modifier-selected)
}

[class*=circleIconButton_] {
color: var(--interactive-normal);
}
.formTitle-2YQyhj {
color: var(--header-primary);
font-size: 16px;
text-transform: none
}
.rowContainer-3t7486 {
background: var(--channel-icon)
}
.header__104ca {
padding: 0.5em;
margin: 0.25em 0.5em
}

.embedSpotify_d58077 {
padding: 0.25em 0
}
.nowPlayingColumn_f5023f {
margin: 0.25em 0.25em 0.75em 0.25em;
background: transparent
}
.container__0a6a9 {
background: var(--background-primary-alt);
padding: 0.25em
} 

/* [[ FORUM ]] */
.container-3wLKDe {
background: var(--background-primary-alt);
margin: 0.25em;
}
.container__99b06,
.mainCard-3KBsBI {
background: var(--background-primary-alt)
} 

.theme-dark .outer_a41cf3.interactive__01cfa:hover {
background: var(--background-modifier-selected)
}
.wrapper__6e669,.scroller__00e7e {
border: unset
}
.wrapper__6e669 {
background: var(--background-primary-alt)
}
.theme-dark .inset__0bfb3 {
background: transparent
}
.section_efc22d {
background: var(--background-modifier-accent)
}
.scroller__00e7e {
margin-left: 0
}
.theme-dark .pageWrapper_fef757 {
margin: 0.25em 0 0.25em 0.75em;
background: var(--background-primary-alt)
}
.arrow-2yY1Tm {
filter: brightness(10)
}
.title_dc625c,
.title__317f4,
.label__5447e,
.legend__31ccc{
text-transform: none;
font-size: 16px;
}
.tabBar__73938 .addFriend__80542.addFriend__80542.addFriend__80542 {
color: var(--header-secondary)
}
.reactionInner__00d5f[aria-pressed="false"] {
background: var(--background-modifier-accent)
}

.content__1a4fe {
flex-direction: var(--memberlist-orientation)
}
.tabBody_b3d268 {
flex-direction: var(--friendlist-orientation)
}
.linkButtonIcon__2f35b {
color: var(--interactive-active)
}
.placeholder_e68c63 {
color: var(--text-muted)
}
.theme-light .container__7590f {
background: transparent
}
.defaultColor__77578.text-lg-semibold__84aef {
margin-right: 0 !important
}
[class^=accountProfilePopoutWrapper_] {
left: 0
}
[class^=accountProfilePopoutWrapper_] [class*=userPopout] {
margin: 0;
width: fit-content
}
.footer__89240 > button:last-child {
margin-right: 1em
}
.scroller__3d071 {
padding: 0.25em 0
}
.scroller__3d071>button {
position: relative;
right: 6px;
background: var(--background-modifier-accent) !important
}
.scroller__3d071>button:hover {
background: var(--background-modifier-hover) !important
}
.container_a87c5e {
box-sizing: border-box;
overflow: hidden;
background: var(--background-primary-alt);
margin: 0.25em
}
.container__6968f,
.container__9c82e,
.container__9f90c {
background: var(--background-tertiary-alt)
}
.welcomeCTA__927ef button {
margin-top: 0.5em;
background: var(--background-modifier-accent) !important
}
.welcomeCTA__927ef button:hover {
background: var(--background-modifier-hover) !important
}
.overlayBackground__86b78 {
background: transparent
}
.badgeList_ef4131 {
background: transparent
}
.wrapperCommon_d71dee {
margin-top: -0.375em
}
.scroller_f0f183 .sectionDivider__68d2a,
.container__4f639:after,
.divider__3f2b0,
.tabBar__22a9a,
.separator__18122,
:is(.userPopoutInner_f545a3, .profilePanel__12596) [class*=divider_] {
background: transparent;
border-color: transparent
}
.container__5c7e7 {
background: transparent
}
::selection {
background: var(--brand-experiment)
}
.button__07531:hover {
background: var(--background-modifier-hover)
}
.navButton__05cc7 {
color: var(--interactive-muted)
}
.navButton__05cc7:hover,
.navButtonActive__735cb {
color: var(--interactive-active)
}

.iconWrapper_af9215 {
margin: 0 5px
}
.searchBar_e0c60b {
width: 100px;
padding: 0 0 0 5px
}
ul.resultsGroup_ea9b64 {
background: var(--background-primary)
}
[class*=option_]:hover {
background: var(--background-modifier-hover)
}
[class*=searchResultsWrap] {
background: var(--background-primary-alt);
border-bottom: none !important;
margin: 0.25em
}
.message_d8db25 {
padding: 1em 0
}
.channelNameContainer_e0c26c {
display: flex;
justify-content: center;
background: var(--background-modifier-selected);
padding: 0.25em;
border-radius: 8px
}
.searchHeader__19d87 {
background: var(--background-primary-alt);
border-radius: unset
}
.searchHeaderTabList__78b98.side_b4b3f6 .item__48dda {
background: var(--background-modifier-accent)
}
.searchHeaderTabList__78b98.side_b4b3f6 .selected__5711d.item__48dda {
background: var(--background-modifier-selected);
font-weight: 800
}
.searchHeaderTabList__78b98.side_b4b3f6 .item__48dda:hover {
background: var(--background-modifier-hover) !important
}
[class*=searchResult_] {
background: var(--background-modifier-accent);
border-bottom: none !important
}
.searchResult_dcd237:hover {
background: var(--background-modifier-hover)
}
button[class*=emojiButtonNormal]>div>div {
filter: scale(1) opacity(25%) !important
}
h3.container_de798d {
background: var(--background-modifier-accent);
border-radius: 4px;
padding: 0.25em;
box-sizing: border-box;
margin-bottom: 10px;
margin-left: 8px;
font-size: 14px;
text-align: center;
text-transform: none
}
h2.container_de798d {
background: var(--background-modifier-accent);
border-radius: 4px;
padding: 0.25em;
box-sizing: border-box;
margin: 0.5em 0 0.5em 0.5em;
font-size: 14px;
height: 24px;
text-align: center;
text-transform: none
}
h2.container_de798d .privateChannelRecipientsInviteButtonIcon__1e8fc {
top: -2px
}
.wrapperCommon_d71dee {
padding: 0
}
svg[class*=arrow_][class*=icon_] {
top: -15%;
width: 20px;
height: 20px;
left: 5%;
color: var(--interactive-muted)
}
svg[class*=addButtonIcon_] {
width: 15px;
height: 15px;
position: relative;
top: 2px
}
[class*=children_]>button[class*=addButton_] {
border-radius: 50%;
background: var(--background-modifier-accent);
top: -4px;
margin: 0 0 0 0.5em;
width: 20px;
height: 20px
}
.guildTitle_a1388f {
text-transform: none;
font-size: 14px
}
.collapseBtn_f82249 {
background: var(--background-primary)
}
.membersGroup__85843.container_de798d {
color: var(--text-normal);
background: var(--background-modifier-accent);
height: 24px;
margin: 0.5em 0 0.5em 0.5em;
border-radius: 4px;
padding-top: 4px;
font-size: 14px;
text-align: center
}
.container__4f20e {
margin: 0.25em 0 0 auto;
padding: 0;
background: transparent
}
.popoutContainer__2101b {
background: var(--background-primary)
}
.theme-dark .queryContainer_c359fe {
background: var(--background-primary) !important;
border-bottom: none !important
}
[class*=iconWrapper_]>svg {
color: var(--interactive-active);
padding: 2px
}
.name_f7323c {
color: var(--text-muted)
}
[class^="popout-"] [class^="row-"]:hover :is(.name_f7323c, .timestamp_e48059) {
color: var(--interactive-hover)
}
.button__07531:hover .icon__5a617,
.icon__5a617:hover,
[class*=iconWrapper_][class*=clickable_] [class*=icon_]:hover {
color: var(--interactive-hover) !important
}
.section__26a76 {
background: var(--background-primary)
}
.messagesPopout__22763 {
background: var(--background-tertiary)
}
.shiki-btn:last-child {
background: hsl(var(--primary-300-hsl)/1) !important
}
.connectedAccountContainer__23f00 {
border-width: 2px
}
.connectedAccountContainer__23f00:has(.connectedAccountOpenIcon_df549d:hover) {
background: var(--profile-body-divider-color)
}
.flowerStarContainer_d8d14b.connectedAccountVerifiedIcon_db6dbd>svg>path {
fill: var(--profile-body-divider-color);
filter: brightness(1) contrast(2)
}
:is([class*=attachButtonPlus_], .button_f0455c, [class*=iconWrapper_][class*=clickable_] [class*=icon_], .vc-toolbox-btn svg):hover {
fill: var(--brand-experiment);
color: var(--brand-experiment) !important
}
[class*=iconWrapper_][class*=clickable_][class*=selected]>svg,
:is(.vc-toolbox-btn:hover,.vc-toolbox-btn[class*="selected"]) svg {
color: var(--interactive-active) !important
}
.title_ef4a6d,
.title_d9bf6b,
.activity__20c1e .overflow__87fe8,
span[class*=headerLabel_],
[class*=pageBody_]>div>h2 {
text-transform: none;
font-size: 14px;
color: var(--header-primary) !important;
display: block;
text-align: center
}
:is(.chat__52833, .userPopoutInner_f545a3) .eyebrow_e5a66c {
text-transform: none;
font-size: 14px;
color: var(--header-primary);
display: block;
text-align: center
}
:not(.chat__52833, .userPopoutInner_f545a3) .eyebrow_e5a66c {
text-transform: none;
font-size: 14px;
color: var(--header-primary)
}
.item__48dda.themed_b957e8 {
font-size: 14px;
}
.wrapper_fbbb73 {
background: transparent
}
#SEARCH_OPTIONS-header,
#HISTORY-header {
text-transform: none;
font-size: 16px;
padding-top: 2px
}
.content__23cab .wrapper__7bcde {
align-items: center
}
.content__23cab .children_a486f8 {
padding-top: 0
}
.wrapper_c727b6 {
top: 16px
}
.mention,
.wrapper__2d9b1 {
padding: 0 0.25em
}
.wrapper_c727b6,
.full-motion .wrapper_c727b6:hover {
background: var(--brand-experiment-900);
box-shadow: 0 0 0 1.5px var(--brand-experiment)
}
.listItem_fa7b36:first-of-type {
margin: 8px 0
}

/* [[ ADDED IN v2.0.0 ]] */
.container_d6dad3 {
position: relative;
top: 0.75em
}
.wrapper__2d9b1 {
color: var(--brand-experiment-260);
background: var(--brand-experiment-50a);
}
.container__871ba.checked__6bdb0 {
background: var(--brand-experiment-400) !important;
}
path[fill="rgba(35, 165, 90, 1)"] {
fill: var(--brand-experiment-400) !important;
}
.premiumIconWrapper__83620 {
right: 16px;
top: 12px
}
.bar_e58961[style="background: var(--green-360);"] {
background: var(--primary-500) !important;
}
h1, h2, h3, h4, h5, h6 {
text-transform: none !important
}
.resultsGroup_ea9b64 .header_b24bd1 {
text-transform: none;
font-size: 14px
}
#my-account-tab h3 {
font-size: 14px
}
.content_dc3a33 a {
color: var(--brand-experiment-400)
}
.container_def45c {
background: transparent;
border-radius: 8px
}
.chatTarget__0ea5e,
.root_a28985:has(.userProfileModalOuter__3fe6b),
:is(.replying_d7b6ad, .mentioned__58017):hover {
background: unset !important;
}
.profilePanel__12596 .userPanelInner_eddf4c {
background: var(--background-primary-alt)
}
.wrapper_ece307 {
height: calc(100% - 16px);
width: calc(100% - 16px)
}
.barBase__4e0ba {
width: fit-content;
margin-left: auto
}
.theme-dark .searchFilter__118cb {
background: var(--brand-experiment)
}
.autocompleteAttached_ac1f6b {
margin: 0.5em 0.5em 0 0.5em;
padding: 0.5em;
border-radius: 8px !important;
}

