/* [[ REMADE DISCORD VARIABLES ]] */

:root, .theme-dark, .theme-light {
  --primary-100-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-lightness) + 96.00%);
  --primary-130-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-lightness) + 84.00%);
  --primary-160-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-lightness) + 72.00%);
  --primary-200-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-lightness) + 60.00%);
  --primary-230-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-lightness) + 52.00%);
  --primary-260-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-lightness) + 44.00%);   
  --primary-300-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-lightness) + 36.00%);      
  --primary-330-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-lightness) + 28.00%);
  --primary-345-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-lightness) + 24.00%);
  --primary-360-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-lightness) + 20.00%);
  --primary-400-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-lightness) + 16.00%);
  --primary-430-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-lightness) + 12.00%);
  --primary-460-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-lightness) + 10.00%);
  --primary-500-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-lightness) + 8.00%);
  --primary-530-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-lightness) + 6.00%);
  --primary-560-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-lightness) + 4.00%);
  --primary-600-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-lightness) + 0.00%);
  --primary-630-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-lightness) - 2.00%);
  --primary-645-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-lightness) - 4.00%);
  --primary-660-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-lightness) - 6.00%);
  --primary-700-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-lightness) - 8.00%);
  --primary-730-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-lightness) - 10.00%);
  --primary-760-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-lightness) - 12.00%);
  --primary-800-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-lightness) - 16.00%);
  --primary-830-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-lightness) - 20.00%);
  --primary-860-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-lightness) - 24.00%);
  --primary-900-hsl: var(--modular-hue) var(--modular-saturation) calc(var(--modular-lightness) - 28.00%);

  --brand-100-hsl: hsl(var(--primary-100-hsl)/1);
  --brand-130-hsl: hsl(var(--primary-130-hsl)/1);
  --brand-160-hsl: hsl(var(--primary-160-hsl)/1);
  --brand-200-hsl: hsl(var(--primary-200-hsl)/1);
  --brand-230-hsl: hsl(var(--primary-230-hsl)/1);
  --brand-260-hsl: hsl(var(--primary-260-hsl)/1);   
  --brand-300-hsl: hsl(var(--primary-300-hsl)/1);      
  --brand-330-hsl: hsl(var(--primary-330-hsl)/1);
  --brand-345-hsl: hsl(var(--primary-345-hsl)/1);
  --brand-360-hsl: hsl(var(--primary-360-hsl)/1);
  --brand-400-hsl: hsl(var(--primary-400-hsl)/1);
  --brand-430-hsl: hsl(var(--primary-430-hsl)/1);
  --brand-460-hsl: hsl(var(--primary-460-hsl)/1);
  --brand-500-hsl: hsl(var(--primary-500-hsl)/1);
  --brand-530-hsl: hsl(var(--primary-530-hsl)/1);
  --brand-560-hsl: hsl(var(--primary-560-hsl)/1);
  --brand-600-hsl: hsl(var(--primary-600-hsl)/1);
  --brand-630-hsl: hsl(var(--primary-630-hsl)/1);
  --brand-645-hsl: hsl(var(--primary-645-hsl)/1);
  --brand-660-hsl: hsl(var(--primary-660-hsl)/1);
  --brand-700-hsl: hsl(var(--primary-700-hsl)/1);
  --brand-730-hsl: hsl(var(--primary-730-hsl)/1);
  --brand-760-hsl: hsl(var(--primary-760-hsl)/1);
  --brand-800-hsl: hsl(var(--primary-800-hsl)/1);
  --brand-830-hsl: hsl(var(--primary-830-hsl)/1);
  --brand-860-hsl: hsl(var(--primary-860-hsl)/1);
  --brand-900-hsl: hsl(var(--primary-900-hsl)/1);

  --primary-100: hsl(var(--primary-100-hsl)/1);
  --primary-130: hsl(var(--primary-130-hsl)/1);
  --primary-160: hsl(var(--primary-160-hsl)/1);
  --primary-200: hsl(var(--primary-200-hsl)/1);
  --primary-230: hsl(var(--primary-230-hsl)/1);
  --primary-260: hsl(var(--primary-260-hsl)/1);   
  --primary-300: hsl(var(--primary-300-hsl)/1);      
  --primary-330: hsl(var(--primary-330-hsl)/1);
  --primary-345: hsl(var(--primary-345-hsl)/1);
  --primary-360: hsl(var(--primary-360-hsl)/1);
  --primary-400: hsl(var(--primary-400-hsl)/1);
  --primary-430: hsl(var(--primary-430-hsl)/1);
  --primary-460: hsl(var(--primary-460-hsl)/1);
  --primary-500: hsl(var(--primary-500-hsl)/1);
  --primary-530: hsl(var(--primary-530-hsl)/1);
  --primary-560: hsl(var(--primary-560-hsl)/1);
  --primary-600: hsl(var(--primary-600-hsl)/1);
  --primary-630: hsl(var(--primary-630-hsl)/1);
  --primary-645: hsl(var(--primary-645-hsl)/1);
  --primary-660: hsl(var(--primary-660-hsl)/1);
  --primary-700: hsl(var(--primary-700-hsl)/1);
  --primary-730: hsl(var(--primary-730-hsl)/1);
  --primary-760: hsl(var(--primary-760-hsl)/1);
  --primary-800: hsl(var(--primary-800-hsl)/1);
  --primary-830: hsl(var(--primary-830-hsl)/1);
  --primary-860: hsl(var(--primary-860-hsl)/1);
  --primary-900: hsl(var(--primary-900-hsl)/1);

  --brand-experiment-100: var(--brand-100-hsl);
  --brand-experiment-130: var(--brand-130-hsl);
  --brand-experiment-160: var(--brand-160-hsl);
  --brand-experiment-200: var(--brand-200-hsl);
  --brand-experiment-230: var(--brand-230-hsl);
  --brand-experiment-260: var(--brand-260-hsl);
  --brand-experiment-300: var(--brand-300-hsl);
  --brand-experiment-330: var(--brand-330-hsl);
  --brand-experiment-345: var(--brand-345-hsl);
  --brand-experiment-360: var(--brand-360-hsl);
  --brand-experiment-400: var(--brand-400-hsl);
  --brand-experiment-430: var(--brand-430-hsl);
  --brand-experiment-460: var(--brand-460-hsl);
  --brand-experiment-500: var(--brand-500-hsl);
  --brand-experiment-530: var(--brand-530-hsl);
  --brand-experiment-560: var(--brand-560-hsl);
  --brand-experiment-600: var(--brand-600-hsl);
  --brand-experiment-630: var(--brand-630-hsl);
  --brand-experiment-645: var(--brand-645-hsl);
  --brand-experiment-660: var(--brand-660-hsl);
  --brand-experiment-700: var(--brand-700-hsl);
  --brand-experiment-730: var(--brand-730-hsl);
  --brand-experiment-760: var(--brand-760-hsl);
  --brand-experiment-800: var(--brand-800-hsl);
  --brand-experiment-830: var(--brand-830-hsl);
  --brand-experiment-860: var(--brand-860-hsl);
  --brand-experiment-900: var(--brand-900-hsl);

  --brand-100: var(--brand-100-hsl);
  --brand-130: var(--brand-130-hsl);
  --brand-160: var(--brand-160-hsl);
  --brand-200: var(--brand-200-hsl);
  --brand-230: var(--brand-230-hsl);
  --brand-260: var(--brand-260-hsl);
  --brand-300: var(--brand-300-hsl);
  --brand-330: var(--brand-330-hsl);
  --brand-345: var(--brand-345-hsl);
  --brand-360: var(--brand-360-hsl);
  --brand-400: var(--brand-400-hsl);
  --brand-430: var(--brand-430-hsl);
  --brand-460: var(--brand-460-hsl);
  --brand-500: var(--brand-500-hsl);
  --brand-530: var(--brand-530-hsl);
  --brand-560: var(--brand-560-hsl);
  --brand-600: var(--brand-600-hsl);
  --brand-630: var(--brand-630-hsl);
  --brand-645: var(--brand-645-hsl);
  --brand-660: var(--brand-660-hsl);
  --brand-700: var(--brand-700-hsl);
  --brand-730: var(--brand-730-hsl);
  --brand-760: var(--brand-760-hsl);
  --brand-800: var(--brand-800-hsl);
  --brand-830: var(--brand-830-hsl);
  --brand-860: var(--brand-860-hsl);
  --brand-900: var(--brand-900-hsl);

  /* Reformatted, original credits to DaBluLite */

  /* [[ NITRO THEMES ]] */

  --aurora: linear-gradient(239.16deg, hsl(220 calc(var(--saturation-factor, 1)*86.5%) 17.5%/1) 10.39%, hsl(238 calc(var(--saturation-factor, 1)*76.4%) 41.6%/1) 26.87%, hsl(184 calc(var(--saturation-factor, 1)*78%) 33.9%/1) 48.31%, hsl(169 calc(var(--saturation-factor, 1)*60.2%) 32.5%/1) 64.98%, hsl(230 calc(var(--saturation-factor, 1)*92.5%) 26.3%/1) 92.5%);
  --forest: linear-gradient(162.27deg, hsl(124 calc(var(--saturation-factor, 1)*25.9%) 10.6%/1) 11.2%, hsl(143 calc(var(--saturation-factor, 1)*26.2%) 23.9%/1) 29.93%, hsl(76 calc(var(--saturation-factor, 1)*20.6%) 24.7%/1) 48.64%, hsl(117 calc(var(--saturation-factor, 1)*17%) 41.6%/1) 67.85%, hsl(43 calc(var(--saturation-factor, 1)*38.5%) 47.8%/1) 83.54%);
  --hanami: linear-gradient(38.08deg, hsl(352 calc(var(--saturation-factor, 1)*68.3%) 80.2%/1) 3.56%, hsl(43 calc(var(--saturation-factor, 1)*73.6%) 76.3%) 35.49%, hsl(116 calc(var(--saturation-factor, 1)*43.1%) 74.5%/1) 68.78%);
  --lofi: linear-gradient(179.52deg, hsl(220 calc(var(--saturation-factor, 1)*83.8%) 80.6%/1) 7.08%, hsl(184 calc(var(--saturation-factor, 1)*57.8%) 78.6%/1) 34.94%, hsl(130 calc(var(--saturation-factor, 1)*46.3%) 78.8%/1) 65.12%, hsl(76 calc(var(--saturation-factor, 1)*48.8%) 75.5%/1) 96.23%);
  --mint-apple: linear-gradient(180deg, hsl(166 calc(var(--saturation-factor, 1)*39.7%) 52.5%/1) 6.15%, hsl(119 calc(var(--saturation-factor, 1)*40.4%) 55.9%/1) 48.7%, hsl(87 calc(var(--saturation-factor, 1)*48.3%) 59.8%/1) 93.07%);
  --mars: linear-gradient(170.82deg, hsl(15 calc(var(--saturation-factor, 1)*36.3%) 39.4%/1) 14.61%, hsl(0 calc(var(--saturation-factor, 1)*36.2%) 41.2%/1) 74.62%);
  --neon-nights: linear-gradient(180deg, hsl(176 calc(var(--saturation-factor, 1)*98.8%) 33.1%/1) 0%, hsl(259 calc(var(--saturation-factor, 1)*39.5%) 55.3%) 50%, hsl(314 calc(var(--saturation-factor, 1)*52.5%) 46.3%/1) 100%);
  --retro-raincloud: linear-gradient(148.71deg, hsl(202 calc(var(--saturation-factor, 1)*47%) 42.9%/1) 5.64%, hsl(241 calc(var(--saturation-factor, 1)*29.6%) 61%/1) 26.38%, hsl(241 calc(var(--saturation-factor, 1)*29.6%) 61%/1) 49.92%, hsl(202 calc(var(--saturation-factor, 1)*47%) 42.9%/1) 73.12%);
  --strawberry-lemonade: linear-gradient(161.03deg, hsl(327 calc(var(--saturation-factor, 1)*74.1%) 39.4%/1) 18.79%, hsl(28 calc(var(--saturation-factor, 1)*71.7%) 44.3%/1) 49.76%, hsl(40 calc(var(--saturation-factor, 1)*80.2%) 52.5%/1) 80.72%);
  --sepia: linear-gradient(69.98deg, hsl(33 calc(var(--saturation-factor, 1)*14.2%) 45.7%/1) 14.14%, hsl(36 calc(var(--saturation-factor, 1)*46.8%) 24.3%/1) 60.35%);
  --midnight-blurple: linear-gradient(48.17deg, hsl(245 calc(var(--saturation-factor, 1)*55.1%) 53.7%/1) 11.21%, hsl(259 calc(var(--saturation-factor, 1)*74.5%) 10.8%/1) 61.92%);
  --chroma-glow: linear-gradient(128.92deg, hsl(183 calc(var(--saturation-factor, 1)*86.3%) 40.2%/1) 3.94%, hsl(258 calc(var(--saturation-factor, 1)*89.8%) 46.3%/1) 26.1%, hsl(298 calc(var(--saturation-factor, 1)*90.9%) 34.3%/1) 39.82%, hsl(265 calc(var(--saturation-factor, 1)*100%) 66.3%/1) 56.89%, hsl(207 calc(var(--saturation-factor, 1)*75.5%) 50.4%/1) 76.45%);
  --citrus-sherbert: linear-gradient(180deg, hsl(40 calc(var(--saturation-factor, 1)*88.7%) 58.2%/1) 31.1%, hsl(18 calc(var(--saturation-factor, 1)*81.5%) 63.9%/1) 67.09%);
  --cotton-candy: linear-gradient(180.14deg, hsl(349 calc(var(--saturation-factor, 1)*76.8%) 81.4%/1) 8.5%, hsl(226 calc(var(--saturation-factor, 1)*92.6%) 84.1%/1) 94.28%);
  --crimson-moon: linear-gradient(64.92deg, hsl(0 calc(var(--saturation-factor, 1)*88.6%) 31%/1) 16.17%, hsl(0 calc(var(--saturation-factor, 1)*0%) 0%/1) 72%);
  --desert-khaki: linear-gradient(38.99deg, hsl(29 calc(var(--saturation-factor, 1)*32.4%) 86.1%/1) 12.92%, hsl(40 calc(var(--saturation-factor, 1)*41.3%) 78.6%/1) 32.92%, hsl(50 calc(var(--saturation-factor, 1)*49.6%) 75.9%/1) 52.11%);
  --dusk: linear-gradient(180deg, hsl(293 calc(var(--saturation-factor, 1)*13.5%) 36.3%/1) 12.84%, hsl(223 calc(var(--saturation-factor, 1)*41%) 69.4%/1) 85.99%);
  --retro-storm: linear-gradient(148.71deg, hsl(202 calc(var(--saturation-factor, 1)*47%) 42.9%/1) 5.64%, hsl(241 calc(var(--saturation-factor, 1)*27.8%) 47.3%/1) 26.38%, hsl(241 calc(var(--saturation-factor, 1)*27.8%) 47.3%/1) 49.92%, hsl(202 calc(var(--saturation-factor, 1)*47%) 42.9%/1) 73.12%);
  --sunrise: linear-gradient(154.19deg, hsl(327 calc(var(--saturation-factor, 1)*42%) 43.9%/1) 8.62%, hsl(27 calc(var(--saturation-factor, 1)*44.9%) 58%/1) 48.07%, hsl(50 calc(var(--saturation-factor, 1)*46.3%) 44.5%/1) 76.04%);
  --sunset: linear-gradient(141.68deg, hsl(259 calc(var(--saturation-factor, 1)*55.6%) 35.3%/1) 27.57%, hsl(22 calc(var(--saturation-factor, 1)*66.7%) 57.6%/1) 71.25%);
  --under-the-sea: linear-gradient(179.14deg, hsl(115 calc(var(--saturation-factor, 1)*10.5%) 42.9%/1) 1.91%, hsl(159 calc(var(--saturation-factor, 1)*20.4%) 43.3%/1) 48.99%, hsl(175 calc(var(--saturation-factor, 1)*10.9%) 46.7%/1) 96.35%);
  --bg-overlay-1: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-1)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-1))) fixed 0 0/cover,var(--custom-theme-background) fixed 0 0/cover;
  --bg-overlay-2: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2))) fixed 0 0/cover,var(--custom-theme-background) fixed 0 0/cover;
  --bg-overlay-3: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-3)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-3))) fixed 0 0/cover,var(--custom-theme-background) fixed 0 0/cover;
  --bg-overlay-4: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-4)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-4))) fixed 0 0/cover,var(--custom-theme-background) fixed 0 0/cover;
  --bg-overlay-5: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-5)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-5))) fixed 0 0/cover,var(--custom-theme-background) fixed 0 0/cover;
  --bg-overlay-6: linear-gradient(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6)),rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6))) fixed 0 0/cover,var(--custom-theme-background) fixed 0 0/cover;
  --bg-overlay-hover: linear-gradient(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-hover-inverse)),rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-hover-inverse))) fixed 0 0/cover,linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-hover)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-hover))) fixed 0 0/cover,var(--custom-theme-background) fixed 0 0/cover;
  --bg-overlay-active: linear-gradient(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-active-inverse)),rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-active-inverse))) fixed 0 0/cover,linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-active)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-active))) fixed 0 0/cover,var(--custom-theme-background) fixed 0 0/cover;
  --bg-overlay-selected: linear-gradient(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-selected-inverse)),rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-selected-inverse))) fixed 0 0/cover,linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-selected)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-selected))) fixed 0 0/cover,var(--custom-theme-background) fixed 0 0/cover;
  --bg-overlay-chat: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-chat)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-chat))) fixed 0 0/cover,var(--custom-theme-background) fixed 0 0/cover;
  --bg-overlay-home: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-home)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-home))) fixed 0 0/cover,var(--custom-theme-background) fixed 0 0/cover;
  --bg-overlay-home-card: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-home-card)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-home-card))) fixed 0 0/cover,var(--custom-theme-background) fixed 0 0/cover;
  --bg-overlay-app-frame: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-app-frame)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-app-frame))) fixed 0 0/cover,var(--custom-theme-background) fixed 0 0/cover;

  /* [[ CATPPUCHIN COLORS ]] */

  /* Rosewater */
  --ctp-latte-rosewater: #dc8a78;
	--ctp-frappe-rosewater: #f2d5cf;
	--ctp-macchiato-rosewater: #f4dbd6;
	--ctp-mocha-rosewater: #f5e0dc;

  /* Flamingo */
	--ctp-latte-flamingo: #dd7878;
	--ctp-frappe-flamingo: #eebebe;
	--ctp-macchiato-flamingo: #f0c6c6;
	--ctp-mocha-flamingo: #f2cdcd;

  /* Pink */
	--ctp-latte-pink: #ea76cb;
	--ctp-frappe-pink: #f4b8e4;
	--ctp-macchiato-pink: #f5bde6;
	--ctp-mocha-pink: #f5c2e7;

  /* Mauve */
	--ctp-latte-mauve: #8839ef;
	--ctp-frappe-mauve: #ca9ee6;
	--ctp-macchiato-mauve: #c6a0f6;
	--ctp-mocha-mauve: #cba6f7;

  /* Red */
	--ctp-latte-red: #d20f39;
  --ctp-frappe-red: #e78284;
	--ctp-macchiato-red: #ed8796;
	--ctp-mocha-red: #f38ba8;

  /* Maroon */
	--ctp-latte-maroon: #e64553;
	--ctp-frappe-maroon: #ea999c;
	--ctp-macchiato-maroon: #ee99a0;
	--ctp-mocha-maroon: #eba0ac;

  /* Peach */
	--ctp-latte-peach: #fe640b;
	--ctp-frappe-peach: #ef9f76;
	--ctp-macchiato-peach: #f5a97f;
	--ctp-mocha-peach: #fab387;

  /* Yellow */
	--ctp-latte-yellow: #df8e1d;
	--ctp-frappe-yellow: #e5c890;
	--ctp-macchiato-yellow: #eed49f;
	--ctp-mocha-yellow: #f9e2af;

  /* Green */
	--ctp-latte-green: #40a02b;
	--ctp-frappe-green: #a6d189;
	--ctp-macchiato-green: #a6da95;
	--ctp-mocha-green: #a6e3a1;

  /* Teal */
	--ctp-latte-teal: #179299;
	--ctp-frappe-teal: #81c8be;
	--ctp-macchiato-teal: #8bd5ca;
	--ctp-mocha-teal: #94e2d5;

  /* Sky */
  --ctp-latte-sky: #04a5e5;
	--ctp-frappe-sky: #99d1db;
	--ctp-macchiato-sky: #91d7e3;
	--ctp-mocha-sky: #89dceb;

  /* Sapphire */
	--ctp-latte-sapphire: #209fb5;
	--ctp-frappe-sapphire: #85c1dc;
	--ctp-macchiato-sapphire: #7dc4e4;
	--ctp-mocha-sapphire: #74c7ec;

  /* Blue */
	--ctp-latte-blue: #1e66f5;
	--ctp-frappe-blue: #8caaee;
	--ctp-macchiato-blue: #8aadf4;
	--ctp-mocha-blue: #89b4fa;

  /* Lavender */
	--ctp-latte-lavender: #7287fd;
	--ctp-frappe-lavender: #babbf1;
	--ctp-macchiato-lavender: #b7bdf8;
	--ctp-mocha-lavender: #b4befe;
}

/* [[ CUSTOM THEME VARIABLES ]] */

.theme-dark {
  --bg-overlay-color: 0 0 0;
  --bg-overlay-color-inverse: 255 255 255;
  --bg-overlay-opacity-1: 0.85;
  --bg-overlay-opacity-2: 0.8;
  --bg-overlay-opacity-3: 0.7;
  --bg-overlay-opacity-4: 0.5;
  --bg-overlay-opacity-5: 0.4;
  --bg-overlay-opacity-6: 0.1;
  --bg-overlay-opacity-hover: 0.5;
  --bg-overlay-opacity-hover-inverse: 0.08;
  --bg-overlay-opacity-active: 0.45;
  --bg-overlay-opacity-active-inverse: 0.1;
  --bg-overlay-opacity-selected: 0.4;
  --bg-overlay-opacity-selected-inverse: 0.15;
  --bg-overlay-opacity-chat: 0.8;
  --bg-overlay-opacity-home: 0.85;
  --bg-overlay-opacity-home-card: 0.8;
  --bg-overlay-opacity-app-frame: var(--bg-overlay-opacity-4);
  --header-primary: hsl(var(--primary-160-hsl)/1);
  --header-secondary: hsl(var(--primary-200-hsl)/1);
  --interactive-active: hsl(var(--primary-160-hsl)/1);
  --interactive-normal: hsl(var(--primary-160-hsl)/1);
  --text-normal: hsl(var(--primary-160-hsl)/1);
  --text-muted: hsl(var(--primary-200-hsl)/0.75);
  --interactive-hover: hsl(var(--primary-130-hsl)/1);
  --mention-background: hsl(var(--primary-600-hsl)/0.25);
  --info-positive-foreground: hsl(var(--primary-200-hsl)/1);
  --status-positive-background: hsl(var(--primary-200-hsl)/1);
  --status-positive-text: hsl(var(--primary-600-hsl)/1);
  --channels-default: hsl(var(--primary-200-hsl)/0.5);
  --channel-text-area-placeholder: hsl(var(--primary-200-hsl)/0.5);
  --channeltextarea-background: hsl(var(--primary-600-hsl)/1);
  --background-primary: hsl(var(--primary-600-hsl)/1);
  --background-primary-alt: hsl(var(--primary-660-hsl)/var(--modular-transparency)) !important;
  --background-secondary: hsl(var(--primary-560-hsl)/1);
  --background-secondary-alt: hsl(var(--primary-560-hsl)/1);
  --background-tertiary: hsl(var(--primary-530-hsl)/1);
  --background-tertiary-alt: hsl(var(--primary-530-hsl)/0.5);
  --background-floating: hsl(var(--primary-500-hsl)/1);
  --background-modifier-accent: hsl(var(--primary-300-hsl)/var(--modular-transparency));
  --background-modifier-selected: hsl(var(--primary-300-hsl)/calc(var(--modular-transparency) + 20%));
  --background-modifier-hover: hsl(var(--primary-300-hsl)/calc(var(--modular-transparency) + 40%));
  --channel-icon: hsl(var(--primary-400-hsl)/1);
  --interactive-muted: hsl(var(--primary-230-hsl)/1)
}

.theme-light {
  --bg-overlay-color: 255 255 255;
  --bg-overlay-color-inverse: 0 0 0;
  --bg-overlay-opacity-1: 0.9;
  --bg-overlay-opacity-2: 0.8;
  --bg-overlay-opacity-3: 0.7;
  --bg-overlay-opacity-4: 0.6;
  --bg-overlay-opacity-5: 0.3;
  --bg-overlay-opacity-6: 0.15;
  --bg-overlay-opacity-hover: 0.7;
  --bg-overlay-opacity-hover-inverse: 0.02;
  --bg-overlay-opacity-active: 0.65;
  --bg-overlay-opacity-active-inverse: 0.03;
  --bg-overlay-opacity-selected: 0.6;
  --bg-overlay-opacity-selected-inverse: 0.04;
  --bg-overlay-opacity-chat: 0.9;
  --bg-overlay-opacity-home: 0.7;
  --bg-overlay-opacity-home-card: 0.9;
  --bg-overlay-opacity-app-frame: var(--bg-overlay-opacity-5);
  --header-primary: hsl(var(--primary-700-hsl)/1);
  --header-secondary: hsl(var(--primary-600-hsl)/1);
  --interactive-active: hsl(var(--primary-700-hsl)/1);
  --interactive-normal: hsl(var(--primary-630-hsl)/1);
  --text-normal: hsl(var(--primary-700-hsl)/1);
  --interactive-hover: hsl(var(--primary-600-hsl)/1);
  --text-muted: hsl(var(--primary-600-hsl)/0.6);
  --mention-background: hsl(var(--primary-400-hsl)/0.25);
  --info-positive-foreground: hsl(var(--primary-700-hsl)/1);
  --status-positive-background: hsl(var(--primary-200-hsl)/1);
  --status-positive-text: hsl(var(--primary-260-hsl)/1);
  --channels-default: hsl(var(--primary-700-hsl)/0.5);
  --channel-text-area-placeholder: hsl(var(--primary-700-hsl)/0.5);
  --channeltextarea-background: hsl(var(--primary-300-hsl)/1);
  --background-primary: hsl(var(--primary-300-hsl)/1);
  --background-primary-alt: hsl(var(--primary-200-hsl)/var(--modular-transparency)) !important;
  --background-secondary: hsl(var(--primary-260-hsl)/1);
  --background-secondary-alt: hsl(var(--primary-260-hsl)/1);
  --background-tertiary: hsl(var(--primary-230-hsl)/1);
  --background-tertiary-alt: hsl(var(--primary-230-hsl)/0.5);
  --background-floating: hsl(var(--primary-200-hsl)/1);
  --background-modifier-accent: hsl(var(--primary-160-hsl)/var(--modular-transparency));
  --background-modifier-selected: hsl(var(--primary-160-hsl)/calc(var(--modular-transparency) + 20%));
  --background-modifier-hover: hsl(var(--primary-160-hsl)/calc(var(--modular-transparency) + 40%));
  --channel-icon: hsl(var(--primary-700-hsl)/1);
  --interactive-muted: hsl(var(--primary-600-hsl)/1)
}

/* [[ NO LIGHT IN DARK BY DABLULITE ]] */
.footer-IubaaS {
  color: var(--header-primary);
}
.theme-dark .theme-light:not(.userProfileOuter-2tQwNf) {
  --guild-header-text-shadow: 0 1px 1px hsl(var(--black-500-hsl)/0.4);
  --elevation-stroke: 0 0 0 1px hsl(var(--primary-900-hsl)/0.15);
  --elevation-low: 0 1px 0 hsl(var(--primary-900-hsl)/0.2),0 1.5px 0 hsl(var(--primary-860-hsl)/0.05),0 2px 0 hsl(var(--primary-900-hsl)/0.05);
  --elevation-medium: 0 4px 4px hsl(var(--black-500-hsl)/0.16);
  --elevation-high: 0 8px 16px hsl(var(--black-500-hsl)/0.24);
  --shadow-border: 0 0 0 1px hsla(0,0%,100%,0.08);
  --shadow-border-filter: drop-shadow(0 0 1px hsla(0,0%,100%,0.08));
  --shadow-button-overlay: 0 12px 24px 0 rgba(0,0,0,0.24);
  --shadow-button-overlay-filter: drop-shadow(0 12px 24px rgba(0,0,0,0.24));
  --shadow-high: 0 12px 24px 0 rgba(0,0,0,0.24);
  --shadow-high-filter: drop-shadow(0 12px 24px rgba(0,0,0,0.24));
  --shadow-ledge: 0 2px 0 0 rgba(0,0,0,0.05),0 1.5px 0 0 rgba(0,0,0,0.05),0 1px 0 0 rgba(0,0,0,0.16);
  --shadow-ledge-filter: drop-shadow(0 1.5px 0 rgba(0,0,0,0.24));
  --shadow-low: 0 1px 4px 0 rgba(0,0,0,0.14);
  --shadow-low-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.14));
  --shadow-low-active: 0 0 4px 0 rgba(0,0,0,0.14);
  --shadow-low-active-filter: drop-shadow(0 0 4px rgba(0,0,0,0.14));
  --shadow-low-hover: 0 4px 10px 0 rgba(0,0,0,0.14);
  --shadow-low-hover-filter: drop-shadow(0 4px 10px rgba(0,0,0,0.14));
  --shadow-medium: 0 4px 8px 0 rgba(0,0,0,0.16);
  --shadow-medium-filter: drop-shadow(0 4px 8px rgba(0,0,0,0.16));
  --shadow-mobile-navigator-x: 0 0 10px 0 rgba(0,0,0,0.22);
  --shadow-mobile-navigator-x-filter: drop-shadow(0 0 10px rgba(0,0,0,0.22));
  --shadow-top-high: 0 -12px 32px 0 rgba(0,0,0,0.24);
  --shadow-top-high-filter: drop-shadow(0 -12px 32px rgba(0,0,0,0.24));
  --shadow-top-ledge: 0 -2px 0 0 rgba(0,0,0,0.05),0 -1.5px 0 0 rgba(0,0,0,0.05),0 -1px 0 0 rgba(0,0,0,0.16);
  --shadow-top-ledge-filter: drop-shadow(0 -1.5px 0 rgba(0,0,0,0.24));
  --shadow-top-low: 0 -1px 4px 0 rgba(0,0,0,0.14);
  --shadow-top-low-filter: drop-shadow(0 -1px 4px rgba(0,0,0,0.14));
  --activity-card-background: var(--primary-700);
  --android-navigation-bar-background: var(--primary-830);
  --android-navigation-scrim-background: hsl(var(--primary-830-hsl)/0.5);
  --android-ripple: hsl(var(--white-500-hsl)/0.07);
  --background-accent: var(--primary-530);
  --background-floating: var(--primary-800);
  --background-mentioned: hsl(var(--yellow-300-hsl)/0.1);
  --background-mentioned-hover: hsl(var(--yellow-300-hsl)/0.08);
  --background-message-automod: hsl(var(--red-400-hsl)/0.05);
  --background-message-automod-hover: hsl(var(--red-400-hsl)/0.1);
  --background-message-highlight: hsl(var(--brand-360-hsl)/0.08);
  --background-message-highlight-hover: hsl(var(--brand-360-hsl)/0.06);
  --background-message-hover: hsl(var(--primary-900-hsl)/0.06);
  --background-mobile-primary: var(--primary-600);
  --background-mobile-secondary: var(--primary-630);
  --background-modifier-accent: hsl(var(--primary-500-hsl)/0.48);
  --background-modifier-active: hsl(var(--primary-500-hsl)/0.48);
  --background-modifier-hover: hsl(var(--primary-500-hsl)/0.3);
  --background-modifier-selected: hsl(var(--primary-500-hsl)/0.6);
  --background-nested-floating: var(--primary-630);
  --background-primary: var(--primary-600);
  --background-secondary: var(--primary-630);
  --background-secondary-alt: var(--primary-660);
  --background-tertiary: var(--primary-700);
  --black: var(--black-500);
  --border-strong: hsl(var(--white-500-hsl)/0.16);
  --border-subtle: hsl(var(--white-500-hsl)/0.08);
  --bug-reporter-modal-submitting-background: hsl(var(--primary-800-hsl)/0.6);
  --button-creator-revenue-background: var(--teal-430);
  --button-danger-background: var(--red-430);
  --button-danger-background-active: var(--red-530);
  --button-danger-background-disabled: var(--red-430);
  --button-danger-background-hover: var(--red-500);
  --button-outline-brand-background: hsl(var(--white-500-hsl)/0);
  --button-outline-brand-background-active: var(--brand-560);
  --button-outline-brand-background-hover: var(--brand-500);
  --button-outline-brand-border: var(--brand-500);
  --button-outline-brand-border-active: var(--brand-560);
  --button-outline-brand-border-hover: var(--brand-500);
  --button-outline-brand-text: var(--white-500);
  --button-outline-brand-text-active: var(--white-500);
  --button-outline-brand-text-hover: var(--white-500);
  --button-outline-danger-background: hsl(var(--white-500-hsl)/0);
  --button-outline-danger-background-active: var(--red-460);
  --button-outline-danger-background-hover: var(--red-430);
  --button-outline-danger-border: var(--red-400);
  --button-outline-danger-border-active: var(--red-430);
  --button-outline-danger-border-hover: var(--red-430);
  --button-outline-danger-text: var(--white-500);
  --button-outline-danger-text-active: var(--white-500);
  --button-outline-danger-text-hover: var(--white-500);
  --button-outline-positive-background: hsl(var(--white-500-hsl)/0);
  --button-outline-positive-background-active: var(--green-530);
  --button-outline-positive-background-hover: var(--green-430);
  --button-outline-positive-border: var(--green-360);
  --button-outline-positive-border-active: var(--green-530);
  --button-outline-positive-border-hover: var(--green-430);
  --button-outline-positive-text: var(--white-500);
  --button-outline-positive-text-active: var(--white-500);
  --button-outline-positive-text-hover: var(--white-500);
  --button-outline-primary-background: hsl(var(--white-500-hsl)/0);
  --button-outline-primary-background-active: var(--primary-430);
  --button-outline-primary-background-hover: var(--primary-500);
  --button-outline-primary-border: var(--primary-500);
  --button-outline-primary-border-active: var(--primary-430);
  --button-outline-primary-border-hover: var(--primary-500);
  --button-outline-primary-text: var(--white-500);
  --button-outline-primary-text-active: var(--white-500);
  --button-outline-primary-text-hover: var(--white-500);
  --button-positive-background: var(--green-430);
  --button-positive-background-active: var(--green-530);
  --button-positive-background-disabled: var(--green-430);
  --button-positive-background-hover: var(--green-500);
  --button-secondary-background: var(--primary-500);
  --button-secondary-background-active: var(--primary-400);
  --button-secondary-background-disabled: var(--primary-500);
  --button-secondary-background-hover: var(--primary-430);
  --channel-icon: var(--primary-400);
  --channel-text-area-placeholder: var(--primary-430);
  --channels-default: var(--primary-360);
  --channeltextarea-background: var(--primary-560);
  --chat-background: var(--primary-600);
  --chat-border: var(--primary-700);
  --chat-input-container-background: var(--primary-600);
  --control-brand-foreground: var(--brand-360);
  --control-brand-foreground-new: var(--brand-360);
  --creator-revenue-icon-gradient-end: var(--teal-430);
  --creator-revenue-icon-gradient-start: var(--teal-360);
  --creator-revenue-info-box-background: hsl(var(--teal-430-hsl)/0.1);
  --creator-revenue-info-box-border: var(--teal-400);
  --creator-revenue-locked-channel-icon: var(--teal-345);
  --creator-revenue-progress-bar: var(--teal-400);
  --deprecated-card-bg: hsl(var(--primary-700-hsl)/0.6);
  --deprecated-card-editable-bg: hsl(var(--primary-700-hsl)/0.3);
  --deprecated-quickswitcher-input-background: var(--primary-400);
  --deprecated-quickswitcher-input-placeholder: hsl(var(--white-500-hsl)/0.3);
  --deprecated-store-bg: var(--primary-600);
  --deprecated-text-input-bg: var(--primary-700);
  --deprecated-text-input-border: hsl(var(--black-500-hsl)/0.3);
  --deprecated-text-input-border-disabled: var(--primary-700);
  --deprecated-text-input-border-hover: var(--primary-900);
  --deprecated-text-input-prefix: var(--primary-200);
  --display-banner-overflow-background: hsl(var(--primary-700-hsl)/0.5);
  --divider-strong: hsl(var(--white-500-hsl)/0.16);
  --divider-subtle: hsl(var(--white-500-hsl)/0.08);
  --focus-primary: var(--blue-345);
  --forum-post-extra-media-count-container-background: hsl(var(--primary-660-hsl)/0.8);
  --forum-post-tag-background: hsl(var(--primary-660-hsl)/0.9);
  --header-primary: var(--primary-130);
  --header-secondary: var(--primary-330);
  --home-background: var(--primary-645);
  --home-card-resting-border: hsl(var(--transparent-hsl)/0);
  --info-box-background: hsl(var(--blue-345-hsl)/0.1);
  --info-danger-background: hsl(var(--red-400-hsl)/0.1);
  --info-danger-foreground: var(--red-400);
  --info-danger-text: var(--white-500);
  --info-help-background: hsl(var(--blue-345-hsl)/0.1);
  --info-help-foreground: var(--blue-345);
  --info-help-text: var(--white-500);
  --info-positive-background: hsl(var(--green-360-hsl)/0.1);
  --info-positive-foreground: var(--green-360);
  --info-positive-text: var(--white-500);
  --info-warning-background: hsl(var(--yellow-300-hsl)/0.1);
  --info-warning-foreground: var(--yellow-300);
  --info-warning-text: var(--white-500);
  --input-background: var(--primary-700);
  --input-placeholder-text: var(--input-placeholder-text-dark);
  --interactive-active: var(--white-500);
  --interactive-hover: var(--primary-230);
  --interactive-muted: var(--primary-500);
  --interactive-normal: var(--primary-330);
  --live-stage-tile-border: hsl(var(--primary-500-hsl)/0.6);
  --logo-primary: var(--white-500);
  --mention-background: hsl(var(--brand-500-hsl)/0.3);
  --mention-foreground: var(--brand-260);
  --modal-background: var(--primary-600);
  --modal-footer-background: var(--primary-630);
  --profile-gradient-message-input-border: hsl(var(--primary-500-hsl)/0.48);
  --profile-gradient-note-background: hsl(var(--black-500-hsl)/0.3);
  --profile-gradient-overlay: hsl(var(--black-500-hsl)/0.6);
  --profile-gradient-overlay-synced-with-user-theme: hsl(var(--black-500-hsl)/0.8);
  --profile-gradient-profile-body-background-hover: hsl(var(--white-500-hsl)/0.16);
  --profile-gradient-role-pill-background: hsl(var(--primary-660-hsl)/0.5);
  --profile-gradient-role-pill-border: hsl(var(--white-500-hsl)/0.2);
  --profile-gradient-section-box: hsl(var(--black-500-hsl)/0.45);
  --redesign-activity-card-background: var(--primary-560);
  --redesign-activity-card-background-pressed: var(--primary-630);
  --redesign-activity-card-border: hsl(var(--white-500-hsl)/0.02);
  --redesign-button-danger-background: var(--red-430);
  --redesign-button-danger-pressed-background: var(--red-460);
  --redesign-button-danger-text: var(--white-500);
  --redesign-button-overlay-alpha-background: hsl(var(--black-500-hsl)/0.54);
  --redesign-button-overlay-alpha-pressed-background: hsl(var(--black-500-hsl)/0.64);
  --redesign-button-overlay-alpha-text: var(--white-500);
  --redesign-button-overlay-background: var(--white-500);
  --redesign-button-overlay-pressed-background: var(--primary-230);
  --redesign-button-overlay-text: var(--primary-860);
  --redesign-button-positive-background: var(--green-430);
  --redesign-button-positive-pressed-background: var(--green-460);
  --redesign-button-positive-text: var(--white-500);
  --redesign-button-primary-alt-background: hsl(var(--brand-500-hsl)/0);
  --redesign-button-primary-alt-border: var(--brand-360);
  --redesign-button-primary-alt-on-blurple-background: hsl(var(--brand-530-hsl)/0);
  --redesign-button-primary-alt-on-blurple-border: var(--white-500);
  --redesign-button-primary-alt-on-blurple-pressed-background: var(--brand-530);
  --redesign-button-primary-alt-on-blurple-pressed-border: var(--brand-360);
  --redesign-button-primary-alt-on-blurple-text: var(--white-500);
  --redesign-button-primary-alt-pressed-background: hsl(var(--brand-700-hsl)/0.16);
  --redesign-button-primary-alt-pressed-border: hsl(var(--brand-400-hsl)/0.5);
  --redesign-button-primary-alt-pressed-text: var(--brand-360);
  --redesign-button-primary-alt-text: var(--brand-360);
  --redesign-button-primary-background: var(--brand-500);
  --redesign-button-primary-on-blurple-background: var(--white-500);
  --redesign-button-primary-on-blurple-pressed-background: var(--brand-200);
  --redesign-button-primary-on-blurple-pressed-text: var(--brand-530);
  --redesign-button-primary-on-blurple-text: var(--brand-500);
  --redesign-button-primary-pressed-background: var(--brand-560);
  --redesign-button-primary-text: var(--white-500);
  --redesign-button-secondary-alt-background: var(--primary-530);
  --redesign-button-secondary-alt-pressed-background: var(--primary-560);
  --redesign-button-secondary-alt-text: var(--white-500);
  --redesign-button-secondary-background: var(--primary-460);
  --redesign-button-secondary-border: var(--primary-460);
  --redesign-button-secondary-pressed-background: var(--primary-500);
  --redesign-button-secondary-pressed-border: var(--primary-500);
  --redesign-button-secondary-text: var(--white-500);
  --redesign-input-control-selected: var(--brand-500);
  --redesign-only-background-active: var(--primary-530);
  --redesign-only-background-default: var(--primary-700);
  --redesign-only-background-overlay: var(--primary-600);
  --redesign-only-background-raised: var(--primary-630);
  --redesign-only-background-sunken: var(--primary-800);
  --scrollbar-auto-scrollbar-color-thumb: var(--primary-730);
  --scrollbar-auto-scrollbar-color-track: var(--primary-630);
  --scrollbar-auto-thumb: var(--primary-730);
  --scrollbar-auto-track: var(--primary-630);
  --scrollbar-thin-thumb: var(--primary-730);
  --scrollbar-thin-track: hsl(var(--black-500-hsl)/0);
  --spoiler-hidden-background: var(--primary-700);
  --spoiler-revealed-background: var(--primary-660);
  --status-danger: var(--red-400);
  --status-danger-background: var(--red-400);
  --status-danger-text: var(--white-500);
  --status-dnd: var(--red-400);
  --status-idle: var(--yellow-300);
  --status-offline: var(--primary-360);
  --status-online: var(--green-360);
  --status-positive: var(--green-360);
  --status-positive-background: var(--green-430);
  --status-positive-text: var(--white-500);
  --status-warning: var(--yellow-300);
  --status-warning-background: var(--yellow-300);
  --status-warning-text: var(--black-500);
  --text-brand: var(--brand-360);
  --text-danger: var(--red-345);
  --text-link: var(--blue-345);
  --text-link-low-saturation: var(--blue-330);
  --text-muted: var(--primary-360);
  --text-normal: var(--primary-230);
  --text-positive: var(--green-330);
  --text-warning: var(--yellow-300);
  --textbox-markdown-syntax: var(--primary-360);
  --user-profile-header-overflow-background: hsl(var(--primary-700-hsl)/0.5);
  --white: var(--white-500);
}
.theme-dark .theme-light .footerSeparator-3U8YsT {
  -webkit-box-shadow: inset 0 1px 0 hsl(var(--primary-630-hsl)/.6);
  box-shadow: inset 0 1px 0 hsl(var(--primary-630-hsl)/.6);
}
.theme-dark .theme-light .rootWithShadow-2hdL2J {
  -webkit-box-shadow: var(--dark-elevation-border),var(--dark-elevation-high);
  box-shadow: var(--dark-elevation-border),var(--dark-elevation-high);
}
